automatedbulkemailtomcacompanies2-xE8DbEgZCnB2IYOq.json
{"createdAt":"2025-06-02T06:25:17.921Z","updatedAt":"2025-06-04T09:25:52.000Z","id":"xE8DbEgZCnB2IYOq","name":"AutomatedBulkEmailtoMCACompanies2","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU","mode":"list","cachedResultName":"MCA-DEC2024","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1782037321,"mode":"list","cachedResultName":"Indian Companies Ext Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU/edit#gid=1782037321"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-100,0],"id":"82c665f5-c44e-4e03-9cdc-7f8c8b08f012","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"HReFMiGdaroT67gG","name":"Google Sheets Trigger account"}}},{"parameters":{"promptType":"define","text":"=You are {{ $json['SENDER NAME'] }}, an AI assistant from GreyNext Software Consultancy.\nUsing the input data below, generate a professional transactional email in JSON format with the following structure:\njson\nCopyEdit\n{\n  \"email_from\":{{ $json['SENDER EMAIL'] }} ,\n  \"email_to\": {{ $('Google Sheets Trigger').item.json['Email Id'] }},\n  \"email_subject\": \"<subject_line>\",\n  \"email_body\": \"<email_body_in_plain-text>\"\n}\nInput Data:\n* COMPANY NAME: {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }}\n* COMPANY EMAIL: {{ $('Google Sheets Trigger').item.json['COMPANY EMAIL'] }}\n* DATE OF INCORPORATION: {{ $('Google Sheets Trigger').item.json['DATE OF INCORPORATION'] }}\n* COMPANY TYPE: {{ $('Google Sheets Trigger').item.json['COMPANY TYPE'] }}\n* SENDER EMAIL: {{ $json['SENDER EMAIL'] }}\n* MEETING_LINK: {{ $json['CALENDLY MEETING LINK'] }}\nRequirements:\n* The email should confirm a scheduled meeting (e.g., a consultation) or acknowledge a project milestone without definitive delivery claims.\n* The subject should be clear and straightforward, for example:\n    * \"Your Web Development Consultation is Scheduled\"\n    * \"Your Mobile App Development Consultation is Scheduled\"\n    * \"Your Android App Development Consultation is Scheduled\"\n    * \"Your iOS App Development Consultation is Scheduled\"\n    * \"Your AI Automation Consultation is Scheduled\"\n    * \"Your Complementary Business Consultation is Scheduled\"\n    * \"Your Complementary Software Consultation is Scheduled\"\n    * \"Your Complementary AI Consultation is Scheduled\"\n    * \"Your Complementary Business Consultation is Scheduled\"\n    * \"Delivered: Your Full Stack Website for {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }} is Ready\" (but avoid this exact phrase in the body)\n    * \"Delivered: AI Automation for {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }} is Ready\" (but avoid this exact phrase in the body)\n    * \"Delivered: Your Mobile App for {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }} is Ready\" (but avoid this exact phrase in the body)\n\n\n* The email body must be between 350-500 characters.\n* Avoid marketing or promotional language that sounds like a sales pitch.\n* Do NOT use any phrasing that directly confirms or claims project delivery or completion, such as:\n    * \"Your full stack website is now ready\"\n    * \"Your project has been delivered\"\n    * \"We are pleased to notify you\"\n    * \"We are pleased to confirm\"\n    * \"Your website project is complete\"\n    * Or any similar definitive delivery or marketing statements.\n* Instead, use neutral, suggestive, or open-ended language that invites review, discussion, or next steps, for example:\n    * \"Your project files are available for review\"\n    * \"Please find details for your upcoming consultation\"\n    * \"You may now access your project dashboard\"\n    * \"We encourage you to discuss how AI Automation, website development, or mobile apps can support your goals\"\n* Start with sentences like:\n    * \"Your project files are available for review\"\n    * \"Please find details for your upcoming consultation\"\n    * \"You may now access your project dashboard\"\n    * \"You may now schedule your meeting with us.\"\n    * \"You may now schedule your meeting with us for AI automation\"\n    * \"You may now schedule your meeting with us for Website developement\"\n    * \"We encourage you to discuss how AI Automation, website development, or mobile apps can support your goals\"\n* Subtly mention GreyNext’s services like AI Automation, Website Development, and Mobile App Development without sounding promotional.\n* Mention that other new age businesses registered recently also took advantage of GreyNext’s services, phrased in a factual and transactional tone.\n* Include the MEETING_LINK naturally as the meeting joining link.\n* End with a clear, professional sign-off from GreyNext Software Consultancy.\n* Include the note: \"This is an automated message. For questions, please contact info@greynext.com.\"\n* Keep the tone transactional, neutral, and factual, suitable for notifications that avoid spam or legal issues.\nExample output format:\njson\nCopyEdit\n{\n  \"email_from\": {{ $json['SENDER EMAIL'] }},\n  \"email_to\": {{ $('Google Sheets Trigger').item.json['COMPANY EMAIL'] }},\n  \"email_subject\": \"Your Web Development Consultation is Scheduled\",\n  \"email_body\": \"Dear {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }},\\n\\nPlease find the details for your upcoming consultation here:{{ $json['CALENDLY MEETING LINK'] }} .\\nSeveral new businesses registered in under Ministry of Corporate Affairs have also chosen to explore AI automation, website, and mobile app development with us.\\nWe look forward to discussing how these solutions can help meet your company’s goals.\\n\\nGreyNext Software Consultancy\\n\\nThis is an automated message. For questions, please contact info@greynext.site.\"\n}\n-GENERATE THE EMAIL BODY CONTENT IN A VERY DIRECT AND PROFESSIONAL MANNER.\n\n- NEAR THE CALL TO ACTION, THE OBJECTIVE SHOULD BE CLEAR THAT WE ALSO PROVIDE SERVICES LIKE AI AUTOMATION, WEBSITE DEVELOPMENT AND MOBILE APP DEVELOPMENT.\n- At the end of the email also details like Regards,  {{ $json['SENDER NAME'] }} ,{{ $json['EMPLOYEE ROLE'] }} \n","hasOutputParser":true,"options":{"systemMessage":"=You are {{ $json['SENDER NAME'] }}, {{ $json['EMPLOYEE ROLE'] }}  at GreyNext Software Consultancy.\n\nGenerate a professional, clear, and concise transactional email in JSON format with this structure:\n\n{\n  \"email_from\": \"donotreply@greynext.site\",\n  \"email_to\": \"<company_email>\",\n  \"email_subject\": \"<subject_line>\",\n  \"email_body\": \"<email_body>\"\n}\n\nThe email should:\n\n- Address the recipient using the COMPANY NAME.\n- Use a straightforward subject line reflecting a meeting confirmation or project delivery.\n- Avoid marketing language or promotional tone.\n- Confirm scheduled meetings or notify about project delivery in a factual, polite manner.\n- Reference COMPANY TYPE, DATE OF INCORPORATION, and COMPANY PHONE NUMBER only if relevant.\n- Close professionally with GreyNext Software Consultancy.\n- Include a note that the email is automated and provide a contact email for further assistance.\n-GENERATE THE EMAIL BODY IN PLAIN TEXT WHICH LOOKS MINIMAL AND HAS BLUE AS PRIMARY COLOR.\n\nKeep the tone transactional and neutral, suitable for transactional notifications.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[600,0],"id":"91ef9da3-c43a-4e0b-b892-4bb26e57de83","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[500,240],"id":"5f362c6f-0842-40f8-9675-1a3917d66410","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"A6BhdcrKjxPL9uU0","name":"Google Gemini(PaLM) Api account - GreyNextAccount"}}},{"parameters":{"jsonSchemaExample":"{\n  \"email_from\": \"donotreply@greynext.site\",\n  \"email_to\": \"hello@greynext.com\",\n  \"email_subject\": \"Just a hello\",\n  \"email_body\": \"This is the body\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[880,240],"id":"a12cbde7-b66d-4ad9-9012-805e7357b42d","name":"Structured Output Parser"},{"parameters":{"documentId":{"__rl":true,"value":"1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ","mode":"list","cachedResultName":"Company Automated Emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1146767402,"mode":"list","cachedResultName":"AvailableEmails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ/edit#gid=1146767402"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json.number }}"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[860,-320],"id":"03b2a7a1-6c47-470a-a75d-7203a84a76d6","name":"Google Sheets","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json.number = Math.floor(Math.random() * 3) + 1;\n}\n\nreturn $input.all()[0];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,-720],"id":"68a1e743-4481-4fcf-a606-6a40df0732fe","name":"Code"},{"parameters":{"promptType":"define","text":"=Email Body: {{ $json.output.email_body }}","hasOutputParser":true,"options":{"systemMessage":"=From the given email body content, create a HTML email body which is minimal, has a Call to action Button and the primary color should be Blue.\nRemember:\n-It should look minimal yet premium.\n- Give only the HTML code and nothing else.\n- DO NOT WRITE '```html' in the beginning."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1060,-140],"id":"0e91eb03-4370-48e8-af28-0f6ef77d9fde","name":"AI Agent2"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1080,260],"id":"8cb7cd44-4998-4da0-a33a-499d3941d713","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"A6BhdcrKjxPL9uU0","name":"Google Gemini(PaLM) Api account - GreyNextAccount"}}},{"parameters":{"promptType":"define","text":"=You are {{ $json['SENDER NAME'] }}, an AI assistant from GreyNext Software Consultancy.\nUsing the input data below, generate a professional transactional email in JSON format with the following structure:\njson\nCopyEdit\n{\n  \"email_from\":{{ $json['SENDER EMAIL'] }} ,\n  \"email_to\": {{ $('Google Sheets Trigger').item.json['Email Id'] }},\n  \"email_subject\": \"<subject_line>\",\n  \"email_body\": \"<email_body>\"\n}\nInput Data:\n* COMPANY NAME: {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }}\n* COMPANY EMAIL: {{ $('Google Sheets Trigger').item.json['COMPANY EMAIL'] }}\n* DATE OF INCORPORATION: {{ $('Google Sheets Trigger').item.json['DATE OF INCORPORATION'] }}\n* COMPANY TYPE: {{ $('Google Sheets Trigger').item.json['COMPANY TYPE'] }}\n* SENDER EMAIL: {{ $json['SENDER EMAIL'] }}\n* MEETING_LINK: {{ $json['CALENDLY MEETING LINK'] }}\nRequirements:\n* The email should confirm a scheduled meeting (e.g., a consultation) or acknowledge a project milestone without definitive delivery claims.\n* The subject should be clear and straightforward, for example:\n    * \"Your Web Development Consultation is Scheduled\"\n    * \"Delivered: Your Full Stack Website for {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }} is Ready\" (but avoid this exact phrase in the body)\n* The email body must be between 350-500 characters.\n* Avoid marketing or promotional language that sounds like a sales pitch.\n* Do NOT use any phrasing that directly confirms or claims project delivery or completion, such as:\n    * \"Your full stack website is now ready\"\n    * \"Your project has been delivered\"\n    * \"We are pleased to notify you\"\n    * \"We are pleased to confirm\"\n    * \"Your website project is complete\"\n    * Or any similar definitive delivery or marketing statements.\n* Instead, use neutral, suggestive, or open-ended language that invites review, discussion, or next steps, for example:\n    * \"Your project files are available for review\"\n    * \"Please find details for your upcoming consultation\"\n    * \"You may now access your project dashboard\"\n    * \"We encourage you to discuss how AI Automation, website development, or mobile apps can support your goals\"\n* Start with sentences like:\n    * \"Your project files are available for review\"\n    * \"Please find details for your upcoming consultation\"\n    * \"You may now access your project dashboard\"\n    * \"We encourage you to discuss how AI Automation, website development, or mobile apps can support your goals\"\n* Subtly mention GreyNext’s services like AI Automation, Website Development, and Mobile App Development without sounding promotional.\n* Mention that other new age businesses registered in the same month also took advantage of GreyNext’s services, phrased in a factual and transactional tone.\n* Include the MEETING_LINK naturally as the meeting joining link.\n* End with a clear, professional sign-off from GreyNext Software Consultancy.\n* Include the note: \"This is an automated message. For questions, please contact support@greynext.site.\"\n* Keep the tone transactional, neutral, and factual, suitable for notifications that avoid spam or legal issues.\nExample output format:\njson\nCopyEdit\n{\n  \"email_from\": {{ $json['SENDER EMAIL'] }},\n  \"email_to\": {{ $('Google Sheets Trigger').item.json['COMPANY EMAIL'] }},\n  \"email_subject\": \"Your Web Development Consultation is Scheduled\",\n  \"email_body\": \"Dear {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }},\\n\\nPlease find the details for your upcoming consultation here:{{ $json['CALENDLY MEETING LINK'] }} .\\nSeveral new businesses registered in under Ministry of Corporate Affairs have also chosen to explore AI automation, website, and mobile app development with us.\\nWe look forward to discussing how these solutions can help meet your company’s goals.\\n\\nGreyNext Software Consultancy\\n\\nThis is an automated message. For questions, please contact info@greynext.site.\"\n}\n-GENERATE THE EMAIL BODY CONTENT IN A VERY DIRECT AND PROFESSIONAL MANNER.\n-ADD A CALL TO ACTION BUTTON 'SCHEDULE AN APOINTMENT'\n- NEAR THE CALL TO ACTION BUTTON THE OBJECTIVE SHOULD BE CLEAR THAT WE ALSO PROVIDE SERVICES LIKE AI AUTOMATION, WEBSITE DEVELOPMENT AND MOBILE APP DEVELOPMENT. FONT WEIGHT w-500 and in h1 tag\n- At the end of the email also details like Regards,  {{ $json['SENDER NAME'] }} ,{{ $json['EMPLOYEE ROLE'] }} \n","hasOutputParser":true,"options":{"systemMessage":"=You are {{ $json['SENDER NAME'] }}, {{ $json['EMPLOYEE ROLE'] }}  at GreyNext Software Consultancy.\n\nGenerate a professional, clear, and concise transactional email in JSON format with this structure:\n\n{\n  \"email_from\": \"donotreply@greynext.site\",\n  \"email_to\": \"<company_email>\",\n  \"email_subject\": \"<subject_line>\",\n  \"email_body\": \"<email_body>\"\n}\n\nThe email should:\n\n- Address the recipient using the COMPANY NAME.\n- Use a straightforward subject line reflecting a meeting confirmation or project delivery.\n- Avoid marketing language or promotional tone.\n- Confirm scheduled meetings or notify about project delivery in a factual, polite manner.\n- Reference COMPANY TYPE, DATE OF INCORPORATION, and COMPANY PHONE NUMBER only if relevant.\n- Close professionally with GreyNext Software Consultancy.\n- Include a note that the email is automated and provide a contact email for further assistance.\n-GENERATE THE EMAIL BODY IN HTML WHICH LOOKS MINIMAL AND HAS BLUE AS PRIMARY COLOR.\n\nKeep the tone transactional and neutral, suitable for transactional notifications.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[700,520],"id":"16b93a70-c065-4331-a50c-bb54184bbafe","name":"AI Agent1"},{"parameters":{"jsCode":"let texto = $input.first().json.output.replace(/[\\n\\r\\t]/g, \" \")  // Reemplaza saltos de línea, retorno de carro y tabulaciones por espacio\n  // .replace(/['\"\\\\]/g, \"\")      // Elimina comillas simples, dobles y barras invertidas\n  .replace(/\\s+/g, \" \")        // Reemplaza múltiples espacios por un solo espacio\n  .replace(/```/g, \"\")\n  .replace(/html/g, \"\")\n  .replace(/<>/g, \"<html>\")\n  .replace(/<\\/>/g, \"</html>\")  \n  .trim();                     // Elimina los espacios en blanco al inicio y al final\n\nreturn {\n  email_body_content: texto\n}"},"id":"53cc35e8-2c9b-450e-b636-b627857945b7","name":"textCleaner1","type":"n8n-nodes-base.code","position":[1600,0],"typeVersion":2},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-400],"id":"33f61d4f-527f-4e90-ae83-02a03b0cd71f","name":"Loop Over Items"},{"parameters":{"chatId":"-4976195425","text":"=Email sent successfully. Here are the details: \n\n\nCompany Name:  {{ $('Code').item.json['Company Name'] }} \n\nCompany Email: {{ $('Code').item.json['Email Id'] }}\n\nCompany Address: {{ $('Code').item.json['Registered Address'] }}\n\nEmail Subject: {{ $('AI Agent').item.json.output.email_subject }}\n\nEmail Body: {{ $('AI Agent').item.json.output.email_body }}\n\nSENT BY: {{ $('AI Agent').item.json.output.email_from }}\n","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"2de60adb-70c8-4773-a310-73de91bd4fcf","name":"sendTextMessage1","type":"n8n-nodes-base.telegram","position":[3140,-180],"webhookId":"e1fad6d4-bd4e-4853-8bf5-f5514032f391","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"-4976195425","text":"=Emals sent to all the companies.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"ab4a117c-1f8d-40db-ae95-7e78617cf8df","name":"sendTextMessage","type":"n8n-nodes-base.telegram","position":[420,-760],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('AI Agent').item.json.output.email_from }}","rightValue":"arnab@greynext.site","operator":{"type":"string","operation":"contains"},"id":"e0c9b765-05cf-42b0-95ee-126534b8a2af"}],"combinator":"and"},"renameOutput":true,"outputKey":"arnab@greynext.site"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"67adc2c8-08ea-43d7-bae8-c92ab0455fad","leftValue":"={{ $('AI Agent').item.json.output.email_from }}","rightValue":"donotreply@greynext.site","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"donotreply@greynext.site"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"827b2759-f838-433c-92b2-2212ddb1de31","leftValue":"={{ $('AI Agent').item.json.output.email_from }}","rightValue":"sujata@greynext.site","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sujata@greynext.site"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2080,-240],"id":"99031916-be95-4e7b-a789-90b3a5355df9","name":"Switch","alwaysOutputData":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"fromEmail":"={{ $('AI Agent').item.json.output.email_from }}","toEmail":"={{ $('AI Agent').item.json.output.email_to }}","subject":"={{ $('AI Agent').item.json.output.email_subject }}","html":"={{ $json.email_body_content }}","options":{"appendAttribution":false,"bccEmail":"donotreply@greynext.site","replyTo":"info@greynext.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2300,-840],"id":"398c404e-5f20-41fc-9fe6-4a9456878e67","name":"arnab@greynext.site","webhookId":"9b1294a7-732f-4777-a8f0-f42599453b02","retryOnFail":true,"executeOnce":false,"credentials":{"smtp":{"id":"jWA3hAimFmNzkky9","name":"SMTP donotreply@greynext.site"}},"onError":"continueErrorOutput"},{"parameters":{"fromEmail":"={{ $('AI Agent').item.json.output.email_from }}","toEmail":"={{ $('AI Agent').item.json.output.email_to }}","subject":"={{ $('AI Agent').item.json.output.email_subject }}","html":"={{ $json.email_body_content }}","options":{"appendAttribution":false,"bccEmail":"donotreply@greynext.site","replyTo":"info@greynext.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2440,-540],"id":"11753ff0-de8c-448e-8540-c14c42e6e36b","name":"donotreply@greynext.site","webhookId":"71912dac-dd27-4edd-b2af-81defb3820a1","credentials":{"smtp":{"id":"jWA3hAimFmNzkky9","name":"SMTP donotreply@greynext.site"}}},{"parameters":{"fromEmail":"={{ $('AI Agent').item.json.output.email_from }}","toEmail":"={{ $('AI Agent').item.json.output.email_to }}","subject":"={{ $('AI Agent').item.json.output.email_subject }}","html":"={{ $json.email_body_content }}","options":{"appendAttribution":false,"bccEmail":"donotreply@greynext.site","replyTo":"info@greynext.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2560,-300],"id":"ee8e03f5-488f-4761-8a2a-9fe90f4bf326","name":"sujata@greynext.site1","webhookId":"5800e07c-80ab-4e23-a496-582a0a06afb1","credentials":{"smtp":{"id":"fy5mjPalF0B9esOi","name":"SMTP account - sujata@greynext.site"}}},{"parameters":{"chatId":"-4976195425","text":"=🚨 CRITICAL ALERT: Something went wrong in routing the emails. Tried 3 times.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"cddd6c1f-25d0-4b68-9169-e3a906c3e306","name":"sendTextMessage2","type":"n8n-nodes-base.telegram","position":[2600,-140],"webhookId":"76c16cb9-b43e-4a08-bc21-d35fb0b65492","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}}],"connections":{"AI Agent":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Sheets":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"AI Agent2":{"main":[[{"node":"textCleaner1","type":"main","index":0}]]},"textCleaner1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"sendTextMessage","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"sendTextMessage1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"arnab@greynext.site","type":"main","index":0}],[{"node":"donotreply@greynext.site","type":"main","index":0}],[{"node":"sujata@greynext.site1","type":"main","index":0}],[{"node":"sendTextMessage2","type":"main","index":0}]]},"arnab@greynext.site":{"main":[[{"node":"sendTextMessage1","type":"main","index":0}],[]]},"donotreply@greynext.site":{"main":[[{"node":"sendTextMessage1","type":"main","index":0}]]},"sujata@greynext.site1":{"main":[[{"node":"sendTextMessage1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU","sheetId":1782037321,"lastIndexChecked":725}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0a246072-57c1-4ba3-9a52-83150c74f525","triggerCount":1,"tags":[]}