companywebscraper2-behrjO72NjxCWj5r.json
{"createdAt":"2025-06-02T05:45:59.153Z","updatedAt":"2025-06-04T09:25:50.000Z","id":"behrjO72NjxCWj5r","name":"CompanyWebScraper2","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"cin","value":"={{ $json.cin }}"},{"name":"company-name","value":"={{ $json.company_name }}"}]},"options":{}},"id":"6937582c-f2a2-4182-8cd2-aef518012dcc","name":"Set Company Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[280,-80]},{"parameters":{"url":"={{`https://api.scraperapi.com/?api_key=${$json['SCRAPER API KEY']}&url=https://www.indiafilings.com/search/${$('Google Sheets1').item.json[' Company Name']}-cin-${$('Google Sheets1').item.json[' CIN']}&render=true`}}","options":{}},"id":"83d201a3-e627-48e5-95b6-983542139890","name":"ScraperAPI Call","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[580,400]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nconst extractedText = extractTextFromHTML(data);\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,-200],"id":"64049222-5de9-4972-b67c-706480dbf3b8","name":"HTML CODE CLEANUP"},{"parameters":{"promptType":"define","text":"=Given Data: [{{ $json.text }}]","options":{"systemMessage":"From the given data below, extract and structure the data in JSON.\nFormat:\n{\n  \"CIN\": \"\",\n  \"Company Name\": \"\",\n  \"ROC Code\": \"\",\n  \"Registration Number\": \"\",\n  \"Company Category\": \"\",\n  \"Company SubCategory\": \"\",\n  \"Class of Company\": \"\",\n  \"Authorised Capital(Rs)\": \"\",\n  \"Paid up Capital(Rs)\": \"\",\n  \"Date of Incorporation\": \"\",\n  \"Registered Address\": \"\",\n  \"Address other than R/o where all or any books of account and papers are maintained\": \"\",\n  \"Email Id\": \"\",\n  \"Whether Listed or not\": \"\",\n  \"Suspended at stock exchange\": \"\",\n  \"Company Status (for efiling)\": \"\",\n  \"Last Updated On\": \"\",\n  \"Directors/Signatory Details\": [\n    {\n      \"DIN/PAN\": \"\",\n      \"Name\": \"\",\n      \"Begin Date\": \"\"\n    },\n    {\n      \"DIN/PAN\": \"\",\n      \"Name\": \"\",\n      \"Begin Date\": \"\"\n    }\n  ]\n}\n- DO NOT INCLUDE ANY SYMBOLS LIKE '\\n' , triple quotation marks.\n- START DIRECTLY WITH THE JSON.\n- IT SHOULD LOOK LIKE A PERFECT JSON\n- DATA SHOULD BE ACCURATE\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1080,-200],"id":"d95d5bdf-1422-4e99-9e22-9761695b7fa2","name":"AI Agent","retryOnFail":false,"maxTries":2},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[960,160],"id":"5a59c295-fb0a-4147-826d-f0c87779fed4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"A6BhdcrKjxPL9uU0","name":"Google Gemini(PaLM) Api account - GreyNextAccount"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU","mode":"list","cachedResultName":"MCA-DEC2024","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1782037321,"mode":"list","cachedResultName":"Indian Companies Ext Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU/edit#gid=1782037321"},"columns":{"mappingMode":"defineBelow","value":{"CIN":"={{ $json.CIN }}","Company Name":"={{ $json['Company Name'] }}","ROC Code":"={{ $json['ROC Code'] }}","Registration Number":"={{ $json['Registration Number'] }}","Company Category":"={{ $json['Company Category'] }}","Company SubCategory":"={{ $json['Company SubCategory'] }}","Class of Company":"={{ $json['Class of Company'] }}","Authorised Capital(Rs)":"={{ $json['Authorised Capital(Rs)'] }}","Paid up Capital(Rs)":"={{ $json['Paid up Capital(Rs)'] }}","Date of Incorporation":"={{ $json['Date of Incorporation'] }}","Registered Address":"={{ $json['Registered Address'] }}","Address other than R/o where all or any books of account and papers are maintained":"={{ $json['Address other than R/o where all or any books of account and papers are maintained'] }}","Email Id":"={{ $json['Email Id'] }}","\"Whether Listed or not":"={{ $json['Whether Listed or not'] }}","Suspended at stock exchange":"={{ $json['Suspended at stock exchange'] }}","Company Status (for efiling)":"={{ $json['Company Status (for efiling)'] }}","Last Updated On":"={{ $json['Last Updated On'] }}","Directors/Signatory Details":"={{ $json['Directors/Signatory Details'] }}"},"matchingColumns":[],"schema":[{"id":"CIN","displayName":"CIN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ROC Code","displayName":"ROC Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registration Number","displayName":"Registration Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Category","displayName":"Company Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company SubCategory","displayName":"Company SubCategory","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Class of Company","displayName":"Class of Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Authorised Capital(Rs)","displayName":"Authorised Capital(Rs)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Paid up Capital(Rs)","displayName":"Paid up Capital(Rs)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date of Incorporation","displayName":"Date of Incorporation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registered Address","displayName":"Registered Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Address other than R/o where all or any books of account and papers are maintained","displayName":"Address other than R/o where all or any books of account and papers are maintained","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Id","displayName":"Email Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"\"Whether Listed or not","displayName":"\"Whether Listed or not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Suspended at stock exchange","displayName":"Suspended at stock exchange","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Status (for efiling)","displayName":"Company Status (for efiling)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Updated On","displayName":"Last Updated On","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Directors/Signatory Details","displayName":"Directors/Signatory Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2340,-160],"id":"32deaafa-667b-48d3-a7f1-40f7ecd6cfe5","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let texto = $input.first().json.output.replace(/[\\n\\r\\t]/g, \" \")  // Reemplaza saltos de línea, retorno de carro y tabulaciones por espacio\n  // .replace(/['\"\\\\]/g, \"\")      // Elimina comillas simples, dobles y barras invertidas\n  .replace(/\\s+/g, \" \")        // Reemplaza múltiples espacios por un solo espacio\n  .replace(/```/g, \"\")\n  .replace(/json/g, \"\")\n  .trim();                     // Elimina los espacios en blanco al inicio y al final\n\nreturn {\n  text: texto\n}"},"id":"43dd7e78-c62c-4638-8e0e-efaff076a5c5","name":"textCleaner1","type":"n8n-nodes-base.code","position":[1560,-140],"typeVersion":2},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.text }}","options":{}},"id":"393d7ecf-38e9-47e7-834d-1452533389ce","name":"errorPreprocessor1","type":"n8n-nodes-base.set","position":[1960,-360],"typeVersion":3.4},{"parameters":{"documentId":{"__rl":true,"value":"1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU","mode":"list","cachedResultName":"MCA-DEC2024","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":294765277,"mode":"list","cachedResultName":"Indian Companies","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU/edit#gid=294765277"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-20,-100],"id":"4750ad84-859b-4cd6-8e3b-c36bbbe3f745","name":"Google Sheets1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let cin =  $input.first().json[' CIN']\nlet name = $input.first().json[' Company Name']|| \"\";\nlet texto = name\n  .trim()\n  .replace(/\\s+/g, \"-\")   // replaces all whitespace (space, tab, newline) with a single dash\n  .toLowerCase();         // optional: if you want it in all caps\n\nreturn {\n  company_name: texto,\n  cin: cin\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[360,-280],"id":"61cd6839-3608-4c5c-ae00-0c5ff5155f52","name":"Code"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[280,-500],"id":"4e63f188-2d18-477a-86c2-0d65045c82e4","name":"Loop Over Items"},{"parameters":{"fromEmail":"donotreply@greynext.site","toEmail":"theanurupmillan@gmail.com","subject":"Posted on LinkedIn and Facebook","emailFormat":"text","text":"You post has been posted on linkedIn and Facebook.","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[700,-620],"id":"7ff3ec4c-787d-4b08-8b3c-a961e030c76f","name":"Send Email","webhookId":"47f39287-4853-41ba-a5db-e55d4653ec04","credentials":{"smtp":{"id":"jWA3hAimFmNzkky9","name":"SMTP donotreply@greynext.site"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU","mode":"list","cachedResultName":"MCA-DEC2024","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":294765277,"mode":"list","cachedResultName":"Indian Companies","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dw2eY0sqiUmskiNadIDlcRg3tgQdqSPDR_nIl1qcnEU/edit#gid=294765277"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2480,-820],"id":"505e6b8d-d348-4323-86c7-6e547f52f2ce","name":"Google Sheets-Delete the row","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s","mode":"list","cachedResultName":"ErrorLogs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-900,40],"id":"6808a0f7-448d-480f-ac1a-f8dec272be48","name":"Google Sheets Trigger1","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"HReFMiGdaroT67gG","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab2f8b76-599d-44bc-a42e-bcb5708bc6ba","leftValue":"={{ $json['UNIQUE PROCESS WORKFLOW NAME'] }}","rightValue":"CompanyWebScraper2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-520,180],"id":"27d08193-ba18-44bf-8904-df7e967dee15","name":"If"},{"parameters":{"chatId":"-4801660393","text":"=🚨 CRITICAL ALERT: ERROR TRIGGER ACTIVATED ON COMPANY WEB SCRAPPER 2. -- CHECK FOR OTHER DATA","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"a235ee7c-c66c-43f3-ba53-04b9bfec9324","name":"sendTextMessage","type":"n8n-nodes-base.telegram","position":[-40,500],"webhookId":"fd938c9e-c173-4d00-80d9-5954e1787ca2","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json.number = Math.floor(Math.random() * 3) + 1;\n}\n\nreturn $input.all()[0];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,-80],"id":"bb2360f2-f603-4ae0-a86b-bcab8d5e4900","name":"RandomUserPicker"},{"parameters":{"documentId":{"__rl":true,"value":"1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ","mode":"list","cachedResultName":"Company Automated Emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1146767402,"mode":"list","cachedResultName":"AvailableEmails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ/edit#gid=1146767402"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json.number }}"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[280,120],"id":"342e1791-ff5e-4c27-8977-c8083aadf77b","name":"Google Sheets-STAFF DATA","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}}],"connections":{"Set Company Info":{"main":[[{"node":"RandomUserPicker","type":"main","index":0}]]},"ScraperAPI Call":{"main":[[{"node":"HTML CODE CLEANUP","type":"main","index":0}]]},"HTML CODE CLEANUP":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"textCleaner1","type":"main","index":0}],[]]},"textCleaner1":{"main":[[{"node":"errorPreprocessor1","type":"main","index":0}]]},"errorPreprocessor1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Set Company Info","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Sheets-Delete the row","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send Email","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Google Sheets-Delete the row":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets Trigger1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"sendTextMessage","type":"main","index":0}]]},"RandomUserPicker":{"main":[[{"node":"Google Sheets-STAFF DATA","type":"main","index":0}]]},"Google Sheets-STAFF DATA":{"main":[[{"node":"ScraperAPI Call","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8Hy8BAUjweqnosaD"},"staticData":{"node:Google Sheets Trigger1":{"documentId":"13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s","sheetId":0,"lastIndexChecked":830}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1607bbc2-0c2d-4264-97c9-7c687dab45fa","triggerCount":1,"tags":[]}