company-automated-emails-CWlyv1c2eNXkUjaB.json
{"createdAt":"2025-06-01T13:13:26.279Z","updatedAt":"2025-06-04T09:25:55.000Z","id":"CWlyv1c2eNXkUjaB","name":"Company Automated Emails","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ","mode":"list","cachedResultName":"Company Automated Emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1839973845,"mode":"list","cachedResultName":"Form Responses 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ/edit#gid=1839973845"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"id":"2c531de1-15ff-4431-8866-06afec4979cd","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"HReFMiGdaroT67gG","name":"Google Sheets Trigger account"}}},{"parameters":{"promptType":"define","text":"=You are {{ $json['SENDER NAME'] }}, an AI assistant from GreyNext Software Consultancy.\nUsing the input data below, generate a professional transactional email in JSON format with the following structure:\njson\nCopyEdit\n{\n  \"email_from\":{{ $json['SENDER EMAIL'] }} ,\n  \"email_to\": {{ $('Google Sheets Trigger').item.json['COMPANY EMAIL'] }},\n  \"email_subject\": \"<subject_line>\",\n  \"email_body\": \"<email_body>\"\n}\nInput Data:\n* COMPANY NAME: {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }}\n* COMPANY EMAIL: {{ $('Google Sheets Trigger').item.json['COMPANY EMAIL'] }}\n* DATE OF INCORPORATION: {{ $('Google Sheets Trigger').item.json['DATE OF INCORPORATION'] }}\n* COMPANY TYPE: {{ $('Google Sheets Trigger').item.json['COMPANY TYPE'] }}\n* SENDER EMAIL: {{ $json['SENDER EMAIL'] }}\n* MEETING_LINK: {{ $json['CALENDLY MEETING LINK'] }}\nRequirements:\n* The email should confirm a scheduled meeting (e.g., a consultation) or acknowledge a project milestone without definitive delivery claims.\n* The subject should be clear and straightforward, for example:\n    * \"Your Web Development Consultation is Scheduled\"\n    * \"Delivered: Your Full Stack Website for {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }} is Ready\" (but avoid this exact phrase in the body)\n* The email body must be between 350-500 characters.\n* Avoid marketing or promotional language that sounds like a sales pitch.\n* Do NOT use any phrasing that directly confirms or claims project delivery or completion, such as:\n    * \"Your full stack website is now ready\"\n    * \"Your project has been delivered\"\n    * \"We are pleased to notify you\"\n    * \"We are pleased to confirm\"\n    * \"Your website project is complete\"\n    * Or any similar definitive delivery or marketing statements.\n* Instead, use neutral, suggestive, or open-ended language that invites review, discussion, or next steps, for example:\n    * \"Your project files are available for review\"\n    * \"Please find details for your upcoming consultation\"\n    * \"You may now access your project dashboard\"\n    * \"We encourage you to discuss how AI Automation, website development, or mobile apps can support your goals\"\n* Start with sentences like:\n    * \"Your project files are available for review\"\n    * \"Please find details for your upcoming consultation\"\n    * \"You may now access your project dashboard\"\n    * \"We encourage you to discuss how AI Automation, website development, or mobile apps can support your goals\"\n* Subtly mention GreyNext’s services like AI Automation, Website Development, and Mobile App Development without sounding promotional.\n* Mention that other new age businesses registered in the same month also took advantage of GreyNext’s services, phrased in a factual and transactional tone.\n* Include the MEETING_LINK naturally as the meeting joining link.\n* End with a clear, professional sign-off from GreyNext Software Consultancy.\n* Include the note: \"This is an automated message. For questions, please contact support@greynext.site.\"\n* Keep the tone transactional, neutral, and factual, suitable for notifications that avoid spam or legal issues.\nExample output format:\njson\nCopyEdit\n{\n  \"email_from\": {{ $json['SENDER EMAIL'] }},\n  \"email_to\": {{ $('Google Sheets Trigger').item.json['COMPANY EMAIL'] }},\n  \"email_subject\": \"Your Web Development Consultation is Scheduled\",\n  \"email_body\": \"Dear {{ $('Google Sheets Trigger').item.json['COMPANY NAME'] }},\\n\\nPlease find the details for your upcoming consultation here:{{ $json['CALENDLY MEETING LINK'] }} .\\nSeveral new businesses registered in under Ministry of Corporate Affairs have also chosen to explore AI automation, website, and mobile app development with us.\\nWe look forward to discussing how these solutions can help meet your company’s goals.\\n\\nGreyNext Software Consultancy\\n\\nThis is an automated message. For questions, please contact info@greynext.site.\"\n}\n-GENERATE THE EMAIL BODY IN HTML WHICH LOOKS MINIMAL AND HAS BLUE AS PRIMARY COLOR.\n-ADD A CALL TO ACTION BUTTON 'SCHEDULE AN APOINTMENT'\n- NEAR THE CALL TO ACTION BUTTON THE OBJECTIVE SHOULD BE CLEAR THAT WE ALSO PROVIDE SERVICES LIKE AI AUTOMATION, WEBSITE DEVELOPMENT AND MOBILE APP DEVELOPMENT. FONT WEIGHT w-500 and in h1 tag\n- At the end of the email also details like Regards,  {{ $json['SENDER NAME'] }} ,{{ $json['EMPLOYEE ROLE'] }} \n\n- Make sure the HTML EMAIL DESIGN IS INSPIRED FROM MACOS UI.","hasOutputParser":true,"options":{"systemMessage":"=You are {{ $json['SENDER NAME'] }}, {{ $json['EMPLOYEE ROLE'] }}  at GreyNext Software Consultancy.\n\nGenerate a professional, clear, and concise transactional email in JSON format with this structure:\n\n{\n  \"email_from\": \"donotreply@greynext.site\",\n  \"email_to\": \"<company_email>\",\n  \"email_subject\": \"<subject_line>\",\n  \"email_body\": \"<email_body>\"\n}\n\nThe email should:\n\n- Address the recipient using the COMPANY NAME.\n- Use a straightforward subject line reflecting a meeting confirmation or project delivery.\n- Avoid marketing language or promotional tone.\n- Confirm scheduled meetings or notify about project delivery in a factual, polite manner.\n- Reference COMPANY TYPE, DATE OF INCORPORATION, and COMPANY PHONE NUMBER only if relevant.\n- Close professionally with GreyNext Software Consultancy.\n- Include a note that the email is automated and provide a contact email for further assistance.\n-GENERATE THE EMAIL BODY IN HTML WHICH LOOKS MINIMAL AND HAS BLUE AS PRIMARY COLOR.\n\nKeep the tone transactional and neutral, suitable for transactional notifications.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[540,-40],"id":"baa5c068-0ef0-4e32-8663-b7a450a92f41","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[440,200],"id":"9f014651-b704-431c-a274-2364fd99d430","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZVDoZ9qJ7Fkvbo9r","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n  \"email_from\": \"donotreply@greynext.site\",\n  \"email_to\": \"hello@greynext.com\",\n  \"email_subject\": \"Just a hello\",\n  \"email_body\": \"This is the body\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[820,200],"id":"89e21d8d-4c03-493b-8949-d3c85f6739ca","name":"Structured Output Parser"},{"parameters":{"fromEmail":"={{ $json.output.email_from }}","toEmail":"={{ $json.output.email_to }}","subject":"={{ $json.output.email_subject }}","html":"={{ $json.output.email_body }}","options":{"appendAttribution":false,"bccEmail":"theanurupmillan@gmail.com, greynextcare@gmail.com, cybroxidetechnologies@gmail.com","replyTo":"info@greynext.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[880,-40],"id":"c595571a-e5f0-4147-a065-49ad62f7794c","name":"Send Email","webhookId":"535906c1-1069-445c-b22c-2bc0a5f982f6","credentials":{"smtp":{"id":"FioXHmqPSjXJViw3","name":"SMTP account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ","mode":"list","cachedResultName":"Company Automated Emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1146767402,"mode":"list","cachedResultName":"AvailableEmails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ/edit#gid=1146767402"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[260,40],"id":"e5948606-ca8b-422a-82ae-d4bd787acf1c","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ","sheetId":1839973845,"lastRevision":67,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ&revision=67&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ab7e9955-cd0c-4bca-9f4e-192e92e2429b","triggerCount":1,"tags":[]}