companywebscraper-vuaBq4CPFwBcqU5V.json
{"createdAt":"2025-06-01T19:43:59.585Z","updatedAt":"2025-06-04T09:25:49.000Z","id":"vuaBq4CPFwBcqU5V","name":"CompanyWebScraper","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"cin","value":"={{ $json.cin }}"},{"name":"company-name","value":"={{ $json.company_name }}"}]},"options":{}},"id":"935a3c35-ff4c-4330-8afd-41613f78545f","name":"Set Company Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[340,40]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nconst extractedText = extractTextFromHTML(data);\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,-200],"id":"0d64aa4c-36e1-48d9-9bf2-7c6b141d4398","name":"HTML CODE CLEANUP"},{"parameters":{"promptType":"define","text":"=Given Data: [{{ $json.text }}]","options":{"systemMessage":"From the given data below, extract and structure the data in JSON.\nFormat:\n{\n  \"CIN\": \"\",\n  \"Company Name\": \"\",\n  \"ROC Code\": \"\",\n  \"Registration Number\": \"\",\n  \"Company Category\": \"\",\n  \"Company SubCategory\": \"\",\n  \"Class of Company\": \"\",\n  \"Authorised Capital(Rs)\": \"\",\n  \"Paid up Capital(Rs)\": \"\",\n  \"Date of Incorporation\": \"\",\n  \"Registered Address\": \"\",\n  \"Address other than R/o where all or any books of account and papers are maintained\": \"\",\n  \"Email Id\": \"\",\n  \"Whether Listed or not\": \"\",\n  \"Suspended at stock exchange\": \"\",\n  \"Company Status (for efiling)\": \"\",\n  \"Last Updated On\": \"\",\n  \"Directors/Signatory Details\": [\n    {\n      \"DIN/PAN\": \"\",\n      \"Name\": \"\",\n      \"Begin Date\": \"\"\n    },\n    {\n      \"DIN/PAN\": \"\",\n      \"Name\": \"\",\n      \"Begin Date\": \"\"\n    }\n  ]\n}\n- DO NOT INCLUDE ANY SYMBOLS LIKE '\\n' , triple quotation marks.\n- START DIRECTLY WITH THE JSON.\n- IT SHOULD LOOK LIKE A PERFECT JSON\n- DATA SHOULD BE ACCURATE\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1080,-200],"id":"1e9e594f-7dcb-4dc5-9299-a2619c05d264","name":"AI Agent","retryOnFail":false,"maxTries":2},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[960,160],"id":"659d7d2c-058d-4988-80d7-2ee39b175899","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"A6BhdcrKjxPL9uU0","name":"Google Gemini(PaLM) Api account - GreyNextAccount"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kYVWG-YwHhouovJZZTJt-bUAoJOKxpnOHkmuKZAqiRs","mode":"list","cachedResultName":"MCA-FEB2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kYVWG-YwHhouovJZZTJt-bUAoJOKxpnOHkmuKZAqiRs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":877549984,"mode":"list","cachedResultName":"Indian Companies Ext Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kYVWG-YwHhouovJZZTJt-bUAoJOKxpnOHkmuKZAqiRs/edit#gid=877549984"},"columns":{"mappingMode":"defineBelow","value":{"CIN":"={{ $json.CIN }}","Company Name":"={{ $json['Company Name'] }}","ROC Code":"={{ $json['ROC Code'] }}","Registration Number":"={{ $json['Registration Number'] }}","Company Category":"={{ $json['Company Category'] }}","Company SubCategory":"={{ $json['Company SubCategory'] }}","Class of Company":"={{ $json['Class of Company'] }}","Authorised Capital(Rs)":"={{ $json['Authorised Capital(Rs)'] }}","Paid up Capital(Rs)":"={{ $json['Paid up Capital(Rs)'] }}","Date of Incorporation":"={{ $json['Date of Incorporation'] }}","Registered Address":"={{ $json['Registered Address'] }}","Address other than R/o where all or any books of account and papers are maintained":"={{ $json['Address other than R/o where all or any books of account and papers are maintained'] }}","Email Id":"={{ $json['Email Id'] }}","\"Whether Listed or not":"={{ $json['Whether Listed or not'] }}","Suspended at stock exchange":"={{ $json['Suspended at stock exchange'] }}","Company Status (for efiling)":"={{ $json['Company Status (for efiling)'] }}","Last Updated On":"={{ $json['Last Updated On'] }}","Directors/Signatory Details":"={{ $json['Directors/Signatory Details'] }}"},"matchingColumns":[],"schema":[{"id":"CIN","displayName":"CIN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ROC Code","displayName":"ROC Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registration Number","displayName":"Registration Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Category","displayName":"Company Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company SubCategory","displayName":"Company SubCategory","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Class of Company","displayName":"Class of Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Authorised Capital(Rs)","displayName":"Authorised Capital(Rs)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Paid up Capital(Rs)","displayName":"Paid up Capital(Rs)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date of Incorporation","displayName":"Date of Incorporation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registered Address","displayName":"Registered Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Address other than R/o where all or any books of account and papers are maintained","displayName":"Address other than R/o where all or any books of account and papers are maintained","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Id","displayName":"Email Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"\"Whether Listed or not","displayName":"\"Whether Listed or not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Suspended at stock exchange","displayName":"Suspended at stock exchange","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Status (for efiling)","displayName":"Company Status (for efiling)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Updated On","displayName":"Last Updated On","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Directors/Signatory Details","displayName":"Directors/Signatory Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2340,-160],"id":"53fe700d-a7a1-4c57-a357-7e910f3f206f","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let texto = $input.first().json.output.replace(/[\\n\\r\\t]/g, \" \")  // Reemplaza saltos de línea, retorno de carro y tabulaciones por espacio\n  // .replace(/['\"\\\\]/g, \"\")      // Elimina comillas simples, dobles y barras invertidas\n  .replace(/\\s+/g, \" \")        // Reemplaza múltiples espacios por un solo espacio\n  .replace(/```/g, \"\")\n  .replace(/json/g, \"\")\n  .trim();                     // Elimina los espacios en blanco al inicio y al final\n\nreturn {\n  text: texto\n}"},"id":"29620b33-1132-41b8-a93b-fec7302ef26b","name":"textCleaner1","type":"n8n-nodes-base.code","position":[1560,-140],"typeVersion":2},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.text }}","options":{}},"id":"cdf117bd-29cd-40c1-89a0-f52ebbdb1d48","name":"errorPreprocessor1","type":"n8n-nodes-base.set","position":[1960,-360],"typeVersion":3.4},{"parameters":{"documentId":{"__rl":true,"value":"1kYVWG-YwHhouovJZZTJt-bUAoJOKxpnOHkmuKZAqiRs","mode":"list","cachedResultName":"MCA-FEB2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kYVWG-YwHhouovJZZTJt-bUAoJOKxpnOHkmuKZAqiRs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":859139393,"mode":"list","cachedResultName":"Indian Companies","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kYVWG-YwHhouovJZZTJt-bUAoJOKxpnOHkmuKZAqiRs/edit#gid=859139393"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-20,-100],"id":"97c9ac0d-834a-4cbe-b090-25d4c674f9eb","name":"Google Sheets1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let cin =  $input.first().json[' CIN']\nlet name = $input.first().json[' Company Name']|| \"\";\nlet texto = name\n  .trim()\n  .replace(/\\s+/g, \"-\")   // replaces all whitespace (space, tab, newline) with a single dash\n  .toLowerCase();         // optional: if you want it in all caps\n\nreturn {\n  company_name: texto,\n  cin: cin\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[360,-280],"id":"3ab7e906-311c-42bd-98a3-ff4343ffab6a","name":"Code"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[280,-500],"id":"15ad4c94-fcd7-4d97-b6c3-f96f50f3ae9e","name":"Loop Over Items"},{"parameters":{"fromEmail":"donotreply@greynext.site","toEmail":"theanurupmillan@gmail.com","subject":"Posted on LinkedIn and Facebook","emailFormat":"text","text":"You post has been posted on linkedIn and Facebook.","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[700,-620],"id":"01882554-335c-4264-88e9-4dc92c4ffa7c","name":"Send Email","webhookId":"a6c64440-844e-4f6b-bb25-38e2269ec43f","credentials":{"smtp":{"id":"FioXHmqPSjXJViw3","name":"SMTP arnab@greynext.site"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1kYVWG-YwHhouovJZZTJt-bUAoJOKxpnOHkmuKZAqiRs","mode":"list","cachedResultName":"MCA-FEB2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kYVWG-YwHhouovJZZTJt-bUAoJOKxpnOHkmuKZAqiRs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":859139393,"mode":"list","cachedResultName":"Indian Companies","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kYVWG-YwHhouovJZZTJt-bUAoJOKxpnOHkmuKZAqiRs/edit#gid=859139393"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2480,-820],"id":"b7c1e9f8-ab97-4734-bb93-6f1895114e0e","name":"Google Sheets-Delete the row","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s","mode":"list","cachedResultName":"ErrorLogs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-900,40],"id":"10bb7aea-5433-44ab-a98c-0b42550b4e1e","name":"Google Sheets Trigger1","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"HReFMiGdaroT67gG","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab2f8b76-599d-44bc-a42e-bcb5708bc6ba","leftValue":"={{ $json['UNIQUE PROCESS WORKFLOW NAME'] }}","rightValue":"CompanyWebScraper","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-520,180],"id":"0c00d773-b182-40ef-b37e-5390dab72680","name":"If"},{"parameters":{"chatId":"-4801660393","text":"=🚨 CRITICAL ALERT: ERROR TRIGGER ACTIVATED. -- CHECK FOR OTHER DATA","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"77afa4d9-3c1b-4d83-8aff-254c01a23487","name":"sendTextMessage","type":"n8n-nodes-base.telegram","position":[-40,500],"webhookId":"1d1eee00-2306-4ac1-870f-0988e305f0d0","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json.number = Math.floor(Math.random() * 3) + 1;\n}\n\nreturn $input.all()[0];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,160],"id":"a3889e8b-9ef4-4ef9-9227-c861fa4b56ac","name":"RandomUserPicker"},{"parameters":{"documentId":{"__rl":true,"value":"1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ","mode":"list","cachedResultName":"Company Automated Emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1146767402,"mode":"list","cachedResultName":"AvailableEmails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zIRcQknGb2afOyVK5j8z3AQDEXeYH1wOQwoJD3LfDHQ/edit#gid=1146767402"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json.number }}"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[260,740],"id":"df881041-4ea3-45aa-8a56-453ad0718ff6","name":"Google Sheets-STAFF DATA","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"url":"={{`https://api.scraperapi.com/?api_key=${$json['SCRAPER API KEY']}&url=https://www.indiafilings.com/search/${$('Google Sheets1').item.json[' Company Name']}-cin-${$('Google Sheets1').item.json[' CIN']}&render=true`}}","options":{}},"id":"5512b80a-4fa8-402b-8c1d-bbd4871bdc87","name":"ScraperAPI Call1","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[600,580]}],"connections":{"Set Company Info":{"main":[[{"node":"RandomUserPicker","type":"main","index":0}]]},"HTML CODE CLEANUP":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"textCleaner1","type":"main","index":0}],[]]},"textCleaner1":{"main":[[{"node":"errorPreprocessor1","type":"main","index":0}]]},"errorPreprocessor1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Set Company Info","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Sheets-Delete the row","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send Email","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Google Sheets-Delete the row":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets Trigger1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"sendTextMessage","type":"main","index":0}]]},"RandomUserPicker":{"main":[[{"node":"Google Sheets-STAFF DATA","type":"main","index":0}]]},"Google Sheets-STAFF DATA":{"main":[[{"node":"ScraperAPI Call1","type":"main","index":0}]]},"ScraperAPI Call1":{"main":[[{"node":"HTML CODE CLEANUP","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8Hy8BAUjweqnosaD"},"staticData":{"node:Google Sheets Trigger1":{"documentId":"13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s","sheetId":0,"lastIndexChecked":831}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"da29a7b7-5e02-49b5-8f47-6102cd335305","triggerCount":1,"tags":[]}