emailautomationtelegrambot-HEOKFm5lg7rx9tN2.json
{"createdAt":"2025-06-06T08:30:49.757Z","updatedAt":"2025-06-06T08:53:01.000Z","id":"HEOKFm5lg7rx9tN2","name":"EmailAutomationTelegramBot","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"id":"9fcd202c-21ef-4d87-83ee-c36e18845569","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-1480,520],"webhookId":"51942fbb-ca0e-4ec4-9423-5fcc7d3c4281","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"dataType":"string","value1":"={{ $json.message?.text }}","rules":{"rules":[{"operation":"notStartsWith","value2":"/"},{"operation":"startsWith","value2":"/start","output":1},{"operation":"startsWith","value2":"=/image ","output":2}]},"fallbackOutput":3},"id":"5506a62c-69b1-4471-932b-dc9e26e3a08b","name":"CheckCommand","type":"n8n-nodes-base.switch","position":[-520,540],"typeVersion":1},{"parameters":{"content":"## Error fallback for unsupported commands","height":231.22373949579838,"width":316.1071428571428},"id":"13ad200c-6360-4779-b2d3-421cbbcb416d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[100,780],"typeVersion":1},{"parameters":{"values":{"number":[{"name":"model_temperature","value":0.8},{"name":"token_length","value":500}],"string":[{"name":"system_command","value":"=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. Include several suitable emojis in your answer."},{"name":"bot_typing","value":"={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"}]},"options":{}},"id":"ddaf77ad-07ed-4183-8dbd-95b4fb6e9acb","name":"Settings","type":"n8n-nodes-base.set","position":[-1120,520],"typeVersion":2},{"parameters":{"content":"## Chatbot mode by default\n### (when no command is provided)","height":233,"width":330.5019024637719},"id":"04a4ff88-45c6-43b3-a2d5-a1e70aef91fd","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-260,-60],"typeVersion":1},{"parameters":{"content":"## Welcome message\n### /start","height":219.892857142857,"width":330.7863484403046},"id":"406c17e8-617e-4cc0-ad54-4aaa8d5e5491","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-260,200],"typeVersion":1},{"parameters":{"resource":"chat","model":"gpt-4","prompt":{"messages":[{"role":"system","content":"={{ $json.system_command }}"},{"content":"={{ $json.message.text }}"}]},"options":{"maxTokens":"={{ $json.token_length }}","temperature":"={{ $json.model_temperature }}"},"requestOptions":{}},"id":"67b2c67f-8b2d-4c19-a9d8-3ec1959a225a","name":"Chat_mode","type":"n8n-nodes-base.openAi","position":[140,-360],"typeVersion":1,"credentials":{"openAiApi":{"id":"fRS7bHMY0zWOnjPo","name":"OpenAi account"}}},{"parameters":{"resource":"chat","prompt":{"messages":[{"role":"system","content":"={{ $json.system_command }}"},{"content":"=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"}]},"options":{"maxTokens":"={{ $json.token_length }}","temperature":"={{ $json.model_temperature }}"},"requestOptions":{}},"id":"fd5f315d-1ba1-46d4-acff-d845b70d396b","name":"Greeting","type":"n8n-nodes-base.openAi","position":[-160,260],"typeVersion":1,"credentials":{"openAiApi":{"id":"fRS7bHMY0zWOnjPo","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Settings').first().json.message.from.id }}","text":"={{ $json.text }}","additionalFields":{"parse_mode":"Markdown"}},"id":"83691b0c-de77-46ca-b370-00baefe47f89","name":"Text reply","type":"n8n-nodes-base.telegram","position":[200,140],"typeVersion":1,"webhookId":"4e1b3c50-0780-4532-bfe1-66a6508ef53a","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.from.id }}","action":"={{ $json.bot_typing }}"},"id":"79086047-5e11-4198-b858-99309eee70c3","name":"Send Typing action","type":"n8n-nodes-base.telegram","position":[-920,660],"typeVersion":1,"webhookId":"a3596e39-4046-480b-8862-8f4b8ada7658","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"mode":"chooseBranch"},"id":"9a656054-8668-4d1a-b659-ec11a8e4852d","name":"Merge","type":"n8n-nodes-base.merge","position":[-700,540],"typeVersion":2.1},{"parameters":{"content":"## Create an image\n### /image + request","height":233.8785714285713,"width":329.7428571428562},"id":"98db07be-4b84-4539-9d06-bc70cb9f8cd3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-260,460],"typeVersion":1},{"parameters":{"resource":"image","prompt":"={{ $json.message.text.split(' ').slice(1).join(' ') }}","responseFormat":"imageUrl","options":{"n":1,"size":"512x512"},"requestOptions":{}},"id":"eb293810-e476-45dc-83dd-4165a42f15d3","name":"Create an image","type":"n8n-nodes-base.openAi","position":[-160,540],"typeVersion":1,"credentials":{"openAiApi":{"id":"fRS7bHMY0zWOnjPo","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $json.message.from.id }}","text":"=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture or a cute little kitten with big eyes. Miyazaki studio ghibli style`","additionalFields":{"parse_mode":"Markdown"}},"id":"1cc8e173-417d-4471-8e77-fec37a957fbe","name":"Send error message","type":"n8n-nodes-base.telegram","position":[200,840],"typeVersion":1,"webhookId":"3bae5791-75d2-48de-8391-2c64d8095015","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Settings').first().json.message.from.id }}","file":"={{ $json.url }}","additionalFields":{}},"id":"752fee4a-b5a1-4a13-b24a-eb97f595874b","name":"Send image","type":"n8n-nodes-base.telegram","position":[200,540],"typeVersion":1,"webhookId":"949f83fa-91c3-4313-9950-521526bde3ed","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"values":{"string":[{"name":"message.text","value":"={{ $json?.message?.text || \"\" }}"}]},"options":{"dotNotation":true}},"id":"990207c9-095e-46bf-957f-81086b64b64f","name":"PreProcessing","type":"n8n-nodes-base.set","position":[-1300,520],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","messages":{"messageValues":[{"message":"={{ $json.system_command }}"},{"type":"HumanMessagePromptTemplate","message":"={{ $json.message.text }}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[420,-120],"id":"6aea786e-f488-4373-bbe5-b99a4e6138e7","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{"maxOutputTokens":"={{ $json.token_length }}","temperature":"={{ $json.model_temperature }}"}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-460,-20],"id":"5eaf4677-ce46-4f86-8086-528ac20ffba1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZVDoZ9qJ7Fkvbo9r","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"={{ $json.system_command }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-220,40],"id":"6f0272ec-dd99-4c26-811f-29b349b88a03","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-580,260],"id":"e8fb4d6c-0fab-4815-8447-a3395f0ee650","name":"Simple Memory"}],"connections":{"Merge":{"main":[[{"node":"CheckCommand","type":"main","index":0}]]},"Greeting":{"main":[[{"node":"Text reply","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Send Typing action","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Chat_mode":{"main":[[]]},"CheckCommand":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Greeting","type":"main","index":0}],[{"node":"Create an image","type":"main","index":0}],[{"node":"Send error message","type":"main","index":0}]]},"PreProcessing":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Create an image":{"main":[[{"node":"Send image","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"PreProcessing","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}]]},"Send Typing action":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Text reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f318a04-fd21-4ff6-8e76-37dc7cd7f955","triggerCount":1,"tags":[]}