lead-generator----test-ARuIRizPcpejUjkJ.json
{"createdAt":"2025-06-01T15:56:53.633Z","updatedAt":"2025-06-01T19:33:05.000Z","id":"ARuIRizPcpejUjkJ","name":"Lead Generator -- test","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyCOv3Nc499t3VH93bCNDY0jk8KSIUAAQBE"},{"name":"cx","value":"25563395436bb4bb1"},{"name":"q","value":"={{ $json.output.query }}"},{"name":"num","value":"10"},{"name":"start","value":"1"},{"name":"lr","value":"lang_en"},{"name":"gl","value":"us"},{"name":"safe","value":"medium"},{"name":"filter","value":"1"}]},"options":{"redirect":{},"timeout":30000}},"name":"Google Custom Search - LinkedIN","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[860,160],"id":"66db899a-6153-4b58-acee-f52a2988fdf3"},{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyCOv3Nc499t3VH93bCNDY0jk8KSIUAAQBE"},{"name":"cx","value":"94a603230b4064992"},{"name":"q","value":"={{ $json['FORMATTED URL'] }}"},{"name":"num","value":"10"},{"name":"start","value":"1"},{"name":"lr","value":"lang_en"},{"name":"gl","value":"us"},{"name":"safe","value":"medium"},{"name":"filter","value":"1"}]},"options":{"redirect":{},"timeout":30000}},"name":"Google Custom Search - Contactout","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1820,220],"id":"15854a1c-dc44-4d15-9ed3-4e8bdf9898f0"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[160,160],"id":"bfac30d1-bf8f-4d93-aeb2-eed448568f31","name":"When chat message received","webhookId":"2f1d2e9f-f1d6-4751-820c-fe4505dd39b9"},{"parameters":{"promptType":"define","text":"=User Query:  {{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"Just return the query in the format given."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[380,160],"id":"57758014-39fe-449b-82fa-bba855285817","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[280,380],"id":"66971dde-15bd-4fc5-a1d9-cc0408960968","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZVDoZ9qJ7Fkvbo9r","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[440,400],"id":"a910273b-1d28-49d8-9b2e-87a8b8b6c075","name":"Simple Memory"},{"parameters":{"jsonSchemaExample":"{\n\"query\":\"google search query\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[620,380],"id":"e84e0c97-f9e4-49cb-86df-7823b69fa4eb","name":"Structured Output Parser"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1NNgobGQ8eqZRw6Bi2Q4w2ebBscHlIOlwyTenuqJxQOE","mode":"list","cachedResultName":"BusinessOwnerScrapedData","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NNgobGQ8eqZRw6Bi2Q4w2ebBscHlIOlwyTenuqJxQOE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NNgobGQ8eqZRw6Bi2Q4w2ebBscHlIOlwyTenuqJxQOE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"NAME":"={{ $json.title }}","FORMATTED URL":"={{ $json.formattedUrl }}","HTML FORMATTED URL":"={{ $json.htmlFormattedUrl }}","SNIPPET":"={{ $json.snippet }}","ID":"={{ $json.kind }}","kind":"={{ $json.kind }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NAME","displayName":"NAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SNIPPET","displayName":"SNIPPET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PHONE NUMBER","displayName":"PHONE NUMBER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FORMATTED URL","displayName":"FORMATTED URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HTML FORMATTED URL","displayName":"HTML FORMATTED URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"queries","displayName":"queries","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchInformation","displayName":"searchInformation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"items","displayName":"items","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1440,240],"id":"3e23f21f-cd7c-4d66-af6c-8f322e34eff0","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1160,300],"id":"355dfab1-134e-4d7c-8443-1eca018defa9","name":"Split Out"}],"connections":{"Google Custom Search - Contactout":{"main":[[]]},"Google Custom Search - LinkedIN":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Google Custom Search - LinkedIN","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Custom Search - Contactout","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Custom Search - LinkedIN":[{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - Businessman of assam","totalResults":"15300","searchTerms":"Businessman of assam","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"25563395436bb4bb1","filter":"1","gl":"us"}],"nextPage":[{"title":"Google Custom Search - Businessman of assam","totalResults":"15300","searchTerms":"Businessman of assam","count":10,"startIndex":11,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"25563395436bb4bb1","filter":"1","gl":"us"}]},"context":{"title":"LinkedINSearchEngine"},"searchInformation":{"searchTime":0.429861,"formattedSearchTime":"0.43","totalResults":"15300","formattedTotalResults":"15,300"},"items":[{"kind":"customsearch#result","title":"#assam #entrepreneurship #entrepreneurs | Vasudev Murthy","htmlTitle":"#<b>assam</b> #entrepreneurship #entrepreneurs | Vasudev Murthy","link":"https://www.linkedin.com/posts/vasudev-murthy-3113661_assam-entrepreneurship-entrepreneurs-activity-7200148102844960768-gWhu","displayLink":"www.linkedin.com","snippet":"May 25, 2024 ... The entrepreneurs behind Taruwar have transformed banana fibers into sustainable textiles, creating: 1. Employment opportunities 2. Eco-friendly ...","htmlSnippet":"May 25, 2024 <b>...</b> The entrepreneurs behind Taruwar have transformed banana fibers into sustainable textiles, creating: 1. Employment opportunities 2. Eco-friendly&nbsp;...","formattedUrl":"https://www.linkedin.com/.../vasudev-murthy-3113661_assam-entrepreneu...","htmlFormattedUrl":"https://www.linkedin.com/.../vasudev-murthy-3113661_<b>assam</b>-entrepreneu...","pagemap":{"cse_thumbnail":[{"src":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCUKvoEl_hs1uhupkD5-mBgJgBAFYpXeNx-rKM4eCKHzi4WrQ_5-NqIbc&s","width":"259","height":"194"}],"metatags":[{"og:image":"https://media.licdn.com/dms/image/v2/D5622AQEgXRef4JLFsQ/feedshare-shrink_800/feedshare-shrink_800/0/1716649078528?e=2147483647&v=beta&t=ppodLFDI7A4Uudx4hcGIs3p-IVKJsgIt5A3AbXjR-ic","twitter:title":"#assam #entrepreneurship #entrepreneurs | Vasudev Murthy","twitter:card":"summary_large_image","og:type":"article","al:ios:app_name":"LinkedIn","twitter:url":"https://www.linkedin.com/posts/vasudev-murthy-3113661_assam-entrepreneurship-entrepreneurs-activity-7200148102844960768-gWhu","og:title":"#assam #entrepreneurship #entrepreneurs | Vasudev Murthy","al:android:package":"com.linkedin.android","pagekey":"p_public_post","locale":"en_US","al:ios:url":"https://www.linkedin.com/posts/vasudev-murthy-3113661_assam-entrepreneurship-entrepreneurs-activity-7200148102844960768-gWhu","og:description":"I had a great time interacting  with high school students of The Assam Valley School  set in beautiful tea estates near Tezpur, Assam. \n\nWe had fun creating entrepreneurial experiences through simulations.  Romance books publishing, organic ice cream, plastic waste recycling, Assam handicrafts … the students had a blast figuring out the nuances of their business and arriving at how much they needed to start!\n\nThe North East has so much talent! And the people are polite and gracious! I can’t wait to be back!\n\n#assam #entrepreneurship #entrepreneurs \n\nPooja Kaur Sailaja Prasad Mohanty Anju Jayraj","al:ios:app_store_id":"288429040","twitter:image":"https://media.licdn.com/dms/image/v2/D5622AQEgXRef4JLFsQ/feedshare-shrink_800/feedshare-shrink_800/0/1716649078528?e=2147483647&v=beta&t=ppodLFDI7A4Uudx4hcGIs3p-IVKJsgIt5A3AbXjR-ic","al:android:url":"https://www.linkedin.com/posts/vasudev-murthy-3113661_assam-entrepreneurship-entrepreneurs-activity-7200148102844960768-gWhu","lnkd:url":"https://www.linkedin.com/feed/update/urn:li:activity:7200148102844960768","twitter:site":"@linkedin","viewport":"width=device-width, initial-scale=1.0","twitter:description":"I had a great time interacting  with high school students of The Assam Valley School  set in beautiful tea estates near Tezpur, Assam. \n\nWe had fun creating entrepreneurial experiences through simulations.  Romance books publishing, organic ice cream, plastic waste recycling, Assam handicrafts … the students had a blast figuring out the nuances of their business and arriving at how much they needed to start!\n\nThe North East has so much talent! And the people are polite and gracious! I can’t wait to be back!\n\n#assam #entrepreneurship #entrepreneurs \n\nPooja Kaur Sailaja Prasad Mohanty Anju Jayraj","og:url":"https://www.linkedin.com/posts/vasudev-murthy-3113661_assam-entrepreneurship-entrepreneurs-activity-7200148102844960768-gWhu","al:android:app_name":"LinkedIn"}],"cse_image":[{"src":"https://media.licdn.com/dms/image/v2/D5622AQEgXRef4JLFsQ/feedshare-shrink_800/feedshare-shrink_800/0/1716649078528?e=2147483647&v=beta&t=ppodLFDI7A4Uudx4hcGIs3p-IVKJsgIt5A3AbXjR-ic"}]}},{"kind":"customsearch#result","title":"#startupindia #assam #entrepreneurship #empowerment #quickghy ...","htmlTitle":"#startupindia #<b>assam</b> #entrepreneurship #empowerment #quickghy ...","link":"https://www.linkedin.com/posts/gaurav-medhi_startupindia-assam-entrepreneurship-activity-7261671488909430784-7Q13","displayLink":"www.linkedin.com","snippet":"Nov 11, 2024 ... Gaurav Medhi's Post. View profile for Gaurav Medhi · Gaurav Medhi. Entrepreneur & Community Builder Driving Economic Growth in North East India ...","htmlSnippet":"Nov 11, 2024 <b>...</b> Gaurav Medhi&#39;s Post. View profile for Gaurav Medhi &middot; Gaurav Medhi. <b>Entrepreneur</b> &amp; Community Builder Driving Economic Growth in North East India&nbsp;...","formattedUrl":"https://www.linkedin.com/.../gaurav-medhi_startupindia-assam-entrepreneu...","htmlFormattedUrl":"https://www.linkedin.com/.../gaurav-medhi_startupindia-<b>assam</b>-entrepreneu...","pagemap":{"cse_thumbnail":[{"src":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBNUCFngWmO8dkCaIrxNRZiGXpBXxQek7may7eQiiVceftaXnidG6K2T8&s","width":"194","height":"259"}],"metatags":[{"og:image":"https://media.licdn.com/dms/image/v2/D4D22AQFkAcLcdRxfxQ/feedshare-shrink_800/feedshare-shrink_800/0/1731317395797?e=2147483647&v=beta&t=C1rGK-0yq7PB07_c6Qisi2lspwsWmdUjTaPAMq_daQ4","twitter:title":"#startupindia #assam #entrepreneurship #empowerment #quickghy #trade… | Gaurav Medhi","twitter:card":"summary_large_image","og:type":"article","al:ios:app_name":"LinkedIn","twitter:url":"https://www.linkedin.com/posts/gaurav-medhi_startupindia-assam-entrepreneurship-activity-7261671488909430784-7Q13","og:title":"#startupindia #assam #entrepreneurship #empowerment #quickghy #trade… | Gaurav Medhi","al:android:package":"com.linkedin.android","pagekey":"p_public_post","locale":"en_US","al:ios:url":"https://www.linkedin.com/posts/gaurav-medhi_startupindia-assam-entrepreneurship-activity-7261671488909430784-7Q13","og:description":"Hi, I’m Gaurav Medhi. Coming from a business background, I’ve faced my share of challenges, particularly after losing my father at a young age. My mother’s resilience held our family business together, but joining the management later exposed me to the harsh realities of business, especially in Assam. Facing backbiting, mental health struggles, and countless obstacles, I managed to overcome them with the support of my mother and sister.\n\nThese experiences have fueled my mission with QuickGhy, a service-based startup focused on empowering the blue-collar workforce and actively contributing to the growth of our nation. Working in Assam&#39;s business ecosystem for over 15 years, I’ve witnessed an unfortunate trend: people often prioritize monetary gain at any cost, and collaboration is scarce. As a result, businesses and resources here are controlled by outsiders, creating a gap that I aim to bridge.\n\nAs startups gain attention, more ecosystem enablers are emerging in Assam. While this is a promising st","al:ios:app_store_id":"288429040","twitter:image":"https://media.licdn.com/dms/image/v2/D4D22AQFkAcLcdRxfxQ/feedshare-shrink_800/feedshare-shrink_800/0/1731317395797?e=2147483647&v=beta&t=C1rGK-0yq7PB07_c6Qisi2lspwsWmdUjTaPAMq_daQ4","al:android:url":"https://www.linkedin.com/posts/gaurav-medhi_startupindia-assam-entrepreneurship-activity-7261671488909430784-7Q13","lnkd:url":"https://www.linkedin.com/feed/update/urn:li:activity:7261671488909430784","twitter:site":"@linkedin","viewport":"width=device-width, initial-scale=1.0","twitter:description":"Hi, I’m Gaurav Medhi. Coming from a business background, I’ve faced my share of challenges, particularly after losing my father at a young age. My mother’s resilience held our family business together, but joining the management later exposed me to the harsh realities of business, especially in Assam. Facing backbiting, mental health struggles, and countless obstacles, I managed to overcome them with the support of my mother and sister.\n\nThese experiences have fueled my mission with QuickGhy, a service-based startup focused on empowering the blue-collar workforce and actively contributing to the growth of our nation. Working in Assam&#39;s business ecosystem for over 15 years, I’ve witnessed an unfortunate trend: people often prioritize monetary gain at any cost, and collaboration is scarce. As a result, businesses and resources here are controlled by outsiders, creating a gap that I aim to bridge.\n\nAs startups gain attention, more ecosystem enablers are emerging in Assam. While this is a promising st","og:url":"https://www.linkedin.com/posts/gaurav-medhi_startupindia-assam-entrepreneurship-activity-7261671488909430784-7Q13","al:android:app_name":"LinkedIn"}],"cse_image":[{"src":"https://media.licdn.com/dms/image/v2/D4D22AQFkAcLcdRxfxQ/feedshare-shrink_800/feedshare-shrink_800/0/1731317395797?e=2147483647&v=beta&t=C1rGK-0yq7PB07_c6Qisi2lspwsWmdUjTaPAMq_daQ4"}]}},{"kind":"customsearch#result","title":"Let's promote and developed a new generation businessman for ...","htmlTitle":"Let&#39;s promote and developed a new generation <b>businessman</b> for ...","link":"https://www.linkedin.com/posts/manash-jyoti-chaliha-5ab29a44_lets-promote-and-developed-a-new-generation-activity-6745896011786416128-j3y2","displayLink":"www.linkedin.com","snippet":"Dec 18, 2020 ... When we passes through wholesale mandi in Market place of Assam, Most of the Assamese young people put an remark that \" all of our market place ...","htmlSnippet":"Dec 18, 2020 <b>...</b> When we passes through wholesale mandi in Market place of <b>Assam</b>, Most of the <b>Assamese</b> young people put an remark that &quot; all of our market place&nbsp;...","formattedUrl":"https://www.linkedin.com/.../manash-jyoti-chaliha-5ab29a44_lets-promote-...","htmlFormattedUrl":"https://www.linkedin.com/.../manash-jyoti-chaliha-5ab29a44_lets-promote-...","pagemap":{"metatags":[{"og:image":"https://media.licdn.com/dms/image/v2/C4D22AQHGDw7WyMvuDg/feedshare-shrink_800/feedshare-shrink_800/0/1608346940328?e=2147483647&v=beta&t=_FQtTaEd-QsJpjMvuC4dSCr3ReuYOFdQ28C4D9v4lU8","twitter:title":"Let&#39;s promote and developed a new generation businessman for Assam in agro… | Manash Chaliha | 29 comments","twitter:card":"summary_large_image","og:type":"article","al:ios:app_name":"LinkedIn","twitter:url":"https://www.linkedin.com/posts/manash-chaliha-5ab29a44_lets-promote-and-developed-a-new-generation-activity-6745896011786416128-ygCu","og:title":"Let&#39;s promote and developed a new generation businessman for Assam in agro… | Manash Chaliha | 29 comments","al:android:package":"com.linkedin.android","pagekey":"p_public_post","locale":"en_US","al:ios:url":"https://www.linkedin.com/posts/manash-chaliha-5ab29a44_lets-promote-and-developed-a-new-generation-activity-6745896011786416128-ygCu","og:description":"Let&#39;s promote and developed a new generation businessman for Assam in agro based commodity .\nWhen we passes through wholesale mandi in Market place of Assam, Most of the Assamese young people put an remark that &quot; all of our market place is occupied by the outsider &quot; \nTo looking into, this years old remarks and disappointment by the people of Assam, we come up with an new business policy and concept , Local business for local people in collaboration with business community .\nThe way forward is :\n1. Setting up a new business relationship with old trader&#39;s of  potatoes and onion , by emphasizing in more trustworthy and transparent delivery of potatoes and onion to the wholesaler mandi from Nasik, alowar, Agra, Jalandhar etc . Using mobile app \n2. Aggregating young  and educated people for localized distribution of onion and potatoes at the wholesale prices , which will reduce the cost and of the small retailer as they don&#39;t need to travel to the distance market mandi and our youth also lear","al:ios:app_store_id":"288429040","twitter:image":"https://media.licdn.com/dms/image/v2/C4D22AQHGDw7WyMvuDg/feedshare-shrink_800/feedshare-shrink_800/0/1608346940328?e=2147483647&v=beta&t=_FQtTaEd-QsJpjMvuC4dSCr3ReuYOFdQ28C4D9v4lU8","al:android:url":"https://www.linkedin.com/posts/manash-chaliha-5ab29a44_lets-promote-and-developed-a-new-generation-activity-6745896011786416128-ygCu","lnkd:url":"https://www.linkedin.com/feed/update/urn:li:activity:6745896011786416128","twitter:site":"@linkedin","viewport":"width=device-width, initial-scale=1.0","twitter:description":"Let&#39;s promote and developed a new generation businessman for Assam in agro based commodity .\nWhen we passes through wholesale mandi in Market place of Assam, Most of the Assamese young people put an remark that &quot; all of our market place is occupied by the outsider &quot; \nTo looking into, this years old remarks and disappointment by the people of Assam, we come up with an new business policy and concept , Local business for local people in collaboration with business community .\nThe way forward is :\n1. Setting up a new business relationship with old trader&#39;s of  potatoes and onion , by emphasizing in more trustworthy and transparent delivery of potatoes and onion to the wholesaler mandi from Nasik, alowar, Agra, Jalandhar etc . Using mobile app \n2. Aggregating young  and educated people for localized distribution of onion and potatoes at the wholesale prices , which will reduce the cost and of the small retailer as they don&#39;t need to travel to the distance market mandi and our youth also lear","og:url":"https://www.linkedin.com/posts/manash-chaliha-5ab29a44_lets-promote-and-developed-a-new-generation-activity-6745896011786416128-ygCu","al:android:app_name":"LinkedIn"}]}},{"kind":"customsearch#result","title":"Get A Fantastic List of the Top 10 Richest Man in Assam in 2024 ...","htmlTitle":"Get A Fantastic List of the Top 10 Richest Man in <b>Assam</b> in 2024 ...","link":"https://www.linkedin.com/posts/raunak-saha-b12106147_get-a-fantastic-list-of-the-top-10-richest-activity-7167098750761390080-O9Au","displayLink":"www.linkedin.com","snippet":"Feb 24, 2024 ... Get a fantastic list of the top 10 richest man in Assam in 2024. https://technosports.co.in 14 1 Comment Like Comment Share Copy LinkedIn Facebook Twitter","htmlSnippet":"Feb 24, 2024 <b>...</b> Get a fantastic list of the top 10 richest man in <b>Assam</b> in 2024. https://technosports.co.in 14 1 Comment Like Comment Share Copy LinkedIn Facebook Twitter","formattedUrl":"https://www.linkedin.com/.../raunak-saha-b12106147_get-a-fantastic-list-of...","htmlFormattedUrl":"https://www.linkedin.com/.../raunak-saha-b12106147_get-a-fantastic-list-of...","pagemap":{"cse_thumbnail":[{"src":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF5MQU9WYmW9xA2bEmkcD5NZRwrwBB_StM8756xZmCCTuYaiz4IuK7lpf9&s","width":"242","height":"209"}],"metatags":[{"og:image":"https://media.licdn.com/dms/image/v2/D5622AQHO87Icxri1Cw/feedshare-shrink_800/feedshare-shrink_800/0/1708769498392?e=2147483647&v=beta&t=fw4vBf3p5jE3zuu89K52CgDdiggS38_PuRqu4_dgQtI","twitter:title":"Get A Fantastic List of the Top 10 Richest Man in Assam in 2024 | Raunak Saha","twitter:card":"summary_large_image","og:type":"article","al:ios:app_name":"LinkedIn","twitter:url":"https://www.linkedin.com/posts/raunak-saha-b12106147_get-a-fantastic-list-of-the-top-10-richest-activity-7167098750761390080-O9Au","og:title":"Get A Fantastic List of the Top 10 Richest Man in Assam in 2024 | Raunak Saha","al:android:package":"com.linkedin.android","pagekey":"p_public_post","locale":"en_US","al:ios:url":"https://www.linkedin.com/posts/raunak-saha-b12106147_get-a-fantastic-list-of-the-top-10-richest-activity-7167098750761390080-O9Au","og:description":"Get A Fantastic List of the Top 10 Richest Man in Assam in 2024","al:ios:app_store_id":"288429040","twitter:image":"https://media.licdn.com/dms/image/v2/D5622AQHO87Icxri1Cw/feedshare-shrink_800/feedshare-shrink_800/0/1708769498392?e=2147483647&v=beta&t=fw4vBf3p5jE3zuu89K52CgDdiggS38_PuRqu4_dgQtI","al:android:url":"https://www.linkedin.com/posts/raunak-saha-b12106147_get-a-fantastic-list-of-the-top-10-richest-activity-7167098750761390080-O9Au","lnkd:url":"https://www.linkedin.com/feed/update/urn:li:activity:7167098750761390080","twitter:site":"@linkedin","viewport":"width=device-width, initial-scale=1.0","twitter:description":"Get A Fantastic List of the Top 10 Richest Man in Assam in 2024","og:url":"https://www.linkedin.com/posts/raunak-saha-b12106147_get-a-fantastic-list-of-the-top-10-richest-activity-7167098750761390080-O9Au","al:android:app_name":"LinkedIn"}],"cse_image":[{"src":"https://media.licdn.com/dms/image/v2/D5622AQHO87Icxri1Cw/feedshare-shrink_800/feedshare-shrink_800/0/1708769498392?e=2147483647&v=beta&t=fw4vBf3p5jE3zuu89K52CgDdiggS38_PuRqu4_dgQtI"}]}},{"kind":"customsearch#result","title":"#resilience #communityfirst #grit #sustenance #brahmaputra ...","htmlTitle":"#resilience #communityfirst #grit #sustenance #brahmaputra ...","link":"https://www.linkedin.com/posts/rakhi-kashyap-b3939823_resilience-communityfirst-grit-activity-7255799753379127298-QsQt","displayLink":"www.linkedin.com","snippet":"Oct 25, 2024 ... Lessons from the Banks of Brahmaputra The past few days have been a testament to the unyielding spirit of Assam and its people.","htmlSnippet":"Oct 25, 2024 <b>...</b> Lessons from the Banks of Brahmaputra The past few days have been a testament to the unyielding spirit of <b>Assam</b> and its people.","formattedUrl":"https://www.linkedin.com/.../rakhi-kashyap-b3939823_resilience-communi...","htmlFormattedUrl":"https://www.linkedin.com/.../rakhi-kashyap-b3939823_resilience-communi...","pagemap":{"cse_thumbnail":[{"src":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7g8Ws4mW1iibMWGYPSIMSolFSrYl8XRydfnYLxcopnYuXcC8bqN0sSvk&s","width":"259","height":"194"}],"metatags":[{"og:image":"https://media.licdn.com/dms/image/v2/D5622AQFaA5TBAZXiDg/feedshare-shrink_800/feedshare-shrink_800/0/1729917464085?e=2147483647&v=beta&t=pu4h1z8TXlUva5t9_v4KH4-nTlJhonhN7WfvoLHlG7A","twitter:title":"#resilience #communityfirst #grit #sustenance #brahmaputra #assam… | Rakhi Kashyap","twitter:card":"summary_large_image","og:type":"article","al:ios:app_name":"LinkedIn","twitter:url":"https://www.linkedin.com/posts/rakhi-kashyap-b3939823_resilience-communityfirst-grit-activity-7255799753379127298-QsQt","og:title":"#resilience #communityfirst #grit #sustenance #brahmaputra #assam… | Rakhi Kashyap","al:android:package":"com.linkedin.android","pagekey":"p_public_post","locale":"en_US","al:ios:url":"https://www.linkedin.com/posts/rakhi-kashyap-b3939823_resilience-communityfirst-grit-activity-7255799753379127298-QsQt","og:description":"Lessons from the Banks of Brahmaputra\n\nThe past few days have been a testament to the unyielding spirit of Assam and its people. As the mighty Brahmaputra river continues to nourish and challenge the region, I&#39;ve witnessed:\n\nResilience: Communities adapting to the unpredictable waters.\nPatience: Officials working tirelessly to mitigate flood impacts.\nGrit: Local heroes going above and beyond to support each other.\nSustenance: The unwavering determination to rebuild and thrive.\n\nThe people of Assam have shown me that:\n\nAdversity can fuel strength\nCommunity is key\nResilience is a way of life\n\nAs we navigate life&#39;s challenges, let&#39;s draw inspiration from the Brahmaputra&#39;s unrelenting flow and the people who call it home.\n\n#Resilience #CommunityFirst #Grit #Sustenance #Brahmaputra #Assam #Inspiration #LessonsLearned","al:ios:app_store_id":"288429040","twitter:image":"https://media.licdn.com/dms/image/v2/D5622AQFaA5TBAZXiDg/feedshare-shrink_800/feedshare-shrink_800/0/1729917464085?e=2147483647&v=beta&t=pu4h1z8TXlUva5t9_v4KH4-nTlJhonhN7WfvoLHlG7A","al:android:url":"https://www.linkedin.com/posts/rakhi-kashyap-b3939823_resilience-communityfirst-grit-activity-7255799753379127298-QsQt","lnkd:url":"https://www.linkedin.com/feed/update/urn:li:activity:7255799753379127298","twitter:site":"@linkedin","viewport":"width=device-width, initial-scale=1.0","twitter:description":"Lessons from the Banks of Brahmaputra\n\nThe past few days have been a testament to the unyielding spirit of Assam and its people. As the mighty Brahmaputra river continues to nourish and challenge the region, I&#39;ve witnessed:\n\nResilience: Communities adapting to the unpredictable waters.\nPatience: Officials working tirelessly to mitigate flood impacts.\nGrit: Local heroes going above and beyond to support each other.\nSustenance: The unwavering determination to rebuild and thrive.\n\nThe people of Assam have shown me that:\n\nAdversity can fuel strength\nCommunity is key\nResilience is a way of life\n\nAs we navigate life&#39;s challenges, let&#39;s draw inspiration from the Brahmaputra&#39;s unrelenting flow and the people who call it home.\n\n#Resilience #CommunityFirst #Grit #Sustenance #Brahmaputra #Assam #Inspiration #LessonsLearned","og:url":"https://www.linkedin.com/posts/rakhi-kashyap-b3939823_resilience-communityfirst-grit-activity-7255799753379127298-QsQt","al:android:app_name":"LinkedIn"}],"cse_image":[{"src":"https://media.licdn.com/dms/image/v2/D5622AQFaA5TBAZXiDg/feedshare-shrink_800/feedshare-shrink_800/0/1729917464085?e=2147483647&v=beta&t=pu4h1z8TXlUva5t9_v4KH4-nTlJhonhN7WfvoLHlG7A"}]}},{"kind":"customsearch#result","title":"Abhijit Barooah - Chairman - Premier Cryogenics Ltd. | LinkedIn","htmlTitle":"Abhijit Barooah - Chairman - Premier Cryogenics Ltd. | LinkedIn","link":"https://in.linkedin.com/in/abhijit-barooah-06487425","displayLink":"in.linkedin.com","snippet":"Managing Director at Premier Cryogenics Limited · An entrepreneur who is passionate about economic development of Assam, India · Experience: Premier ...","htmlSnippet":"Managing Director at Premier Cryogenics Limited · An <b>entrepreneur</b> who is passionate about economic development of <b>Assam</b>, India · Experience: Premier&nbsp;...","formattedUrl":"https://in.linkedin.com/in/abhijit-barooah-06487425","htmlFormattedUrl":"https://in.linkedin.com/in/abhijit-barooah-06487425","pagemap":{"cse_thumbnail":[{"src":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgHw_qvESZDkMTz2mZ049KOa1TaBexSvDsFN3KbEfQl_hI0O6pLOexe9c&s","width":"200","height":"200"}],"ProfilePage":[{}],"metatags":[{"og:image":"https://media.licdn.com/dms/image/v2/C5103AQGuKWHg5uDHgQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1572694167878?e=2147483647&v=beta&t=ZY97Yy7a6EtzOnek7lBcEWkWuIHESYAyDUGMMpPiI9I","twitter:card":"summary","linkedin:pagetag":"openToProvider","platform-worker":"https://static.licdn.com/aero-v1/sc/h/7nirg34a8ey4y2l4rw7xgwxx4","al:android:package":"com.linkedin.android","bingbot":"nocache","locale":"en_US","al:ios:url":"https://in.linkedin.com/in/abhijit-barooah-06487425","og:description":"Managing Director at Premier Cryogenics Limited · An entrepreneur who is passionate about economic development of Assam, India · Experience: Premier Cryogenics Ltd. · Education: The London School of Economics and Political Science (LSE) · Location: Dispur · 139 connections on LinkedIn. View Abhijit Barooah’s profile on LinkedIn, a professional community of 1 billion members.","al:ios:app_store_id":"288429040","platform":"https://static.licdn.com/aero-v1/sc/h/coquaw2cudxs4ux1s51aesui5","twitter:image":"https://media.licdn.com/dms/image/v2/C5103AQGuKWHg5uDHgQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1572694167878?e=2147483647&v=beta&t=ZY97Yy7a6EtzOnek7lBcEWkWuIHESYAyDUGMMpPiI9I","profile:last_name":"Barooah","twitter:site":"@Linkedin","litmsprofilename":"public-profile-frontend","profile:first_name":"Abhijit","og:type":"profile","twitter:title":"Abhijit Barooah - Chairman - Premier Cryogenics Ltd. | LinkedIn","al:ios:app_name":"LinkedIn","og:title":"Abhijit Barooah - Chairman - Premier Cryogenics Ltd. | LinkedIn","pagekey":"public_profile_v3_mobile","al:android:url":"https://in.linkedin.com/in/abhijit-barooah-06487425","viewport":"width=device-width, initial-scale=1.0","twitter:description":"Managing Director at Premier Cryogenics Limited · An entrepreneur who is passionate about economic development of Assam, India · Experience: Premier Cryogenics Ltd. · Education: The London School of Economics and Political Science (LSE) · Location: Dispur · 139 connections on LinkedIn. View Abhijit Barooah’s profile on LinkedIn, a professional community of 1 billion members.","ubba":"https://static.licdn.com/aero-v1/sc/h/3kbmdc33ogmpo0bs8dolr9yre","og:url":"https://in.linkedin.com/in/abhijit-barooah-06487425","al:android:app_name":"LinkedIn"}],"cse_image":[{"src":"https://media.licdn.com/dms/image/v2/C5103AQGuKWHg5uDHgQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1572694167878?e=2147483647&v=beta&t=ZY97Yy7a6EtzOnek7lBcEWkWuIHESYAyDUGMMpPiI9I"}]}},{"kind":"customsearch#result","title":"It was an honour spending quality time with the DG Assam Rifles, Lt ...","htmlTitle":"It was an honour spending quality time with the DG <b>Assam</b> Rifles, Lt ...","link":"https://www.linkedin.com/posts/major-mohommed-ali-shah-195320193_it-was-an-honour-spending-quality-time-activity-7283692495589326848-ONF9","displayLink":"www.linkedin.com","snippet":"Jan 10, 2025 ... Assam Shines on the Global Stage: A Boost for India's ... Arun Bannate. Arpan NGO Gondia,President / Health Consultancy and Businessman.","htmlSnippet":"Jan 10, 2025 <b>...</b> <b>Assam</b> Shines on the Global Stage: A Boost for India&#39;s ... Arun Bannate. Arpan NGO Gondia,President / Health Consultancy and <b>Businessman</b>.","formattedUrl":"https://www.linkedin.com/.../major-mohommed-ali-shah-195320193_it-wa...","htmlFormattedUrl":"https://www.linkedin.com/.../major-mohommed-ali-shah-195320193_it-wa...","pagemap":{"cse_thumbnail":[{"src":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH6VZmIYL9389a0jzVa9qeXK896T7RryGT7ot6M1FuSitmtO3ERxnsGQ8&s","width":"162","height":"311"}],"metatags":[{"og:image":"https://media.licdn.com/dms/image/v2/D5622AQFdMmekd9c_UA/feedshare-shrink_800/B56ZRTfud3HoAg-/0/1736567614331?e=2147483647&v=beta&t=oNGTpD0cFULAI2IZry9huqoJLw77yM2fx0Pk1GyYkgw","twitter:title":"It was an honour 🎖 spending quality time with the DG Assam Rifles, Lt Gen… | Major Mohommed Ali Shah","twitter:card":"summary_large_image","og:type":"article","al:ios:app_name":"LinkedIn","twitter:url":"https://www.linkedin.com/posts/major-mohommed-ali-shah-195320193_it-was-an-honour-spending-quality-time-activity-7283692495589326848-ONF9","og:title":"It was an honour 🎖 spending quality time with the DG Assam Rifles, Lt Gen… | Major Mohommed Ali Shah","al:android:package":"com.linkedin.android","pagekey":"p_public_post","locale":"en_US","al:ios:url":"https://www.linkedin.com/posts/major-mohommed-ali-shah-195320193_it-was-an-honour-spending-quality-time-activity-7283692495589326848-ONF9","og:description":"It was an honour 🎖 spending quality time with the DG Assam Rifles, Lt Gen Lakhera and discussing about things in common on the North East part of India.","al:ios:app_store_id":"288429040","twitter:image":"https://media.licdn.com/dms/image/v2/D5622AQFdMmekd9c_UA/feedshare-shrink_800/B56ZRTfud3HoAg-/0/1736567614331?e=2147483647&v=beta&t=oNGTpD0cFULAI2IZry9huqoJLw77yM2fx0Pk1GyYkgw","al:android:url":"https://www.linkedin.com/posts/major-mohommed-ali-shah-195320193_it-was-an-honour-spending-quality-time-activity-7283692495589326848-ONF9","lnkd:url":"https://www.linkedin.com/feed/update/urn:li:activity:7283692495589326848","twitter:site":"@linkedin","viewport":"width=device-width, initial-scale=1.0","twitter:description":"It was an honour 🎖 spending quality time with the DG Assam Rifles, Lt Gen Lakhera and discussing about things in common on the North East part of India.","og:url":"https://www.linkedin.com/posts/major-mohommed-ali-shah-195320193_it-was-an-honour-spending-quality-time-activity-7283692495589326848-ONF9","al:android:app_name":"LinkedIn"}],"cse_image":[{"src":"https://media.licdn.com/dms/image/v2/D5622AQFdMmekd9c_UA/feedshare-shrink_800/B56ZRTfud3HoAg-/0/1736567614331?e=2147483647&v=beta&t=oNGTpD0cFULAI2IZry9huqoJLw77yM2fx0Pk1GyYkgw"}]}},{"kind":"customsearch#result","title":"#startup #startuplife #entrepreneurship #entrepreneur ...","htmlTitle":"#startup #startuplife #entrepreneurship #<b>entrepreneur</b> ...","link":"https://www.linkedin.com/posts/assamstartup2018_startup-startuplife-entrepreneurship-activity-6810215493593509888-zJQ8?trk=public_profile_like_view","displayLink":"www.linkedin.com","snippet":"Jun 14, 2021 ... ... Assam is a thriving habitat of tigers, elephants, deer, rabbits and a wide diversity of native and migratory species. And now, the Forest Man ...","htmlSnippet":"Jun 14, 2021 <b>...</b> ... <b>Assam</b> is a thriving habitat of tigers, elephants, deer, rabbits and a wide diversity of native and migratory species. And now, the Forest Man&nbsp;...","formattedUrl":"https://www.linkedin.com/.../assamstartup2018_startup-startuplife-entrepren...","htmlFormattedUrl":"https://www.linkedin.com/.../<b>assam</b>startup2018_startup-startuplife-entrepren...","pagemap":{"cse_thumbnail":[{"src":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxNakhhwD0Qc0rk3-Sz6RdxEx5H1JNIGUgT3B3kUK-w56zR-879p562F8&s","width":"225","height":"225"}],"metatags":[{"og:image":"https://media.licdn.com/dms/image/v2/C4D22AQGRyvIsN2Zuug/feedshare-shrink_800/feedshare-shrink_800/0/1623681899539?e=2147483647&v=beta&t=0JA_kiziDWQ4JUQHF6f7JmIWm3MWfZDuu6uO9rD02lA","twitter:title":"#startup #startuplife #entrepreneurship #entrepreneur #startupbusiness… | Assam Startup","twitter:card":"summary_large_image","og:type":"article","al:ios:app_name":"LinkedIn","twitter:url":"https://www.linkedin.com/posts/assamstartup_startup-startuplife-entrepreneurship-activity-6810215493593509888-pfz1","og:title":"#startup #startuplife #entrepreneurship #entrepreneur #startupbusiness… | Assam Startup","al:android:package":"com.linkedin.android","pagekey":"p_public_post","locale":"en_US","al:ios:url":"https://www.linkedin.com/posts/assamstartup_startup-startuplife-entrepreneurship-activity-6810215493593509888-pfz1","og:description":"JADAV PAYENG – the name is enough to invoke reverence in every person irrespective of his/her field of expertise. Who could tell from his humble disposition that the man is an epitome of compassionate leadership! He took things in stride and invested 30 years of his life to transform a hitherto barren sandbar of the Brahmaputra, covering an area of 550 hectares of land, into a man-made forest. Today, the forest Molai Kathoni in the Jorhat district of Assam is a thriving habitat of tigers, elephants, deer, rabbits and a wide diversity of native and migratory species. And now, the Forest Man of India is all set to repeat the history – this time in Mexico. The Padma Bhushan Awardee has been invited to collaborate on environmental projects in Mexico with an aim to plant 7 million trees in the country. Towards the end, the Mexican government has granted him Visa for the next 10 years.\n\nPayeng might not represent a typical entrepreneur. But for his indomitable drive to solve a pressing problem, his unfazed resi","al:ios:app_store_id":"288429040","twitter:image":"https://media.licdn.com/dms/image/v2/C4D22AQGRyvIsN2Zuug/feedshare-shrink_800/feedshare-shrink_800/0/1623681899539?e=2147483647&v=beta&t=0JA_kiziDWQ4JUQHF6f7JmIWm3MWfZDuu6uO9rD02lA","al:android:url":"https://www.linkedin.com/posts/assamstartup_startup-startuplife-entrepreneurship-activity-6810215493593509888-pfz1","lnkd:url":"https://www.linkedin.com/feed/update/urn:li:activity:6810215493593509888","twitter:site":"@linkedin","viewport":"width=device-width, initial-scale=1.0","twitter:description":"JADAV PAYENG – the name is enough to invoke reverence in every person irrespective of his/her field of expertise. Who could tell from his humble disposition that the man is an epitome of compassionate leadership! He took things in stride and invested 30 years of his life to transform a hitherto barren sandbar of the Brahmaputra, covering an area of 550 hectares of land, into a man-made forest. Today, the forest Molai Kathoni in the Jorhat district of Assam is a thriving habitat of tigers, elephants, deer, rabbits and a wide diversity of native and migratory species. And now, the Forest Man of India is all set to repeat the history – this time in Mexico. The Padma Bhushan Awardee has been invited to collaborate on environmental projects in Mexico with an aim to plant 7 million trees in the country. Towards the end, the Mexican government has granted him Visa for the next 10 years.\n\nPayeng might not represent a typical entrepreneur. But for his indomitable drive to solve a pressing problem, his unfazed resi","og:url":"https://www.linkedin.com/posts/assamstartup_startup-startuplife-entrepreneurship-activity-6810215493593509888-pfz1","al:android:app_name":"LinkedIn"}],"cse_image":[{"src":"https://media.licdn.com/dms/image/v2/C4D22AQGRyvIsN2Zuug/feedshare-shrink_800/feedshare-shrink_800/0/1623681899539?e=2147483647&v=beta&t=0JA_kiziDWQ4JUQHF6f7JmIWm3MWfZDuu6uO9rD02lA"}]}},{"kind":"customsearch#result","title":"Getting featured at Startup Times as Assam's young entrepreneur ...","htmlTitle":"Getting featured at Startup Times as <b>Assam&#39;s</b> young <b>entrepreneur</b> ...","link":"https://www.linkedin.com/posts/niharika-bora-7a63362bb_getting-featured-at-startup-times-as-assams-activity-7282351111053660160-ZsS_","displayLink":"www.linkedin.com","snippet":"Jan 7, 2025 ... Getting featured at Startup Times as Assam's young entrepreneur When I started my professional journey (it started with a telecalling job), ...","htmlSnippet":"Jan 7, 2025 <b>...</b> Getting featured at Startup Times as <b>Assam&#39;s</b> young <b>entrepreneur</b> When I started my professional journey (it started with a telecalling job),&nbsp;...","formattedUrl":"https://www.linkedin.com/.../niharika-bora-7a63362bb_getting-featured-at-...","htmlFormattedUrl":"https://www.linkedin.com/.../niharika-bora-7a63362bb_getting-featured-at-...","pagemap":{"cse_thumbnail":[{"src":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMY69ncXmbmtJSoYYVl0VYQdpl-Lfm-ctdyhTpbBdzgPRVG_nAGar9eJLC&s","width":"180","height":"280"}],"metatags":[{"og:image":"https://media.licdn.com/dms/image/v2/D4D22AQG69rrSBCtieA/feedshare-shrink_800/B4DZRAbu4jGUAg-/0/1736247802381?e=2147483647&v=beta&t=EMNfzyYBEYxoqE5hsqtRbxggOhp5Eii6ow96oyiS_54","twitter:title":"➡️ Getting featured at Startup Times as Assam&#39;s young entrepreneur\n\n\nWhen… | Niharika Bora","twitter:card":"summary_large_image","og:type":"article","al:ios:app_name":"LinkedIn","twitter:url":"https://www.linkedin.com/posts/niharika-bora-7a63362bb_getting-featured-at-startup-times-as-assams-activity-7282351111053660160-ZsS_","og:title":"➡️ Getting featured at Startup Times as Assam&#39;s young entrepreneur\n\n\nWhen… | Niharika Bora","al:android:package":"com.linkedin.android","pagekey":"p_public_post","locale":"en_US","al:ios:url":"https://www.linkedin.com/posts/niharika-bora-7a63362bb_getting-featured-at-startup-times-as-assams-activity-7282351111053660160-ZsS_","og:description":"➡️ Getting featured at Startup Times as Assam&#39;s young entrepreneur\n\n\nWhen I started my professional journey (it started with a telecalling job), I had zero idea about professionalism. But still, I was generating a good amount of leads for the company I was working for because I had good communication and networking skills. But when Kotak Mahindra Bank got banned by RBI, a side of my professional journey ended.\n\n\n\nI worked for a startup for some months. Plot twist : I got scammed. Not only me, but an entire team. We didn&#39;t get paid at all after working full time. Reason? I got extremely sick at the day of an event. The amount of disrespect I got from that incident somehow gaslighted me into thinking &quot;Am I the unprofessional one as they say?&quot;\n\n\n\nBut then, I started working on The Ambition Hub again. I rebuilt my organization. I also built a trustworthy team. Most importantly, I&#39;m proud of myself that I&#39;ve never ever disrespected or deceived my employees. There is a thin line betwee","al:ios:app_store_id":"288429040","twitter:image":"https://media.licdn.com/dms/image/v2/D4D22AQG69rrSBCtieA/feedshare-shrink_800/B4DZRAbu4jGUAg-/0/1736247802381?e=2147483647&v=beta&t=EMNfzyYBEYxoqE5hsqtRbxggOhp5Eii6ow96oyiS_54","al:android:url":"https://www.linkedin.com/posts/niharika-bora-7a63362bb_getting-featured-at-startup-times-as-assams-activity-7282351111053660160-ZsS_","lnkd:url":"https://www.linkedin.com/feed/update/urn:li:activity:7282351111053660160","twitter:site":"@linkedin","viewport":"width=device-width, initial-scale=1.0","twitter:description":"➡️ Getting featured at Startup Times as Assam&#39;s young entrepreneur\n\n\nWhen I started my professional journey (it started with a telecalling job), I had zero idea about professionalism. But still, I was generating a good amount of leads for the company I was working for because I had good communication and networking skills. But when Kotak Mahindra Bank got banned by RBI, a side of my professional journey ended.\n\n\n\nI worked for a startup for some months. Plot twist : I got scammed. Not only me, but an entire team. We didn&#39;t get paid at all after working full time. Reason? I got extremely sick at the day of an event. The amount of disrespect I got from that incident somehow gaslighted me into thinking &quot;Am I the unprofessional one as they say?&quot;\n\n\n\nBut then, I started working on The Ambition Hub again. I rebuilt my organization. I also built a trustworthy team. Most importantly, I&#39;m proud of myself that I&#39;ve never ever disrespected or deceived my employees. There is a thin line betwee","og:url":"https://www.linkedin.com/posts/niharika-bora-7a63362bb_getting-featured-at-startup-times-as-assams-activity-7282351111053660160-ZsS_","al:android:app_name":"LinkedIn"}],"cse_image":[{"src":"https://media.licdn.com/dms/image/v2/D4D22AQG69rrSBCtieA/feedshare-shrink_800/B4DZRAbu4jGUAg-/0/1736247802381?e=2147483647&v=beta&t=EMNfzyYBEYxoqE5hsqtRbxggOhp5Eii6ow96oyiS_54"}]}},{"kind":"customsearch#result","title":"#msme #empower #entrepreneurs #digitization #msmedevelopment ...","htmlTitle":"#msme #empower #entrepreneurs #digitization #msmedevelopment ...","link":"https://www.linkedin.com/posts/dr-ravi-kota-ias-79304510a_msme-empower-entrepreneurs-activity-7273006236411871233-9icB","displayLink":"www.linkedin.com","snippet":"Dec 12, 2024 ... This initiative reflects our commitment to empowering Assam's entrepreneurs, fostering inclusive growth, and building a resilient economic ...","htmlSnippet":"Dec 12, 2024 <b>...</b> This initiative reflects our commitment to empowering <b>Assam&#39;s</b> entrepreneurs, fostering inclusive growth, and building a resilient economic&nbsp;...","formattedUrl":"https://www.linkedin.com/.../dr-ravi-kota-ias-79304510a_msme-empower-...","htmlFormattedUrl":"https://www.linkedin.com/.../dr-ravi-kota-ias-79304510a_msme-empower-...","pagemap":{"cse_thumbnail":[{"src":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyrGNhTtJ8xI3TJd9xepcbi8-bI8smPm-aEkO65vbFqZC_LkGuUUe136A&s","width":"275","height":"183"}],"metatags":[{"og:image":"https://media.licdn.com/dms/image/v2/D4E22AQG-z0m8eB4alA/feedshare-shrink_800/B4EZO7onp9H0Ag-/0/1734019811144?e=2147483647&v=beta&t=dUIt6MvkTtkbvnO_iw1vn5aY2DmPsHhdqHeWpjMiNiw","twitter:title":"#msme #empower #entrepreneurs #digitization #msmedevelopment #rampprogram… | Dr. Ravi Kota, IAS | 24 comments","twitter:card":"summary_large_image","og:type":"article","al:ios:app_name":"LinkedIn","twitter:url":"https://www.linkedin.com/posts/dr-ravi-kota-ias-79304510a_msme-empower-entrepreneurs-activity-7273006236411871233-9icB","og:title":"#msme #empower #entrepreneurs #digitization #msmedevelopment #rampprogram… | Dr. Ravi Kota, IAS | 24 comments","al:android:package":"com.linkedin.android","pagekey":"p_public_post","locale":"en_US","al:ios:url":"https://www.linkedin.com/posts/dr-ravi-kota-ias-79304510a_msme-empower-entrepreneurs-activity-7273006236411871233-9icB","og:description":"Chaired the State RAMP (Raising and Accelerating #MSME Performance) Programme Committee meeting to review and finalize the action plan for implementing this flagship initiative across Assam. RAMP is program of Ministry of Micro, Small and Medium Enterprises, Government of India \n\nThe deliberations underscored the shared commitment of all stakeholders to fortify Assam’s MSME ecosystem. Approved a structured and inclusive roadmap to #empower #entrepreneurs, enhance resilience, and address the unique challenges faced by MSMEs in our state.\n\nKey outcomes of the meeting:\n\nComprehensive MSME Development: The action plan focuses on sector-specific support to ensure equitable benefits for MSMEs of all scales and types under the program.\n\nCapacity Building and Awareness: Tailored training modules and awareness campaigns will equip MSME stakeholders with the skills and insights needed to leverage the RAMP program effectively.\n\nAdvancing #Digitization: Emphasis on digital adoption will enhance efficiency, expand marke","al:ios:app_store_id":"288429040","twitter:image":"https://media.licdn.com/dms/image/v2/D4E22AQG-z0m8eB4alA/feedshare-shrink_800/B4EZO7onp9H0Ag-/0/1734019811144?e=2147483647&v=beta&t=dUIt6MvkTtkbvnO_iw1vn5aY2DmPsHhdqHeWpjMiNiw","al:android:url":"https://www.linkedin.com/posts/dr-ravi-kota-ias-79304510a_msme-empower-entrepreneurs-activity-7273006236411871233-9icB","lnkd:url":"https://www.linkedin.com/feed/update/urn:li:activity:7273006236411871233","twitter:site":"@linkedin","viewport":"width=device-width, initial-scale=1.0","twitter:description":"Chaired the State RAMP (Raising and Accelerating #MSME Performance) Programme Committee meeting to review and finalize the action plan for implementing this flagship initiative across Assam. RAMP is program of Ministry of Micro, Small and Medium Enterprises, Government of India \n\nThe deliberations underscored the shared commitment of all stakeholders to fortify Assam’s MSME ecosystem. Approved a structured and inclusive roadmap to #empower #entrepreneurs, enhance resilience, and address the unique challenges faced by MSMEs in our state.\n\nKey outcomes of the meeting:\n\nComprehensive MSME Development: The action plan focuses on sector-specific support to ensure equitable benefits for MSMEs of all scales and types under the program.\n\nCapacity Building and Awareness: Tailored training modules and awareness campaigns will equip MSME stakeholders with the skills and insights needed to leverage the RAMP program effectively.\n\nAdvancing #Digitization: Emphasis on digital adoption will enhance efficiency, expand marke","og:url":"https://www.linkedin.com/posts/dr-ravi-kota-ias-79304510a_msme-empower-entrepreneurs-activity-7273006236411871233-9icB","al:android:app_name":"LinkedIn"}],"cse_image":[{"src":"https://media.licdn.com/dms/image/v2/D4E22AQG-z0m8eB4alA/feedshare-shrink_800/B4EZO7onp9H0Ag-/0/1734019811144?e=2147483647&v=beta&t=dUIt6MvkTtkbvnO_iw1vn5aY2DmPsHhdqHeWpjMiNiw"}]}}]}}],"Google Custom Search - Contactout":[{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - https://www.linkedin.com/.../vasudev-murthy-3113661_assam-entrepreneu...","searchTerms":"https://www.linkedin.com/.../vasudev-murthy-3113661_assam-entrepreneu...","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"94a603230b4064992","filter":"1","gl":"us"}]},"context":{"title":"ContactOutLeadSearchEngine"},"searchInformation":{"searchTime":0.340942,"formattedSearchTime":"0.34","totalResults":"0","formattedTotalResults":"0"}}},{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - https://www.linkedin.com/.../gaurav-medhi_startupindia-assam-entrepreneu...","searchTerms":"https://www.linkedin.com/.../gaurav-medhi_startupindia-assam-entrepreneu...","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"94a603230b4064992","filter":"1","gl":"us"}]},"context":{"title":"ContactOutLeadSearchEngine"},"searchInformation":{"searchTime":0.343758,"formattedSearchTime":"0.34","totalResults":"0","formattedTotalResults":"0"}}},{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - https://www.linkedin.com/.../manash-jyoti-chaliha-5ab29a44_lets-promote-...","searchTerms":"https://www.linkedin.com/.../manash-jyoti-chaliha-5ab29a44_lets-promote-...","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"94a603230b4064992","filter":"1","gl":"us"}]},"context":{"title":"ContactOutLeadSearchEngine"},"searchInformation":{"searchTime":0.326748,"formattedSearchTime":"0.33","totalResults":"0","formattedTotalResults":"0"}}},{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - https://www.linkedin.com/.../raunak-saha-b12106147_get-a-fantastic-list-of...","searchTerms":"https://www.linkedin.com/.../raunak-saha-b12106147_get-a-fantastic-list-of...","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"94a603230b4064992","filter":"1","gl":"us"}]},"context":{"title":"ContactOutLeadSearchEngine"},"searchInformation":{"searchTime":0.362769,"formattedSearchTime":"0.36","totalResults":"0","formattedTotalResults":"0"}}},{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - https://www.linkedin.com/.../rakhi-kashyap-b3939823_resilience-communi...","searchTerms":"https://www.linkedin.com/.../rakhi-kashyap-b3939823_resilience-communi...","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"94a603230b4064992","filter":"1","gl":"us"}]},"context":{"title":"ContactOutLeadSearchEngine"},"searchInformation":{"searchTime":0.352575,"formattedSearchTime":"0.35","totalResults":"0","formattedTotalResults":"0"}}},{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - https://in.linkedin.com/in/abhijit-barooah-06487425","searchTerms":"https://in.linkedin.com/in/abhijit-barooah-06487425","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"94a603230b4064992","filter":"1","gl":"us"}]},"context":{"title":"ContactOutLeadSearchEngine"},"searchInformation":{"searchTime":0.298964,"formattedSearchTime":"0.30","totalResults":"0","formattedTotalResults":"0"}}},{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - https://www.linkedin.com/.../major-mohommed-ali-shah-195320193_it-wa...","searchTerms":"https://www.linkedin.com/.../major-mohommed-ali-shah-195320193_it-wa...","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"94a603230b4064992","filter":"1","gl":"us"}]},"context":{"title":"ContactOutLeadSearchEngine"},"searchInformation":{"searchTime":0.357217,"formattedSearchTime":"0.36","totalResults":"0","formattedTotalResults":"0"}}},{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - https://www.linkedin.com/.../assamstartup2018_startup-startuplife-entrepren...","searchTerms":"https://www.linkedin.com/.../assamstartup2018_startup-startuplife-entrepren...","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"94a603230b4064992","filter":"1","gl":"us"}]},"context":{"title":"ContactOutLeadSearchEngine"},"searchInformation":{"searchTime":0.341303,"formattedSearchTime":"0.34","totalResults":"0","formattedTotalResults":"0"}}},{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - https://www.linkedin.com/.../niharika-bora-7a63362bb_getting-featured-at-...","searchTerms":"https://www.linkedin.com/.../niharika-bora-7a63362bb_getting-featured-at-...","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"94a603230b4064992","filter":"1","gl":"us"}]},"context":{"title":"ContactOutLeadSearchEngine"},"searchInformation":{"searchTime":0.35075,"formattedSearchTime":"0.35","totalResults":"0","formattedTotalResults":"0"}}},{"json":{"kind":"customsearch#search","url":{"type":"application/json","template":"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},"queries":{"request":[{"title":"Google Custom Search - https://www.linkedin.com/.../dr-ravi-kota-ias-79304510a_msme-empower-...","searchTerms":"https://www.linkedin.com/.../dr-ravi-kota-ias-79304510a_msme-empower-...","count":10,"startIndex":1,"language":"lang_en","inputEncoding":"utf8","outputEncoding":"utf8","safe":"medium","cx":"94a603230b4064992","filter":"1","gl":"us"}]},"context":{"title":"ContactOutLeadSearchEngine"},"searchInformation":{"searchTime":0.110688,"formattedSearchTime":"0.11","totalResults":"0","formattedTotalResults":"0"}}}]},"versionId":"e1eb7a04-1b3d-451b-8548-d886866fb081","triggerCount":0,"tags":[]}