socialmediaautomation-pro-post-queue-uploader-qPkSc23ETxfUza2m.json
{"createdAt":"2025-06-02T17:43:03.557Z","updatedAt":"2025-06-04T08:45:55.000Z","id":"qPkSc23ETxfUza2m","name":"SocialMediaAutomation-Pro-POST-QUEUE-UPLOADER","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Social Media Post Generator","formDescription":"Fill out these fields and you'll have a full Social Media post ready as scheduled.","formFields":{"values":[{"fieldLabel":"Email","fieldType":"email","placeholder":"name@example.com","requiredField":true},{"fieldLabel":"Topic of Post","placeholder":"Robots","requiredField":true},{"fieldLabel":"Target Audience"},{"fieldLabel":"Target Geographic Region","fieldType":"dropdown","fieldOptions":{"values":[{"option":"India"},{"option":"USA"},{"option":"Worldwide"}]}},{"fieldLabel":"Category of Posts","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Facts and Informational"},{"option":"News"},{"option":"Motivational"},{"option":"Tips and Tricks"},{"option":"Case Study"},{"option":"Controversial"},{"option":"Personal Life Moments"}]},"requiredField":true},{"fieldLabel":"Do you want to add an image?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"True"},{"option":"False"}]},"requiredField":true},{"fieldLabel":"Image Style","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Hyper realistic"},{"option":"Ghibli Art"},{"option":"Anime"},{"option":"Infographic"},{"option":"Concept Art"},{"option":"Graphic Design 3D"},{"option":"Illustration"},{"option":"Portrait Cinematic"},{"option":"Watercolor"},{"option":"Ray Traced"},{"option":"Pro B&W Photography"}]}},{"fieldLabel":"Do you want to activate research mode ?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"True"},{"option":"False"}]},"requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-820,0],"id":"06e913f5-7a64-4736-99dc-4a07586d5013","name":"On form submission","webhookId":"359fa996-5531-40ae-be37-4a6e136952e2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":561698211,"mode":"list","cachedResultName":"posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=561698211"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $('Google Sheets to get User Info').item.json.name }}","email_id_unique_id":"={{ $('Google Sheets to get User Info').item.json.email_id_unique_id }}","persona":"={{ $('Google Sheets to get User Info').item.json.persona }}","gender":"={{ $('Google Sheets to get User Info').item.json.gender }}","skills":"={{ $json.skills || \"\" }}","target_region":"={{ $('On form submission').item.json['Target Geographic Region'] || $('Google Sheets to get User Info').item.json.default_target_region  }}","target_audience":"={{ $('On form submission').item.json['Target Audience'] || $('Google Sheets to get User Info').item.json.default_target_audience  }}","website":"={{ $('Google Sheets to get User Info').item.json.website || \"\" }}","linkedin_url":"={{ $('Google Sheets to get User Info').item.json.linkedin_url || \"\" }}","instagram_id":"={{ $('Google Sheets to get User Info').item.json.instagram_id || \"\" }} ","facebook_id":"={{ $('Google Sheets to get User Info').item.json.facebook_id || \"\" }}","include_images":"={{ $('On form submission').item.json['Do you want to add an image?'] ||  $('Google Sheets to get User Info').item.json.default_include_images }}","image_generation_style":"={{ $('On form submission').item.json['Image Style'] || $('Google Sheets to get User Info').item.json.default_image_generation_style }}","image_height":"={{ $('Google Sheets to get User Info').item.json.defaut_image_height }}","image_width":"={{ $('Google Sheets to get User Info').item.json.defaut_image_width }}","research_mode_required":"={{ $('On form submission').item.json['Do you want to activate research mode ?'] || $('Google Sheets to get User Info').item.json.default_research_mode_required }}","post_on_linkedin":"={{ $('Google Sheets to get User Info').item.json.post_on_linkedin }}","post_on_facebook":"={{ $('Google Sheets to get User Info').item.json.post_on_facebook }}","post_on_instagram":"={{ $('Google Sheets to get User Info').item.json.post_on_instagram }}","post_on_youtube":"={{ $('Google Sheets to get User Info').item.json.post_on_youtube }}","post_on_wordpress_website":"={{ $('Google Sheets to get User Info').item.json.post_on_wordpress_website }}","post_on_blogger":"={{ $('Google Sheets to get User Info').item.json.post_on_blogger }}","post_on_x":"={{ $('Google Sheets to get User Info').item.json.post_on_x }}","added_on_date_time":"={{ $json.currentDate }}","topic_of_post":"={{ $('On form submission').item.json['Topic of Post'] }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[80,0],"id":"f72a79b9-1c0e-4a9d-b3fb-d997b9bed636","name":"Google Sheets-PostsPipeline","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"email_id_unique_id":"={{ $('Google Sheets to get User Info').item.json.email_id_unique_id }}","last_posted_on_date_time":"={{ $('Date & Time').item.json.currentDate }}","credits_remaining":"={{ $('Google Sheets to get User Info').item.json.credits_remaining - 40}} "},"matchingColumns":["email_id_unique_id"],"schema":[{"id":"unique_telegram_id","displayName":"unique_telegram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"default_target_region","displayName":"default_target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"default_target_audience","displayName":"default_target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"time_gap_between_posts_in_hours","displayName":"time_gap_between_posts_in_hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"default_research_mode_required","displayName":"default_research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"default_include_images","displayName":"default_include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"default_image_generation_style","displayName":"default_image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"defaut_image_height","displayName":"defaut_image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"defaut_image_width","displayName":"defaut_image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_posted_on_date_time","displayName":"last_posted_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"autopilot_mode","displayName":"autopilot_mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"credits_remaining","displayName":"credits_remaining","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[540,-320],"id":"09c49652-c458-4dd9-b975-18fe22a23ea4","name":"Update Google Sheets-Userdata-lastUpdatedOn","executeOnce":true,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[40,-340],"id":"cf5065d1-6451-469f-99cd-98951ecac625","name":"Date & Time"},{"parameters":{"documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation - UserData","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"email_id_unique_id","lookupValue":"={{ $json.Email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-420,0],"id":"961e4d08-b6b1-4c0b-9049-835add0b1ba9","name":"Google Sheets to get User Info","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $('Google Sheets to get User Info').item.json.unique_telegram_id }}","text":"=You post has been uploaded to the queue and will be generated soon. You will be notified when generated.\n💳 Remaining Credits: {{ $json.credits_remaining }}","additionalFields":{"appendAttribution":false}},"id":"919178f5-f006-414d-930d-3b40019ee2ea","name":"sendTextMessage1","type":"n8n-nodes-base.telegram","position":[860,-20],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"62d7064d-acfb-44e6-a4bc-2edb166f6272","leftValue":"={{ $json.credits_remaining }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,-260],"id":"da007978-6b55-4bdb-88fe-404ade8c4761","name":"If REMAINING CREDIT CHECKER"},{"parameters":{"chatId":"={{ $('Google Sheets to get User Info').item.json.unique_telegram_id }}","text":"🚨 You do not have any credits left in your account. Recharge now.","additionalFields":{"appendAttribution":false}},"id":"2d5c26bb-45da-478d-b6fb-a0a6081746b8","name":"sendTextMessage","type":"n8n-nodes-base.telegram","position":[-120,200],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"232b90a2-2350-43e1-bb14-db841eed593a","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,-220],"id":"15fd8f2f-85df-4b4b-aa82-dc99108cac94","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"email_id_unique_id":"={{ $('Google Sheets to get User Info').item.json.email_id_unique_id }}","last_posted_on_date_time":"={{ $('Date & Time').item.json.currentDate }}","credits_remaining":"={{ $('Google Sheets to get User Info').item.json.credits_remaining - 20 }}"},"matchingColumns":["email_id_unique_id"],"schema":[{"id":"unique_telegram_id","displayName":"unique_telegram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"default_target_region","displayName":"default_target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"default_target_audience","displayName":"default_target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"time_gap_between_posts_in_hours","displayName":"time_gap_between_posts_in_hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"default_research_mode_required","displayName":"default_research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"default_include_images","displayName":"default_include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"default_image_generation_style","displayName":"default_image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"defaut_image_height","displayName":"defaut_image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"defaut_image_width","displayName":"defaut_image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_posted_on_date_time","displayName":"last_posted_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"autopilot_mode","displayName":"autopilot_mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"credits_remaining","displayName":"credits_remaining","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[540,120],"id":"7e766932-d943-40ef-b4ab-9e1fb62b4adf","name":"Update Google Sheets-Userdata-lastUpdatedOn1","executeOnce":true,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}}],"connections":{"Google Sheets-PostsPipeline":{"main":[[{"node":"If","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Google Sheets to get User Info","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Google Sheets-PostsPipeline","type":"main","index":0}]]},"Google Sheets to get User Info":{"main":[[{"node":"If REMAINING CREDIT CHECKER","type":"main","index":0}]]},"Update Google Sheets-Userdata-lastUpdatedOn":{"main":[[{"node":"sendTextMessage1","type":"main","index":0}]]},"sendTextMessage1":{"main":[[]]},"If REMAINING CREDIT CHECKER":{"main":[[{"node":"Date & Time","type":"main","index":0}],[{"node":"sendTextMessage","type":"main","index":0}]]},"If":{"main":[[{"node":"Update Google Sheets-Userdata-lastUpdatedOn","type":"main","index":0}],[{"node":"Update Google Sheets-Userdata-lastUpdatedOn1","type":"main","index":0}]]},"Update Google Sheets-Userdata-lastUpdatedOn1":{"main":[[{"node":"sendTextMessage1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"ccc59622-bb7d-4fd5-a43a-56a346573188","triggerCount":1,"tags":[]}