socialmediaautomation-pro-content-generator-xXhwtpz7ZIJ4rxhT.json
{"createdAt":"2025-06-02T14:16:53.257Z","updatedAt":"2025-06-04T10:21:05.000Z","id":"xXhwtpz7ZIJ4rxhT","name":"SocialMediaAutomation-Pro-CONTENT-GENERATOR","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Google Sheets to get User Info').item.json.open_ai_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"name":"prompt","value":"={{ $json.message.content }} \n- Make sure to keep a padding of around 5px near the border thus creating a safe area.\n- While generating texts, make sure to not make any spelling mistake.\n- While generating logos of brands make sure it resembles their official logo.\n- While generating image of any famous personality, make sure to not make the exact person but generate a similar looking person."},{"name":"size","value":"={{ $('Google Sheets Trigger').item.json.image_width }}x{{ $('Google Sheets Trigger').item.json.image_height }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,20],"id":"66cb62d2-e3f8-45e4-91a0-7a7036e61396","name":"Generate Image"},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2360,-60],"id":"fe9bc83c-ef89-4115-8400-2aae91266d56","name":"Convert to Binary"},{"parameters":{"content":"# Content Generation","height":1240,"width":1680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,-580],"id":"8b2e8ad1-3825-44b4-ac30-1216c2e2e4ab","name":"Sticky Note"},{"parameters":{"content":"# Generate Image\n","height":260,"width":460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2000,-80],"id":"e884044f-4346-46c8-9e0a-1028f214c826","name":"Sticky Note1"},{"parameters":{"content":"# Updates","height":1220,"width":400,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2620,-560],"id":"67a30cc9-4a3a-4205-9fb7-f2e3c6b1d200","name":"Sticky Note3"},{"parameters":{"content":"# Pipeline Sheet Trigger","height":360,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-160],"id":"60f815a8-f54d-40fc-bc9e-fe62a44b1a3d","name":"Sticky Note5"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":561698211,"mode":"list","cachedResultName":"posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=561698211"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-140,-20],"id":"39b1763b-4956-42e4-a48b-05feffa49ee6","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"HReFMiGdaroT67gG","name":"Google Sheets Trigger account"}}},{"parameters":{"documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation - UserData","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"email_id_unique_id","lookupValue":"={{ $json.email_id_unique_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[200,-20],"id":"3fc58416-df9d-46fd-ae20-5eb34deb4637","name":"Google Sheets to get User Info","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"content":"# GET USER DATA","height":320,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,-120],"id":"1666648c-1ed5-42b1-b59e-5fdbf2dd3034","name":"Sticky Note6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4c731092-1390-4274-b62e-b8d63f09a0a9","leftValue":"={{ $('Google Sheets Trigger').item.json.research_mode_required }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[460,-20],"id":"7a6d59af-9dc9-4974-bf58-73778cb36e79","name":"If-else [research_mode_required]"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.perplexity_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a skilled editor revising AI-generated text to sound authentically human. Follow these rules:\\n\\n1. Punctuation Adjustments\\n   - Replace em dashes, semicolons, or rephrase sentences where appropriate.\\n   - Avoid semicolons in casual contexts; use periods or conjunctions (e.g., 'and,' 'but').\\n   - Remove mid-sentence ellipses unless mimicking deliberate hesitation.\\n   - Limit parenthetical asides; integrate explanations into the main sentence.\\n   - Use colons sparingly.\\n\\n2. Language\\n   - Replace hedging phrases with direct statements.\\n   - Avoid stock transitions.\\n   - Vary repetitive terms.\\n   - Use contractions in informal contexts.\\n   - Replace overly formal words with simpler alternatives.\\n\\n3. Style\\n   - Prioritize concise, varied sentence lengths.\\n   - Allow minor imperfections.\\n   - Maintain the core message but adjust tone to match the audience.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"You are {{ $('Google Sheets to get User Info').item.json.name }} , a {{ $('Google Sheets to get User Info').item.json.persona }}, {{ $('Google Sheets to get User Info').item.json.gender }}. Your mainly talk about: [{{ $('Google Sheets to get User Info').item.json.interests }}]. Your skills include: [{{ $('Google Sheets to get User Info').item.json.skills }}] Target Audience: [{{ $('Google Sheets Trigger').item.json.target_audience }}], Target Geographic location:[{{ $('Google Sheets Trigger').item.json.target_region }}] . Generate exactly one [LinkedIN, Facebook and other social media] post on the topic [Topic of Post: {{ $('Google Sheets Trigger').item.json.topic_of_post }} ] given below that adheres to [LinkedIN, Facebook and other social media]'s API formatting guidelines and is easy for humans to read. Follow these rules:\\n\\nStructure:\\n1. Hook: Start with a hook opening line usually a short, controversial but legally safe question.\\n2. Body: Use short paragraphs (1-3 sentences) separated by \\\\n\\\\n.\\n3. Use bullet points (•) for key features or highlights.\\n4. End with a clear call-to-action (e.g., \\\"Comment below with your thoughts!\\\").\\n\\nFormatting Requirements:\\n- Remove all numeric citation brackets like [2], [3], [4] from the text.\\n- Instead of citation brackets, if needed, add a brief phrase like \\\"according to Google I/O 2025\\\" or \\\"as reported by DeepMind\\\" naturally within the sentence.\\n- No Markdown or rich text formatting.\\n- Use Unicode characters or emojis for emphasis (e.g., ★, 🚀).\\n- Include up to 5 relevant hashtags at the end (e.g., #AI #Automation).\\n- For URLs or references, use placeholders like [Link] instead of raw URLs. (e.g., [Link: https://google.com])\\n- If mentioning users or companies, use official LinkedIN's URN format (e.g., \\\"urn:li:organization:123456\\\") or handles in case of Facebook, Instagram or youtube.\\n\\nContent Rules:\\n- Max 2,600 characters.\\n- Avoid promotional language.\\n- Include three statistical claim or industry insight.\\n- Add two or three personal anecdote or professional observation.\\n\\nReturn the post as plain text without additional commentary.\\n- Do not use other company's, person's name unless it is a fact available on the internet or is a case study.\\n- Also add {{ $('Google Sheets to get User Info').item.json.name }}'s perspective or opinion or personal experience in the post at the start, middle and end of the post, so that it is more like personal storytelling.\\n - Avoid markdowns like ** for bold etc.'\"\n    }\n  ]\n}","options":{}},"id":"ea9cade0-0ea6-40e9-8834-b443daa34cc2","name":"Research Topic- Perplexity","type":"n8n-nodes-base.httpRequest","position":[1000,-260],"typeVersion":4.2},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=Social Media Post: {{ $json.post_content_generated_by_ai }}"},{"content":"=# Overview\nYou are an AI agent that transforms Social Media posts [specially LinkedIN] into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post on LinkedIn and other social media, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective:\n- Read and analyze the given social media post.\n- Identify the main message, insight, or takeaway from the post.\n- Create a clear and compelling prompt that can be used with a text-to-image generator.\n- Image generation style: {{ $('Google Sheets Trigger').item.json.image_generation_style }}\n- Be as descriptive as possible you may also add camera info, lightening, environment, direction etc if required for the given Image generation style.\n1) Visually supports or illustrates the key idea of the post\n2) Looks appropriate for use in a professional LinkedIn and other social media feed\n3) Feels polished, modern, and engaging\n\n## Output Instructions:\n- Output only the final image prompt. Do not output quotation marks.\n- Do not repeat or rephrase the LinkedIn post.\n- Do not add any explanations or extra content — just the image prompt.\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\n## Style Guidelines:\n- Think like a brand designer or marketing creative.\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\").\n- Assume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n## Example Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top.\n-Make sure the generated prompt does not contain content that is not allowed by the safety system of OpenAI. If you want to add a famous person, a similar looking person will do the job instead of the actual person (e.g.: Instead of writing Elon Musk directly, you can write \"A person who looks like Elon Musk\" ). Also do not mention the name of any famous personality directly\n\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1620,80],"id":"4f8a024b-5f37-4b90-a613-4916cb55e1d3","name":"OpenAI","credentials":{"openAiApi":{"id":"fRS7bHMY0zWOnjPo","name":"OpenAi account"}}},{"parameters":{"content":"# Image Prompt\n","height":440,"width":440,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1540,-100],"id":"c14912b2-1f16-40b5-bf2b-3cd1a6711e99","name":"Sticky Note7"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=You are {{ $('Google Sheets to get User Info').item.json.name }} , a {{ $('Google Sheets to get User Info').item.json.persona }}, {{ $('Google Sheets to get User Info').item.json.gender }}. Your skills include: [{{ $('Google Sheets to get User Info').item.json.skills }}] Target Audience: [{{ $('Google Sheets Trigger').item.json.target_audience }}], Target Geographic location:[{{ $('Google Sheets Trigger').item.json.target_region }}] . Generate exactly one [LinkedIN, Facebook and other social media] post on the topic [Topic of Post: {{ $('Google Sheets Trigger').item.json.topic_of_post }} ] given below that adheres to [LinkedIN, Facebook and other social media]'s API formatting guidelines and is easy for humans to read. Follow these rules:\\n\\nStructure:\\n1. Hook: Start with a hook opening line usually a short, controversial but legally safe question.\\n2. Body: Use short paragraphs (1-3 sentences) separated by \\\\n\\\\n.\\n3. Use bullet points (•) for key features or highlights.\\n4. End with a clear call-to-action (e.g., \\\"Comment below with your thoughts!\\\").\\n\\nFormatting Requirements:\\n- Remove all numeric citation brackets like [2], [3], [4] from the text.\\n- Instead of citation brackets, if needed, add a brief phrase like \\\"according to Google I/O 2025\\\" or \\\"as reported by DeepMind\\\" naturally within the sentence.\\n- No Markdown or rich text formatting.\\n- Use Unicode characters or emojis for emphasis (e.g., ★, 🚀).\\n- Include up to 5 relevant hashtags at the end (e.g., #AI #Automation).\\n- For URLs or references, use placeholders like [Link] instead of raw URLs. (e.g., [Link: https://google.com])\\n- If mentioning users or companies, use official LinkedIN's URN format (e.g., \\\"urn:li:organization:123456\\\") or handles in case of Facebook, Instagram or youtube.\\n\\nContent Rules:\\n- Max 2,600 characters.\\n- Avoid promotional language.\\n- Include three statistical claim or industry insight.\\n- Add two or three personal anecdote or professional observation.\\n\\nReturn the post as plain text without additional commentary.\\n- Do not use other company's, person's name unless it is a fact available on the internet or is a case study.\\n- Also add {{ $('Google Sheets to get User Info').item.json.name }}'s perspective or opinion or personal experience in the post at the start, middle and end of the post, so that it is more like personal storytelling."},{"content":"=Act as a skilled editor revising AI-generated text to sound authentically human. Follow these rules:\\n\\n1. Punctuation Adjustments\\n   - Replace em dashes, semicolons, or rephrase sentences where appropriate.\\n   - Avoid semicolons in casual contexts; use periods or conjunctions (e.g., 'and,' 'but').\\n   - Remove mid-sentence ellipses unless mimicking deliberate hesitation.\\n   - Limit parenthetical asides; integrate explanations into the main sentence.\\n   - Use colons sparingly.\\n\\n2. Language\\n   - Replace hedging phrases with direct statements.\\n   - Avoid stock transitions.\\n   - Vary repetitive terms.\\n   - Use contractions in informal contexts.\\n   - Replace overly formal words with simpler alternatives.\\n\\n3. Style\\n   - Prioritize concise, varied sentence lengths.\\n   - Allow minor imperfections.\\n   - Maintain the core message but adjust tone to match the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,200],"id":"b082c580-988a-42fb-87b7-3aa097912e5b","name":"OpenAI2","credentials":{"openAiApi":{"id":"fRS7bHMY0zWOnjPo","name":"OpenAi account"}}},{"parameters":{"content":"# Research Mode: ON\n","height":260,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,-320],"id":"4d94b6e7-b245-4272-8435-88f697c6941b","name":"Sticky Note8"},{"parameters":{"content":"# Research Mode: OFF\n","height":260,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[820,120],"id":"0f0fb141-aeed-40af-aaa8-9880c3153123","name":"Sticky Note9"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":561698211,"mode":"list","cachedResultName":"posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=561698211"},"columns":{"mappingMode":"defineBelow","value":{"added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","post_content_generated_by_ai":"={{ $json.message.content }}"},"matchingColumns":["added_on_date_time"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1220,400],"id":"48c0e03f-3a66-488c-bc0a-f55996005dfa","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":561698211,"mode":"list","cachedResultName":"posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=561698211"},"columns":{"mappingMode":"defineBelow","value":{"added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","post_content_generated_by_ai":"={{ $json.choices[0].message.content }}"},"matchingColumns":["added_on_date_time"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1240,-160],"id":"d6110c92-4c8f-461f-b7d1-8d1b20eb4f09","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"70253478-c550-4cf5-982c-44997d867025","leftValue":"={{ $('Google Sheets Trigger').item.json.include_images }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1400,100],"id":"4aeb4471-d83e-43c6-b59b-3fc1405dd6fe","name":"If [to detect image required or not]"},{"parameters":{"name":"={{ $('Google Sheets Trigger').item.json.email_id_unique_id }}-{{ $('Google Sheets1').item.json.added_on_date_time }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Dq5ALUGVkI-6yv3HVqG7AtbtJQmJ8r1f","mode":"list","cachedResultName":"SocialMediaAutomation-Pro","cachedResultUrl":"https://drive.google.com/drive/folders/1Dq5ALUGVkI-6yv3HVqG7AtbtJQmJ8r1f"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2540,-880],"id":"8016e930-cae9-4fbc-bfa6-db23c86686df","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"oFegsIITzkrR2EDe","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"1Dq5ALUGVkI-6yv3HVqG7AtbtJQmJ8r1f","mode":"list","cachedResultName":"SocialMediaAutomation-Pro","cachedResultUrl":"https://drive.google.com/drive/folders/1Dq5ALUGVkI-6yv3HVqG7AtbtJQmJ8r1f"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2740,-880],"id":"d48b2ddf-a6d9-4f27-b8ca-59192a05a5db","name":"Google Drive-FileGetter","credentials":{"googleDriveOAuth2Api":{"id":"oFegsIITzkrR2EDe","name":"Google Drive account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":561698211,"mode":"list","cachedResultName":"posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=561698211"},"columns":{"mappingMode":"defineBelow","value":{"added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","post_image_generation_prompt_generated_by_ai":"={{ $('OpenAI').item.json.message.content }}","unique_google_drive_file_id":"={{ $json.id }}","post_content_generated_by_ai":"={{ $('If [to detect image required or not]').item.json.post_content_generated_by_ai }}","post_title_generated_by_ai":"={{ $('Google Sheets Trigger').item.json.post_title_generated_by_ai ||$('Google Sheets Trigger').item.json.topic_of_post  }}"},"matchingColumns":["added_on_date_time"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3200,-640],"id":"06fa5de2-12b7-4749-b5b4-3cd03d7182a8","name":"GoogleSheets-UpdatePostsPipeline","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":107398381,"mode":"list","cachedResultName":"generated_posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=107398381"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $('Google Sheets Trigger').item.json.name }}","email_id_unique_id":"={{ $('Google Sheets Trigger').item.json.email_id_unique_id }}","persona":"={{ $('Google Sheets Trigger').item.json.persona }}","gender":"={{ $('Google Sheets Trigger').item.json.gender }}","skills":"={{ $('Google Sheets Trigger').item.json.skills }}","target_region":"={{ $('Google Sheets Trigger').item.json.target_region }}","target_audience":"={{ $('Google Sheets Trigger').item.json.target_audience }}","website":"={{ $('Google Sheets Trigger').item.json.website }}","linkedin_url":"={{ $('Google Sheets Trigger').item.json.linkedin_url }}","instagram_id":"={{ $('Google Sheets Trigger').item.json.instagram_id }}","facebook_id":"={{ $('Google Sheets Trigger').item.json.facebook_id }}","topic_of_post":"={{ $('Google Sheets Trigger').item.json.topic_of_post }}","research_mode_required":"={{ $('Google Sheets Trigger').item.json.research_mode_required }}","include_images":"={{ $('Google Sheets Trigger').item.json.include_images }}","image_generation_style":"={{ $('Google Sheets Trigger').item.json.image_generation_style }}","image_height":"={{ $('Google Sheets Trigger').item.json.image_height }}","image_width":"={{ $('Google Sheets Trigger').item.json.image_width }}","added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","post_on_linkedin":"={{ $('Google Sheets Trigger').item.json.post_on_linkedin }}","post_on_facebook":"={{ $('Google Sheets Trigger').item.json.post_on_facebook }}","post_on_instagram":"={{ $('Google Sheets Trigger').item.json.post_on_instagram }}","post_on_youtube":"={{ $('Google Sheets Trigger').item.json.post_on_youtube }}","post_on_wordpress_website":"={{ $('Google Sheets Trigger').item.json.post_on_wordpress_website }}","post_on_blogger":"={{ $('Google Sheets Trigger').item.json.post_on_blogger }}","post_on_x":"={{ $('Google Sheets Trigger').item.json.post_on_x }}","post_content_generated_by_ai":"={{ $json.post_content_generated_by_ai }}","post_title_generated_by_ai":"={{ $('Google Sheets Trigger').item.json.post_title_generated_by_ai ||  $('Google Sheets Trigger').item.json.topic_of_post}}","post_image_generation_prompt_generated_by_ai":"={{ $('Google Sheets Trigger').item.json.post_image_generation_prompt_generated_by_ai }}","generated_image_url":"={{ $('Google Sheets Trigger').item.json.generated_image_url }}","unique_google_drive_file_id":"={{ $('Google Drive-FileGetter').item.json.id || \"\"}}","linkedin_post_url":"={{ $('Google Sheets Trigger').item.json.linkedin_post_url }}","facebook_post_url":"={{ $('Google Sheets Trigger').item.json.facebook_post_url }}","instagram_post_url":"={{ $('Google Sheets Trigger').item.json.instagram_post_url }}","youtube_post_url":"={{ $('Google Sheets Trigger').item.json.youtube_post_url }}","wordpress_website_post_url":"={{ $('Google Sheets Trigger').item.json.wordpress_website_post_url }}","blogger_post_url":"={{ $('Google Sheets Trigger').item.json.blogger_post_url }}","x_post_url":"={{ $('Google Sheets Trigger').item.json.x_post_url }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3520,-1080],"id":"c994010c-1a67-4117-a4a9-0eab43f2c47a","name":"Google Sheets-AddPostDataTo_generated_posts_pipeline","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":561698211,"mode":"list","cachedResultName":"posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=561698211"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4300,-1320],"id":"33c50786-c2ed-406d-b0c2-550ca7aacaa2","name":"Google Sheets-DeleteRowFromPostPipeline","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $('Google Sheets to get User Info').item.json.unique_telegram_id }}","text":"=Post Data:\n{{ $('Google Sheets Trigger').item.json.topic_of_post }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4300,-520],"id":"40154c79-6189-47eb-b0e6-dfd221cf0aef","name":"Telegram-SendTopic","webhookId":"5fbb11c0-a3cd-492c-918e-4492b752c18e","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Google Sheets to get User Info').item.json.unique_telegram_id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4320,-760],"id":"608c295d-8418-4234-b2cc-3a28ffa5b918","name":"Telegram-SendImage","webhookId":"9a36a354-b05c-493c-97bc-0fd5094341d3","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.result.chat.id }}","text":"={{ $('If [to detect image required or not]').item.json.post_content_generated_by_ai }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4300,-260],"id":"47a1ef29-2fdb-451c-a0dd-5fade66bb374","name":"Telegram-SendContent","webhookId":"5fbb11c0-a3cd-492c-918e-4492b752c18e","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Google Sheets to get User Info').item.json.unique_telegram_id }}","text":"=Post has been generated successfully and is being prepared for upload.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[6060,-1560],"id":"ee72a959-1c0b-4649-a298-1b6385176060","name":"Telegram-SendContent1","webhookId":"5fbb11c0-a3cd-492c-918e-4492b752c18e","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-880,-1100],"id":"db81e63b-7188-4e41-acee-4e1b2f01adc0","name":"Loop Over Items"},{"parameters":{"chatId":"-4976195425","text":"=Generated content for each and every entries in Posts Pipeline Sheet.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"2a69b38e-2edf-4b70-ac67-dba35374162e","name":"sendTextMessage","type":"n8n-nodes-base.telegram","position":[-340,-1140],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Google Sheets to get User Info').item.json.unique_telegram_id }}","text":"=Post Data:\n{{ $('Google Sheets Trigger').item.json.topic_of_post }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2420,-1120],"id":"b49ea06e-1e95-4fb5-bada-6166346e968a","name":"Telegram-SendTopic1","webhookId":"5fbb11c0-a3cd-492c-918e-4492b752c18e","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.result.chat.id }}","text":"={{ $('If [to detect image required or not]').item.json.post_content_generated_by_ai }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2520,-1280],"id":"e19fd04f-f2c0-43ff-8bdb-15797073c48c","name":"Telegram-SendContent2","webhookId":"5fbb11c0-a3cd-492c-918e-4492b752c18e","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":107398381,"mode":"list","cachedResultName":"generated_posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=107398381"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $('Google Sheets Trigger').item.json.name }}","email_id_unique_id":"={{ $('Google Sheets Trigger').item.json.email_id_unique_id }}","persona":"={{ $('Google Sheets Trigger').item.json.persona }}","gender":"={{ $('Google Sheets Trigger').item.json.gender }}","skills":"={{ $('Google Sheets Trigger').item.json.skills }}","target_region":"={{ $('Google Sheets Trigger').item.json.target_region }}","target_audience":"={{ $('Google Sheets Trigger').item.json.target_audience }}","website":"={{ $('Google Sheets Trigger').item.json.website }}","linkedin_url":"={{ $('Google Sheets Trigger').item.json.linkedin_url }}","instagram_id":"={{ $('Google Sheets Trigger').item.json.instagram_id }}","facebook_id":"={{ $('Google Sheets Trigger').item.json.facebook_id }}","topic_of_post":"={{ $('Google Sheets Trigger').item.json.topic_of_post }}","research_mode_required":"={{ $('Google Sheets Trigger').item.json.research_mode_required }}","include_images":"={{ $('Google Sheets Trigger').item.json.include_images }}","image_generation_style":"={{ $('Google Sheets Trigger').item.json.image_generation_style }}","image_height":"={{ $('Google Sheets Trigger').item.json.image_height }}","image_width":"={{ $('Google Sheets Trigger').item.json.image_width }}","added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","post_on_linkedin":"={{ $('Google Sheets Trigger').item.json.post_on_linkedin }}","post_on_facebook":"={{ $('Google Sheets Trigger').item.json.post_on_facebook }}","post_on_instagram":"={{ $('Google Sheets Trigger').item.json.post_on_instagram }}","post_on_youtube":"={{ $('Google Sheets Trigger').item.json.post_on_youtube }}","post_on_wordpress_website":"={{ $('Google Sheets Trigger').item.json.post_on_wordpress_website }}","post_on_blogger":"={{ $('Google Sheets Trigger').item.json.post_on_blogger }}","post_on_x":"={{ $('Google Sheets Trigger').item.json.post_on_x }}","post_content_generated_by_ai":"={{ $('If [to detect image required or not]').item.json.post_content_generated_by_ai }}","post_title_generated_by_ai":"={{ $('Google Sheets Trigger').item.json.post_title_generated_by_ai ||  $('Google Sheets Trigger').item.json.topic_of_post}}","post_image_generation_prompt_generated_by_ai":"={{ $('Google Sheets Trigger').item.json.post_image_generation_prompt_generated_by_ai }}","generated_image_url":"={{ $('Google Sheets Trigger').item.json.generated_image_url }}","linkedin_post_url":"={{ $('Google Sheets Trigger').item.json.linkedin_post_url }}","facebook_post_url":"={{ $('Google Sheets Trigger').item.json.facebook_post_url }}","instagram_post_url":"={{ $('Google Sheets Trigger').item.json.instagram_post_url }}","youtube_post_url":"={{ $('Google Sheets Trigger').item.json.youtube_post_url }}","wordpress_website_post_url":"={{ $('Google Sheets Trigger').item.json.wordpress_website_post_url }}","blogger_post_url":"={{ $('Google Sheets Trigger').item.json.blogger_post_url }}","x_post_url":"={{ $('Google Sheets Trigger').item.json.x_post_url }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3080,-1580],"id":"4edd6c3c-144a-4520-a12b-e734f027d8db","name":"Google Sheets-AddPostDataTo_generated_posts_pipeline1","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":561698211,"mode":"list","cachedResultName":"posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=561698211"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4320,-1680],"id":"cf2e7c08-2444-4841-8fe9-1282c443c10b","name":"Google Sheets-DeleteRowFromPostPipeline1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Drive-FileGetter').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4320,-1020],"id":"bde0a51a-08d8-4696-b9a2-0585c0d24b49","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"oFegsIITzkrR2EDe","name":"Google Drive account"}}},{"parameters":{"chatId":"={{ $('Google Sheets to get User Info').item.json.unique_telegram_id }}","text":"=Post Data:\n{{ $('Google Sheets Trigger').item.json.topic_of_post }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4720,-1720],"id":"8f7b7491-f369-47c4-8784-47b74f30cb81","name":"Telegram-SendTopic2","webhookId":"5fbb11c0-a3cd-492c-918e-4492b752c18e","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.result.chat.id }}","text":"={{ $('If [to detect image required or not]').item.json.post_content_generated_by_ai }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4720,-1460],"id":"97dbc651-b815-4c67-bc85-dcc5955a59b0","name":"Telegram-SendContent3","webhookId":"5fbb11c0-a3cd-492c-918e-4492b752c18e","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Google Sheets to get User Info').item.json.unique_telegram_id }}","text":"=Post has been generated successfully and is being prepared for upload.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[6480,-2760],"id":"ded2476e-5b26-43ee-95a0-142f75043ad9","name":"Telegram-SendContent4","webhookId":"5fbb11c0-a3cd-492c-918e-4492b752c18e","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}}],"connections":{"Generate Image":{"main":[[{"node":"Convert to Binary","type":"main","index":0}]]},"Convert to Binary":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets to get User Info":{"main":[[{"node":"If-else [research_mode_required]","type":"main","index":0}]]},"If-else [research_mode_required]":{"main":[[{"node":"Research Topic- Perplexity","type":"main","index":0}],[{"node":"OpenAI2","type":"main","index":0}]]},"Research Topic- Perplexity":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If [to detect image required or not]","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If [to detect image required or not]","type":"main","index":0}]]},"If [to detect image required or not]":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"Telegram-SendTopic1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive-FileGetter","type":"main","index":0}]]},"Google Drive-FileGetter":{"main":[[{"node":"GoogleSheets-UpdatePostsPipeline","type":"main","index":0}]]},"GoogleSheets-UpdatePostsPipeline":{"main":[[{"node":"Google Sheets-AddPostDataTo_generated_posts_pipeline","type":"main","index":0}]]},"Google Sheets-AddPostDataTo_generated_posts_pipeline":{"main":[[{"node":"Google Sheets-DeleteRowFromPostPipeline","type":"main","index":0}]]},"Google Sheets-DeleteRowFromPostPipeline":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Telegram-SendTopic":{"main":[[{"node":"Telegram-SendContent","type":"main","index":0}]]},"Telegram-SendImage":{"main":[[{"node":"Telegram-SendTopic","type":"main","index":0}]]},"Telegram-SendContent":{"main":[[{"node":"Telegram-SendContent1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"sendTextMessage","type":"main","index":0}],[{"node":"Google Sheets to get User Info","type":"main","index":0}]]},"Telegram-SendContent1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Telegram-SendTopic1":{"main":[[{"node":"Telegram-SendContent2","type":"main","index":0}]]},"Telegram-SendContent2":{"main":[[{"node":"Google Sheets-AddPostDataTo_generated_posts_pipeline1","type":"main","index":0}]]},"Google Sheets-AddPostDataTo_generated_posts_pipeline1":{"main":[[{"node":"Google Sheets-DeleteRowFromPostPipeline1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Telegram-SendImage","type":"main","index":0}]]},"Telegram-SendTopic2":{"main":[[{"node":"Telegram-SendContent3","type":"main","index":0}]]},"Telegram-SendContent3":{"main":[[{"node":"Telegram-SendContent4","type":"main","index":0}]]},"Google Sheets-DeleteRowFromPostPipeline1":{"main":[[{"node":"Telegram-SendTopic2","type":"main","index":0}]]},"Telegram-SendContent4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","sheetId":561698211,"lastIndexChecked":8}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0e0eaa2-6403-4cd2-8a26-9c840925549e","triggerCount":1,"tags":[]}