socialmediaautomation-pro-activator-G74cmRsuKozDHeeK.json
{"createdAt":"2025-06-02T16:15:10.678Z","updatedAt":"2025-06-04T09:08:12.000Z","id":"G74cmRsuKozDHeeK","name":"SocialMediaAutomation-Pro-ACTIVATOR","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":60}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-360,-20],"id":"799f33aa-4ffe-43ab-a0e6-223ca4e59f84","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c00dddaa-87d7-447e-8a84-f7d781ebe0eb","leftValue":"={{ $json.timeDifference.hours }}","rightValue":"={{ $('Google Sheets to get User Info').item.json.time_gap_between_posts_in_hours }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[660,200],"id":"a454ff70-a7c8-4c67-9c73-4376152ab5ba","name":"If","alwaysOutputData":false,"executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[100,-60],"id":"69c8532e-e8df-4022-8684-91881ee5a69b","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[340,200],"id":"23f9a81f-ae1e-46de-9a30-2760ca8043eb","name":"Get Current Date"},{"parameters":{"operation":"getTimeBetweenDates","startDate":"={{ $('Google Sheets to get User Info').item.json.last_posted_on_date_time }}","endDate":"={{ $json.currentDate }}","units":["hour"],"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[500,200],"id":"c1746bdb-d808-4a3c-9453-492b95577035","name":"Date & Time Diff Calculator"},{"parameters":{"documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation - UserData","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-140,-20],"id":"62147ea2-e0f4-4345-9ebe-17ff73bcca92","name":"Google Sheets to get User Info","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"chatId":"-4976195425","text":"=Executed checks for all entries in user table.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"f101c119-63a5-4c82-8ff6-a17f79576202","name":"sendTextMessage","type":"n8n-nodes-base.telegram","position":[340,-240],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Loop Over Items').item.json.unique_telegram_id }}","text":"=⏰ Its time to post something on your social media handles. \nPlease fill up the form: https://n8n.srv849727.hstgr.cloud/form/359fa996-5531-40ae-be37-4a6e136952e2","additionalFields":{}},"id":"d050ced8-c69e-41de-adac-278426ecd399","name":"sendTextMessage1","type":"n8n-nodes-base.telegram","position":[1260,200],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1975153802,"mode":"list","cachedResultName":"post_creation_triggers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=1975153802"},"columns":{"mappingMode":"defineBelow","value":{"email_id_unique_id":"={{ $('Google Sheets to get User Info').item.json.email_id_unique_id }}","last_triggered_timestamp":"={{ $('Get Current Date').item.json.currentDate }}","autopilot_deployed":"FALSE"},"matchingColumns":[],"schema":[{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_triggered_timestamp","displayName":"last_triggered_timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"autopilot_deployed","displayName":"autopilot_deployed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"autopilot_deployment_timestamp","displayName":"autopilot_deployment_timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[960,140],"id":"d0f5e11d-582d-417a-b418-60bc17822ea6","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets to get User Info","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"sendTextMessage","type":"main","index":0}],[{"node":"Get Current Date","type":"main","index":0}]]},"Get Current Date":{"main":[[{"node":"Date & Time Diff Calculator","type":"main","index":0}]]},"Date & Time Diff Calculator":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Sheets to get User Info":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"sendTextMessage1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"sendTextMessage1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d6490df8-7b59-45af-8b7c-2db479f94346","triggerCount":1,"tags":[]}