socialmediaautomation-pro-execution-JDGr1ez3dAnyawRH.json
{"createdAt":"2025-06-03T07:48:24.171Z","updatedAt":"2025-06-04T09:23:41.000Z","id":"JDGr1ez3dAnyawRH","name":"SocialMediaAutomation-Pro-EXECUTION","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":15,"unit":"minutes"}]},"documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":107398381,"mode":"list","cachedResultName":"generated_posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=107398381"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"id":"fbf9f289-8de4-4e06-bcdc-6a494b4dc5c4","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"HReFMiGdaroT67gG","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"83cbbc43-7570-4f46-9fac-43ad10b94dfb","leftValue":"={{ $('Google Sheets Trigger').item.json.post_on_linkedin || $json.post_on_linkedin }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"1d41157a-3181-41b8-9fa7-d83b91d767f6","leftValue":"={{ $('Loop Over Items').item.json.linkedin_post_url }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"529ce544-ae6e-4b1a-ac50-0415aec4bc49","leftValue":"={{ $json.linkedin_credential }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,-1920],"id":"73397418-f05e-42f8-9f55-786d2d58771e","name":"If-POST ON LINKEDIN"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"83cbbc43-7570-4f46-9fac-43ad10b94dfb","leftValue":"={{ $('Google Sheets Trigger').item.json.post_on_facebook || $json.post_on_facebook}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"d6d13328-1958-403b-ae7f-83f54352995a","leftValue":"={{ $('Google Sheets Trigger').item.json.facebook_post_url }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"a9e18c2b-fcf3-4d38-8556-bc76f52ddcca","leftValue":"={{ $json.facebook_credential }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1180,-1300],"id":"01b35410-19c4-40d8-abb4-e31b72c45395","name":"If-POST ON FACEBOOK"},{"parameters":{"documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"email_id_unique_id","lookupValue":"={{ $json.email_id_unique_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[340,0],"id":"50bd448e-738d-4658-b64a-0659819533c3","name":"Google Sheets-GetUserInfo","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"83cbbc43-7570-4f46-9fac-43ad10b94dfb","leftValue":"={{ $('Google Sheets Trigger').item.json.post_on_x || $json.post_on_x }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"ca65f7ec-5cfe-4331-90cf-86a66b7723e4","leftValue":"={{ $('Google Sheets Trigger').item.json.x_post_url }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,-400],"id":"73969a63-3a19-4663-96d4-14dc9b9f3cbb","name":"If-POST ON X"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"83cbbc43-7570-4f46-9fac-43ad10b94dfb","leftValue":"={{ $('Google Sheets Trigger').item.json.post_on_wordpress_website || $json.post_on_wordpress_website }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"a0859f97-210b-41fb-92b2-30a52c736b15","leftValue":"={{ $('Google Sheets Trigger').item.json.wordpress_website_post_url }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1400,60],"id":"d84a1865-5a86-4b71-a3ae-89eeff7a137a","name":"If-POST ON WORDPRESS"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"83cbbc43-7570-4f46-9fac-43ad10b94dfb","leftValue":"={{ $('Google Sheets Trigger').item.json.post_on_instagram || $json.post_on_instagram }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"04782a15-dd82-42db-8c40-1ef321d7eaac","leftValue":"={{ $('Google Sheets Trigger').item.json.instagram_post_url }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1240,1280],"id":"ffd8286e-bb25-4c23-a43a-48e1611fc866","name":"If-POST ON INSTAGRAM"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"83cbbc43-7570-4f46-9fac-43ad10b94dfb","leftValue":"={{ $('Google Sheets Trigger').item.json.post_on_youtube || $json.post_on_youtube }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"5b58b6f2-98d0-4434-9b32-5c1cfbc739b3","leftValue":"={{ $('Google Sheets Trigger').item.json.youtube_post_url }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1180,680],"id":"c7967797-72ac-47e2-beef-4f4817309b99","name":"If-POST ON YOUTUBE"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"83cbbc43-7570-4f46-9fac-43ad10b94dfb","leftValue":"={{ $('Google Sheets Trigger').item.json.post_on_blogger || $json.post_on_blogger }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"3032aa10-0d68-45f9-a9c9-30691b7dea64","leftValue":"={{ $('Google Sheets Trigger').item.json.blogger_post_url }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,1000],"id":"451b7898-1fac-4195-8ff3-921cefa3530b","name":"If-POST ON BLOGGER"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d7ae7bcd-df47-43b0-9b97-154720a77401","leftValue":"={{ $('Google Sheets Trigger').item.json.include_images }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1380,-2200],"id":"5299bb66-bfb7-4e88-a40a-985d502936cc","name":"If"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Sheets Trigger').item.json.unique_google_drive_file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1680,-2560],"id":"0a7731e6-0efe-4907-8848-95549bed4d8b","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"oFegsIITzkrR2EDe","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d7ae7bcd-df47-43b0-9b97-154720a77401","leftValue":"={{ $('Google Sheets Trigger').item.json.include_images }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1460,-1540],"id":"1a39b8f4-70d2-4b1f-a2fa-a280d3890246","name":"If1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Sheets Trigger').item.json.unique_google_drive_file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1820,-1700],"id":"52911c16-d004-441e-986c-586188f8d3b0","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"oFegsIITzkrR2EDe","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d7ae7bcd-df47-43b0-9b97-154720a77401","leftValue":"={{ $('Google Sheets Trigger').item.json.include_images }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1580,1200],"id":"0db83ec5-3fdd-44a1-b504-a9e3d72506fd","name":"If2"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Sheets Trigger').item.json.unique_google_drive_file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1800,1100],"id":"c8d2e9e2-5356-44e8-ba9d-b6a5c8125160","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"oFegsIITzkrR2EDe","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d7ae7bcd-df47-43b0-9b97-154720a77401","leftValue":"={{ $('Google Sheets Trigger').item.json.include_images }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1560,540],"id":"308676b3-098d-4d7b-a59b-705a683ff627","name":"If5"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Sheets Trigger').item.json.unique_google_drive_file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1820,380],"id":"7180ede2-ce89-4af7-8d84-1133259a8dee","name":"Google Drive5","credentials":{"googleDriveOAuth2Api":{"id":"oFegsIITzkrR2EDe","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d7ae7bcd-df47-43b0-9b97-154720a77401","leftValue":"={{ $('Google Sheets Trigger').item.json.include_images }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1460,880],"id":"06ab67d8-977f-4f4b-8b78-cbfa1dde8fde","name":"If6"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Sheets Trigger').item.json.unique_google_drive_file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1700,760],"id":"70d58a27-48dc-4d89-a1fb-95dae045fdb1","name":"Google Drive6","credentials":{"googleDriveOAuth2Api":{"id":"oFegsIITzkrR2EDe","name":"Google Drive account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":107398381,"mode":"list","cachedResultName":"generated_posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=107398381"},"columns":{"mappingMode":"defineBelow","value":{"added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","linkedin_post_url":"={{ $json.urn }}"},"matchingColumns":["added_on_date_time"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2280,-2560],"id":"97de557a-9bb7-45d3-a1a7-269614aa970c","name":"Google Sheets-UpdateGeneratePostPipeline","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":107398381,"mode":"list","cachedResultName":"generated_posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=107398381"},"columns":{"mappingMode":"defineBelow","value":{"added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","linkedin_post_url":"={{ $json.urn }}"},"matchingColumns":["added_on_date_time"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2300,-2180],"id":"4d439f1f-a342-4b46-bbae-1864151b3cd8","name":"Google Sheets-UpdateGeneratePostPipeline1","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":107398381,"mode":"list","cachedResultName":"generated_posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=107398381"},"columns":{"mappingMode":"defineBelow","value":{"added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","facebook_post_url":"={{ $json.post_id }}"},"matchingColumns":["added_on_date_time"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2620,-1700],"id":"66211c31-d7a9-4666-a8b0-0c580dd9d00d","name":"Google Sheets-UpdateGeneratePostPipeline2","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":107398381,"mode":"list","cachedResultName":"generated_posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=107398381"},"columns":{"mappingMode":"defineBelow","value":{"added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","facebook_post_url":"={{ $json.post_id }}"},"matchingColumns":["added_on_date_time"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2640,-1300],"id":"489ad41f-6b06-4f24-bd3b-bf88c684c878","name":"Google Sheets-UpdateGeneratePostPipeline3","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a skilled blog editor and frontend developer. Your job is to reframe raw content into a beautifully structured, minimalistic, and stylish HTML blog post with professional formatting and embedded royalty-free stock images. Also, use Perplexity to research trending keywords related to the topic to make the blog more SEO-friendly without keyword stuffing or spammy behavior.\\n\\nGuidelines:\\n\\n1. **Content Reframing**\\n   - Rephrase awkward sentences without changing more than 1% of the original content.\\n   - Keep core meaning and facts entirely intact.\\n   - Improve grammar, punctuation, sentence flow, and clarity subtly.\\n\\n2. **HTML Structure & Styling**\\n   - Wrap the final output in a clean HTML5 template with `<head>` and `<body>`.\\n   - Use semantic tags: `<header>`, `<article>`, `<section>`, `<footer>`, `<figure>`, etc.\\n   - Include inline CSS or link to a basic Google Font for elegant styling.\\n   - Use readable font sizes and proper white spacing.\\n\\n3. **Media Insertion**\\n   - Insert 2 to 4 **royalty-free stock images** that match the blog topic. Remember to use only valid but royalty free stock image URL related to the topic and available on the internet.\\n   - Use `<figure>` and `<figcaption>` appropriately.\\n\\n4. **SEO and Readability**\\n   - Add a `<title>` based on the blog's theme.\\n   - Use a `<meta name=\\\"description\\\">` tag summarizing the article.\\n   - Use trending keywords relevant to the topic for SEO enhancement (researched using Perplexity).\\n   - Add at least 3 `<h2>` subheadings to break the content.\\n\\n5. **Tone and Style**\\n   - USE ONLY BLACK FONT COLOR AND WHITE BACKGROUND AND USE BLUE TO DENOTE LINKS. YOU MAY BOLD THE IMPORTANT KEYWORDS. \\n- Keep tone conversational, informative, and professional.\\n   - Use short paragraphs (2–4 lines).\\n   - Optionally include 1–2 inspirational quotes or statistics related to the topic.\\n\\n6. **Final Section**\\n   - Add the following promotional block at the end of the blog in a `<section>`:\\n\\n<section>\\n  <h2>How GreyNext Can Help You Build a Powerful Brand 🎯</h2>\\n  <p>At GreyNext, we specialize in cutting-edge software solutions to take your brand to the next level. Whether it’s custom web & app development, AI-powered branding strategies, or seamless digital marketing, we have the expertise to help you scale.</p>\\n  <ul>\\n    <li>✅ Custom Software Development – Tailored solutions for your business needs.</li>\\n    <li>✅ AI & Automation – Enhance your branding and marketing strategies with AI.</li>\\n    <li>✅ Web & App Development – Build intuitive and high-performing digital platforms.</li>\\n    <li>✅ Branding & Digital Marketing – Data-driven strategies to increase visibility and engagement.</li>\\n  </ul>\\n  <p>🚀 Let’s Build Your Brand’s Future Together!</p>\\n  <p>📞 Contact Us Today:</p>\\n  <p>📧 Email: <a href=\\\"mailto:info@greynext.com\\\">info@greynext.com</a></p>\\n  <p>🌐 Website: <a href=\\\"https://www.greynext.com\\\" target=\\\"_blank\\\">www.greynext.com</a></p>\\n</section>\\n\\n7. **Output Format**\\n   - Output the final HTML file as a code block with no commentary.\\n   - Do NOT include Markdown or extra formatting outside the HTML code.\\n   - Ensure the HTML is ready to render in a browser.\\n - - FOR IMAGES USE ONLY WORKING URL THAT HAS BEEN TESTED.\\n - NO NEED TO GIVE TITLE OR HEADING, DIRECTLY START FROM THE CONTENT.\\n - Avoid ** markdowns, you can use <strong> tag to make a text bold.\\n - Avoid continuous newlines.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate a complete HTML blog page from the content below, preserving 99% of the content but rewriting awkward phrases and grammar for clarity. Add relevant royalty-free stock images [use only valid url that works] in proper sections. Research trending keywords and optimize SEO naturally (no spam). End the blog with the GreyNext branding block as instructed.\\n\\nContent: {{ $json.text }}\"\n    }\n  ]\n}\n","options":{}},"id":"95388a1b-cbff-4bda-a0a0-0da38812dec1","name":"Research Topic- Perplexity","type":"n8n-nodes-base.httpRequest","position":[2460,20],"typeVersion":4.2},{"parameters":{"jsCode":"const data = $('Google Sheets Trigger').first().json.post_content_generated_by_ai;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .replace(/\\n/g, ' ')  \n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nconst extractedText = extractTextFromHTML(data);\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1960,40],"id":"454a79e3-74ee-4f22-a625-3ad17f089f48","name":"Code-CleanupOfGeneratedContent"},{"parameters":{"jsCode":"const data =$input.first().json.choices[0].message.content ;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n\n    .replace(/```html\\n/g, '')  \n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nconst extractedText = extractTextFromHTML(data);\n// Log or return the extracted text for debugging\n// console.log(extractedText);\n\n// Return the extracted text as output\nreturn {extractedText};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2760,20],"id":"3d3eb399-9d0d-49a3-af7b-ef26e5d617a4","name":"Code-HTML CLEANUP"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":107398381,"mode":"list","cachedResultName":"generated_posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=107398381"},"columns":{"mappingMode":"defineBelow","value":{"added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","wordpress_website_post_url":"={{ $json.guid.rendered }}"},"matchingColumns":["added_on_date_time"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3460,-20],"id":"0378df71-a230-4ae9-82dd-c43ed4ad2f95","name":"Google Sheets-UpdateGeneratePostPipeline4","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Search the internet and search the trending topics for the date and time: {{ $json.currentDate }} [You can also use topics trending in the given week] and rewrite the content given by the user for a twitter post keeping in mind the character contrain.\\n - CHARACTER LIMIT: 250\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Content by the user:{{ $json.text }}\"\n    }\n  ]\n}\n","options":{}},"id":"4ce57ad1-6e8b-477e-b0c0-5ead22254c21","name":"Research Topic- Perplexity1","type":"n8n-nodes-base.httpRequest","position":[2540,-520],"typeVersion":4.2},{"parameters":{"jsCode":"const data = $('Google Sheets Trigger').first().json.post_content_generated_by_ai;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .replace(/\\n/g, ' ')  \n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nconst extractedText = extractTextFromHTML(data);\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2300,-440],"id":"257d56c9-5c9b-4312-ba0f-e8bba0d7e76a","name":"Code-CleanupOfGeneratedContent1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":107398381,"mode":"list","cachedResultName":"generated_posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=107398381"},"columns":{"mappingMode":"defineBelow","value":{"added_on_date_time":"={{ $('Google Sheets Trigger').item.json.added_on_date_time }}","x_post_url":"={{ $json.id ||\"\" }}"},"matchingColumns":["added_on_date_time"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3420,-640],"id":"10cf815a-dd5c-4b63-a5eb-ce5f42226fcd","name":"Google Sheets-UpdateGeneratePostPipeline5","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-200,-2900],"id":"889e5114-26c6-4fb0-824a-a1d1e8e3fbec","name":"Loop Over Items"},{"parameters":{"chatId":"={{ $('Google Sheets-GetUserInfo').item.json.unique_telegram_id }}","text":"=Your post has been posted.","additionalFields":{"appendAttribution":false}},"id":"d79960e3-691b-4ce2-8b34-298c0b152daf","name":"sendTextMessage","type":"n8n-nodes-base.telegram","position":[320,-3280],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Google Sheets-GetUserInfo').item.json.unique_telegram_id }}","text":"=Your post has been posted on LinkedIN.","additionalFields":{"appendAttribution":false}},"id":"4012f780-eead-4bd3-a6c7-e03355e86815","name":"sendTextMessage2","type":"n8n-nodes-base.telegram","position":[2900,-2520],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Google Sheets-GetUserInfo').item.json.unique_telegram_id }}","text":"=Your post has been posted on Facebook.","additionalFields":{"appendAttribution":false}},"id":"bb9ad89d-5809-45e2-9e92-fe0e283111b3","name":"sendTextMessage3","type":"n8n-nodes-base.telegram","position":[3000,-1660],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Google Sheets-GetUserInfo').item.json.unique_telegram_id }}","text":"=Your post has been posted on X.","additionalFields":{"appendAttribution":false}},"id":"9c362298-82b8-449c-babd-fa976a131807","name":"sendTextMessage4","type":"n8n-nodes-base.telegram","position":[3760,-700],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Google Sheets-GetUserInfo').item.json.unique_telegram_id }}","text":"=Your post has been posted on Wordpress.","additionalFields":{"appendAttribution":false}},"id":"1344a7de-6a54-4448-ba8f-d30bd324337a","name":"sendTextMessage5","type":"n8n-nodes-base.telegram","position":[4080,100],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"jsCode":"const data = $input.first().json.choices[0].message.content;\n\n// Function to extract text from HTML while removing unnecessary characters\nfunction extractTextFromHTML(html) {\n  const cleanedHTML = html\n    .replace(/\"/g, '')      // Remove all double quotes\n    .replace(/\\*\\*/g, '')   // Remove all double asterisks (**)\n    .trim();                // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nconst extractedText = extractTextFromHTML(data);\n\n// Return the extracted text as output\nreturn { extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2840,-540],"id":"75ea47c9-3689-448c-99f7-d2d85ec79f53","name":"Code-HTML CLEANUP1"},{"parameters":{"jsCode":"const data = $('Google Sheets Trigger').first().json.post_content_generated_by_ai;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .replace(/\\n/g, ' ')  \n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nconst extractedText = extractTextFromHTML(data);\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,-2180],"id":"5a8f171e-8106-4f9e-8eb2-c8c90f951873","name":"Code-CleanupOfGeneratedContent2"},{"parameters":{"jsCode":"const data = $('Google Sheets Trigger').first().json.post_content_generated_by_ai;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .replace(/\\n/g, ' ')  \n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nconst extractedText = extractTextFromHTML(data);\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,-2560],"id":"7db57f67-5307-46de-b65f-a19736e26bae","name":"Code-CleanupOfGeneratedContent3"},{"parameters":{"jsCode":"const data = $('Google Sheets Trigger').first().json.post_content_generated_by_ai;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .replace(/\\n/g, ' ')  \n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nconst extractedText = extractTextFromHTML(data);\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,-1680],"id":"a228879b-e51f-44ed-ba77-4ec0e88dfb8f","name":"Code-CleanupOfGeneratedContent4"},{"parameters":{"jsCode":"const data = $('Google Sheets Trigger').first().json.post_content_generated_by_ai;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .replace(/\\n/g, ' ')  \n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nconst extractedText = extractTextFromHTML(data);\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,-1140],"id":"a403cadc-3ae2-412f-876b-6f63b4cd6da2","name":"Code-CleanupOfGeneratedContent5"},{"parameters":{"credentialsId":"={{ $('Google Sheets-GetUserInfo').item.json.x_credential }}","nodeJson":"={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"text\": \"={{ $json.extractedText }}\",\n        \"additionalFields\": {}\n      },\n      \"type\": \"n8n-nodes-base.twitter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        3620,\n        -340\n      ],\n      \"id\": \"44cfbc11-e0b6-48a1-9542-75ed67b710aa\",\n      \"name\": \"X\",\n      \"executeOnce\": false,\n      \"credentials\": {\n        \"twitterOAuth2Api\": {\n          \"id\": \"{{ $('Google Sheets-GetUserInfo').item.json.x_credential }}\",\n          \"name\": \"X account\"\n        }\n      },\n      \"onError\": \"continueRegularOutput\"\n    }\n  ],\n  \"connections\": {\n    \"X\": {\n      \"main\": [\n        []\n      ]\n    }\n  },\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"7aedb142caf24149ed93c699d5f2fdb73d93732b44b5f3f62b694e34b2b9e349\"\n  }\n}"},"type":"n8n-nodes-run-node-with-credentials-x.runNodeWithCredentialsX","typeVersion":1,"position":[3100,-560],"id":"f1f22fad-bac4-40cb-be9c-3f66658779b2","name":"Run Node WIth Credentials - X","onError":"continueRegularOutput"},{"parameters":{"credentialsId":"={{ $('Google Sheets-GetUserInfo').item.json.wordpress_credential }}","nodeJson":"={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"title\": \"={{ $('Google Sheets Trigger').item.json.topic_of_post }}\",\n        \"additionalFields\": {\n          \"authorId\": 1,\n          \"content\": \"={{ $json.htmlEscaped }}\",\n          \"slug\": \"={{ $('Google Sheets Trigger').item.json.topic_of_post }}\",\n          \"status\": \"publish\",\n          \"commentStatus\": \"closed\"\n        }\n      },\n      \"type\": \"n8n-nodes-base.wordpress\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3020,\n        -1000\n      ],\n      \"id\": \"b55d8647-54e7-40c7-940b-318b0cd6e406\",\n      \"name\": \"Wordpress\",\n      \"credentials\": {\n        \"wordpressApi\": {\n          \"id\": \"{{ $('Google Sheets-GetUserInfo').item.json.wordpress_credential }}\",\n          \"name\": \"Wordpress account\"\n        }\n      }\n    }\n  ],\n  \"connections\": {\n    \"Wordpress\": {\n      \"main\": [\n        []\n      ]\n    }\n  },\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"7aedb142caf24149ed93c699d5f2fdb73d93732b44b5f3f62b694e34b2b9e349\"\n  }\n}"},"type":"n8n-nodes-run-node-with-credentials-x.runNodeWithCredentialsX","typeVersion":1,"position":[3060,-20],"id":"fb43ed6e-45a6-458c-8e1a-987456d6f48d","name":"Run Node WIth Credentials -WORDPRESS","onError":"continueRegularOutput"},{"parameters":{"credentialsId":"={{ $('Google Sheets-GetUserInfo').item.json.facebook_credential }}","nodeJson":"={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"httpRequestMethod\": \"POST\",\n        \"graphApiVersion\": \"v22.0\",\n        \"node\": \"678780145316621\",\n        \"edge\": \"feed\",\n        \"sendBinaryData\": false,\n        \"binaryPropertyName\": \"data\",\n        \"options\": {\n          \"queryParameters\": {\n            \"parameter\": [\n              {\n                \"name\": \"message\",\n                \"value\": \"={{ $json.text }}\"\n              }\n            ]\n          }\n        }\n      },\n      \"id\": \"5d2c2940-9df3-48ef-91d5-ae4eaf68b487\",\n      \"name\": \"Facebook Graph API\",\n      \"type\": \"n8n-nodes-base.facebookGraphApi\",\n      \"position\": [\n        2200,\n        -1700\n      ],\n      \"typeVersion\": 1,\n      \"credentials\": {\n        \"facebookGraphApi\": {\n          \"id\": \"{{ $('Google Sheets-GetUserInfo').item.json.facebook_credential }}\",\n          \"name\": \"Facebook Graph account\"\n        }\n      }\n    }\n  ],\n  \"connections\": {\n    \"Facebook Graph API\": {\n      \"main\": [\n        []\n      ]\n    }\n  },\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"7aedb142caf24149ed93c699d5f2fdb73d93732b44b5f3f62b694e34b2b9e349\"\n  }\n}"},"type":"n8n-nodes-run-node-with-credentials-x.runNodeWithCredentialsX","typeVersion":1,"position":[2300,-1140],"id":"c48694f3-9695-4ade-9065-93107cc0c5d5","name":"Run Node WIth Credentials -FB-NO-IMG"},{"parameters":{"credentialsId":"={{ $('Google Sheets-GetUserInfo').item.json.facebook_credential }}","nodeJson":"={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"httpRequestMethod\": \"POST\",\n        \"graphApiVersion\": \"v22.0\",\n        \"node\": \"678780145316621\",\n        \"edge\": \"photos\",\n        \"sendBinaryData\": true,\n        \"binaryPropertyName\": \"data\",\n        \"options\": {\n          \"queryParameters\": {\n            \"parameter\": [\n              {\n                \"name\": \"message\",\n                \"value\": \"={{ $('Code-CleanupOfGeneratedContent4').item.json.text }}\"\n              }\n            ]\n          }\n        }\n      },\n      \"id\": \"5d2c2940-9df3-48ef-91d5-ae4eaf68b487\",\n      \"name\": \"Facebook Graph API\",\n      \"type\": \"n8n-nodes-base.facebookGraphApi\",\n      \"position\": [\n        2200,\n        -1700\n      ],\n      \"typeVersion\": 1,\n      \"credentials\": {\n        \"facebookGraphApi\": {\n          \"id\": \"{{ $('Google Sheets-GetUserInfo').item.json.facebook_credential }}\",\n          \"name\": \"Facebook Graph account\"\n        }\n      }\n    }\n  ],\n  \"connections\": {\n    \"Facebook Graph API\": {\n      \"main\": [\n        []\n      ]\n    }\n  },\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"7aedb142caf24149ed93c699d5f2fdb73d93732b44b5f3f62b694e34b2b9e349\"\n  }\n}"},"type":"n8n-nodes-run-node-with-credentials-x.runNodeWithCredentialsX","typeVersion":1,"position":[2040,-1800],"id":"7eb0b128-54b9-4b48-b721-72a4e3061d95","name":"Run Node WIth Credentials -FB"},{"parameters":{"credentialsId":"={{ $('Google Sheets-GetUserInfo').item.json.linkedin_credential }}","nodeJson":"={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"person\": \"BytAxEqIL4\",\n        \"text\": \"={{ $json.text }}\",\n        \"additionalFields\": {}\n      },\n      \"id\": \"cf497ea0-2caa-489c-9672-3c6bd306efe7\",\n      \"name\": \"LinkedIn\",\n      \"type\": \"n8n-nodes-base.linkedIn\",\n      \"position\": [\n        1980,\n        -1920\n      ],\n      \"typeVersion\": 1,\n      \"credentials\": {\n        \"linkedInOAuth2Api\": {\n          \"id\": \"{{ $('Google Sheets-GetUserInfo').item.json.linkedin_credential }}\",\n          \"name\": \"LinkedIn account\"\n        }\n      }\n    }\n  ],\n  \"connections\": {\n    \"LinkedIn\": {\n      \"main\": [\n        []\n      ]\n    }\n  },\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"7aedb142caf24149ed93c699d5f2fdb73d93732b44b5f3f62b694e34b2b9e349\"\n  }\n}"},"type":"n8n-nodes-run-node-with-credentials-x.runNodeWithCredentialsX","typeVersion":1,"position":[1800,-2180],"id":"051559bf-33e4-4461-81fe-8cbfd6e65964","name":"Run Node WIth Credentials -LINKEDIN-NO-IMG"},{"parameters":{"credentialsId":"={{ $('Google Sheets-GetUserInfo').item.json.linkedin_credential }}","nodeJson":"={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"person\": \"BytAxEqIL4\",\n        \"text\": \"={{ $('Code-CleanupOfGeneratedContent3').item.json.text }}\",\n        \"shareMediaCategory\": \"IMAGE\",\n        \"additionalFields\": {}\n      },\n      \"id\": \"a7e34492-04d0-4624-9ff9-789b93bf8d20\",\n      \"name\": \"LinkedIn1\",\n      \"type\": \"n8n-nodes-base.linkedIn\",\n      \"position\": [\n        1940,\n        -2460\n      ],\n      \"typeVersion\": 1,\n      \"credentials\": {\n        \"linkedInOAuth2Api\": {\n          \"id\": \"{{ $('Google Sheets-GetUserInfo').item.json.linkedin_credential }}\",\n          \"name\": \"LinkedIn account\"\n        }\n      }\n    }\n  ],\n  \"connections\": {\n    \"LinkedIn1\": {\n      \"main\": [\n        []\n      ]\n    }\n  },\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"7aedb142caf24149ed93c699d5f2fdb73d93732b44b5f3f62b694e34b2b9e349\"\n  }\n}"},"type":"n8n-nodes-run-node-with-credentials-x.runNodeWithCredentialsX","typeVersion":1,"position":[1920,-2660],"id":"111ca6bc-1fd2-4405-a836-afae14514ef7","name":"Run Node WIth Credentials -LINKEDIN"},{"parameters":{"chatId":"={{ $('Google Sheets-GetUserInfo').item.json.unique_telegram_id }}","text":"=Your post has been posted on LinkedIN.","additionalFields":{"appendAttribution":false}},"id":"7b060145-4302-43a7-b29b-0b9e826cc00e","name":"sendTextMessage6","type":"n8n-nodes-base.telegram","position":[2900,-2240],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Google Sheets-GetUserInfo').item.json.unique_telegram_id }}","text":"=Your post has been posted on Facebook.","additionalFields":{"appendAttribution":false}},"id":"5cac3f1e-5226-4c72-9a44-0d52ec84b898","name":"sendTextMessage7","type":"n8n-nodes-base.telegram","position":[3060,-1380],"webhookId":"d07e9654-a239-4bc4-91cc-d0011e08650b","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"jsCode":"// Function to escape HTML for JSON\nfunction escapeHtmlForJson(html) {\n return html\n   .replace(/\\\\/g, '\\\\\\\\')    // Escape backslashes first\n   .replace(/\"/g, '\\\\\"')      // Escape double quotes\n   .replace(/\\n/g, '\\\\n')     // Escape newlines\n   .replace(/\\r/g, '\\\\r')     // Escape carriage returns\n   .replace(/\\t/g, '\\\\t');    // Escape tabs\n}\n\n// Function to minify HTML\nfunction minifyHtml(html) {\n return html\n   .replace(/>\\s+</g, '><')           // Remove whitespace between tags\n   .replace(/\\s+/g, ' ')              // Replace multiple spaces with single space\n   .replace(/<!--[\\s\\S]*?-->/g, '')   // Remove HTML comments\n   .trim();\n}\n\n// Your HTML content\nconst htmlTemplate = $input.first().json.extractedText;\n\n// Get input data\nconst inputData = $input.all() || [{}];\nconst firstItem = inputData[0]?.json || {};\n\n// Dynamic values\nconst dynamicTitle = firstItem.title || \"Default Title\";\nconst dynamicAuthorId = firstItem.authorId || 1;\n\n// Process HTML\nconst minifiedHtml = minifyHtml(htmlTemplate);\nconst escapedHtml = escapeHtmlForJson(htmlTemplate);\n\n// Return data\nreturn [{\n title: dynamicTitle,\n htmlContent: htmlTemplate,\n htmlEscaped: escapedHtml,\n htmlMinified: minifiedHtml,\n authorId: dynamicAuthorId,\n slug: dynamicTitle.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, ''),\n status: \"publish\"\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,440],"id":"36c79317-d446-449d-aa40-c1376208dec9","name":"CodeforEscapedHTML"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If-POST ON LINKEDIN":{"main":[[{"node":"If","type":"main","index":0}],[]]},"Google Sheets-GetUserInfo":{"main":[[{"node":"If-POST ON LINKEDIN","type":"main","index":0},{"node":"If-POST ON FACEBOOK","type":"main","index":0},{"node":"If-POST ON X","type":"main","index":0},{"node":"If-POST ON WORDPRESS","type":"main","index":0}]]},"If":{"main":[[{"node":"Code-CleanupOfGeneratedContent3","type":"main","index":0}],[{"node":"Code-CleanupOfGeneratedContent2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code-CleanupOfGeneratedContent4","type":"main","index":0}],[{"node":"Code-CleanupOfGeneratedContent5","type":"main","index":0}]]},"If2":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"If5":{"main":[[{"node":"Google Drive5","type":"main","index":0}]]},"If6":{"main":[[{"node":"Google Drive6","type":"main","index":0}]]},"If-POST ON FACEBOOK":{"main":[[{"node":"If1","type":"main","index":0}],[]]},"If-POST ON INSTAGRAM":{"main":[[{"node":"If2","type":"main","index":0}]]},"If-POST ON X":{"main":[[{"node":"Code-CleanupOfGeneratedContent1","type":"main","index":0}],[]]},"If-POST ON WORDPRESS":{"main":[[{"node":"Code-CleanupOfGeneratedContent","type":"main","index":0}],[]]},"If-POST ON YOUTUBE":{"main":[[{"node":"If5","type":"main","index":0}]]},"If-POST ON BLOGGER":{"main":[[{"node":"If6","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Run Node WIth Credentials -LINKEDIN","type":"main","index":0}]]},"Google Sheets-UpdateGeneratePostPipeline":{"main":[[{"node":"sendTextMessage2","type":"main","index":0}]]},"Google Sheets-UpdateGeneratePostPipeline1":{"main":[[{"node":"sendTextMessage6","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Run Node WIth Credentials -FB","type":"main","index":0}]]},"Research Topic- Perplexity":{"main":[[{"node":"Code-HTML CLEANUP","type":"main","index":0}]]},"Code-CleanupOfGeneratedContent":{"main":[[{"node":"Research Topic- Perplexity","type":"main","index":0}]]},"Code-HTML CLEANUP":{"main":[[{"node":"CodeforEscapedHTML","type":"main","index":0}]]},"Research Topic- Perplexity1":{"main":[[{"node":"Code-HTML CLEANUP1","type":"main","index":0}]]},"Code-CleanupOfGeneratedContent1":{"main":[[{"node":"Research Topic- Perplexity1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"sendTextMessage","type":"main","index":0}],[{"node":"Google Sheets-GetUserInfo","type":"main","index":0}]]},"Google Sheets-UpdateGeneratePostPipeline2":{"main":[[{"node":"sendTextMessage3","type":"main","index":0}]]},"Google Sheets-UpdateGeneratePostPipeline3":{"main":[[{"node":"sendTextMessage7","type":"main","index":0}]]},"Google Sheets-UpdateGeneratePostPipeline5":{"main":[[{"node":"sendTextMessage4","type":"main","index":0}]]},"Google Sheets-UpdateGeneratePostPipeline4":{"main":[[{"node":"sendTextMessage5","type":"main","index":0}]]},"sendTextMessage2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"sendTextMessage3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"sendTextMessage4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"sendTextMessage5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code-HTML CLEANUP1":{"main":[[{"node":"Run Node WIth Credentials - X","type":"main","index":0}]]},"Code-CleanupOfGeneratedContent2":{"main":[[{"node":"Run Node WIth Credentials -LINKEDIN-NO-IMG","type":"main","index":0}]]},"Code-CleanupOfGeneratedContent3":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Code-CleanupOfGeneratedContent4":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Code-CleanupOfGeneratedContent5":{"main":[[{"node":"Run Node WIth Credentials -FB-NO-IMG","type":"main","index":0}]]},"Run Node WIth Credentials - X":{"main":[[{"node":"Google Sheets-UpdateGeneratePostPipeline5","type":"main","index":0}]]},"Run Node WIth Credentials -WORDPRESS":{"main":[[{"node":"Google Sheets-UpdateGeneratePostPipeline4","type":"main","index":0}]]},"Run Node WIth Credentials -FB-NO-IMG":{"main":[[{"node":"Google Sheets-UpdateGeneratePostPipeline3","type":"main","index":0}]]},"Run Node WIth Credentials -FB":{"main":[[{"node":"Google Sheets-UpdateGeneratePostPipeline2","type":"main","index":0}]]},"Run Node WIth Credentials -LINKEDIN-NO-IMG":{"main":[[{"node":"Google Sheets-UpdateGeneratePostPipeline1","type":"main","index":0}]]},"Run Node WIth Credentials -LINKEDIN":{"main":[[{"node":"Google Sheets-UpdateGeneratePostPipeline","type":"main","index":0}]]},"sendTextMessage6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"sendTextMessage7":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CodeforEscapedHTML":{"main":[[{"node":"Run Node WIth Credentials -WORDPRESS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","sheetId":107398381,"lastIndexChecked":1,"lastRevision":989,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU&revision=989&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5560f833-6574-40db-8e59-1ab3a42e823e","triggerCount":1,"tags":[]}