socialmediaautomation-pro-autopilot-fAgJNkBGMeVBDiLN.json
{"createdAt":"2025-06-04T07:41:46.166Z","updatedAt":"2025-06-04T09:23:08.000Z","id":"fAgJNkBGMeVBDiLN","name":"SocialMediaAutomation-Pro-AUTOPILOT","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":60}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-960,-20],"id":"f199f178-6d91-4c45-9404-14ad35ce9307","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1975153802,"mode":"list","cachedResultName":"post_creation_triggers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=1975153802"},"filtersUI":{"values":[{"lookupColumn":"autopilot_deployed","lookupValue":"false"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-700,-20],"id":"94caf0d7-86ab-4d17-9e5e-e735d5faf51b","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=You need to decide a suitable topic for a social media post for a person with the characteristics:\nInterests:[{{ $json.interests }}]\nSkills:[{{ $json.skills }}]\nPersona:[{{ $json.persona }}]\nGender:[{{ $json.gender }}]\nTarget Audience:[{{ $json.default_target_audience }}]\nTarget Geographic Region: [{{ $json.default_target_region }}]","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[420,-500],"id":"55c97011-4121-4393-bb71-1a8d33b0d8e8","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[280,-380],"id":"edb2f919-9787-42fe-ab83-12b415c32904","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"ZVDoZ9qJ7Fkvbo9r","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n  \"keyword\": \"react server components\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[840,-380],"id":"994bbe57-bbf8-4f40-b4f2-584af85b35af","name":"Structured Output Parser"},{"parameters":{"documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"email_id_unique_id","lookupValue":"={{ $('Google Sheets').item.json.email_id_unique_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[80,-700],"id":"c062e960-58ae-4611-b66f-d43ad49db338","name":"Google Sheets-USER DATA","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-520,-200],"id":"d2a4b8b4-5262-47d8-8b63-6bc34ea75071","name":"CURRENT TIMESTAMP"},{"parameters":{"operation":"getTimeBetweenDates","startDate":"={{ $('Google Sheets').item.json.last_triggered_timestamp }}","endDate":"={{ $json.currentDate }}","units":["hour"],"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-300,-200],"id":"4697f247-f69f-4786-85e5-9adc86d93940","name":"GET TIME DIFFERENCE"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f2238626-f656-4f4d-bbaf-1451747684aa","leftValue":"={{ $json.timeDifference.hours }}","rightValue":0.5,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,-200],"id":"4a393b44-0f55-4ec3-8ce3-a4d530d95e6d","name":"If-TIME DIFF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a388486b-6453-4f50-be85-f535473c9ee6","leftValue":"={{ $json.autopilot_mode }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,-820],"id":"5fdfd390-609a-484b-8d99-d8f0905d1a06","name":"If-AUTOPILOT"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1975153802,"mode":"list","cachedResultName":"post_creation_triggers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=1975153802"},"columns":{"mappingMode":"defineBelow","value":{"last_triggered_timestamp":"={{ $('Google Sheets').item.json.last_triggered_timestamp }}","autopilot_deployed":"TRUE","autopilot_deployment_timestamp":"={{ $('CURRENT TIMESTAMP').item.json.currentDate }}"},"matchingColumns":["last_triggered_timestamp"],"schema":[{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_triggered_timestamp","displayName":"last_triggered_timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"autopilot_deployed","displayName":"autopilot_deployed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"autopilot_deployment_timestamp","displayName":"autopilot_deployment_timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1060,-740],"id":"aabebb1f-6573-4beb-a08d-e0cde6b0cfc6","name":"Google Sheets-UPDATE AUTOMATION STATUS","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU","mode":"list","cachedResultName":"Social Media Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":561698211,"mode":"list","cachedResultName":"posts_pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16l30RWbRBRaRnetV6ss_p9oXrsC05tcfIKSvffspIGU/edit#gid=561698211"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $('Google Sheets-USER DATA').item.json.name }}","email_id_unique_id":"={{ $('Google Sheets-USER DATA').item.json.email_id_unique_id }}","persona":"={{ $('Google Sheets-USER DATA').item.json.persona }}","gender":"={{ $('Google Sheets-USER DATA').item.json.gender }}","skills":"={{ $('Google Sheets-USER DATA').item.json.skills }}","target_region":"={{ $('Google Sheets-USER DATA').item.json.default_target_region }}","target_audience":"={{ $('Google Sheets-USER DATA').item.json.default_target_audience }}","website":"={{ $('Google Sheets-USER DATA').item.json.website }}","linkedin_url":"={{ $('Google Sheets-USER DATA').item.json.linkedin_url }}","instagram_id":"={{ $('Google Sheets-USER DATA').item.json.instagram_id }}","facebook_id":"={{ $('Google Sheets-USER DATA').item.json.facebook_id }}","topic_of_post":"={{ $json.output.keyword }}","research_mode_required":"={{ $('Google Sheets-USER DATA').item.json.default_research_mode_required }}","include_images":"={{ $('Google Sheets-USER DATA').item.json.default_include_images }}","image_generation_style":"={{ $('Google Sheets-USER DATA').item.json.default_image_generation_style }}","image_height":"={{ $('Google Sheets-USER DATA').item.json.defaut_image_height }}","image_width":"={{ $('Google Sheets-USER DATA').item.json.defaut_image_width }}","added_on_date_time":"={{ $('CURRENT TIMESTAMP').item.json.currentDate }}","post_on_linkedin":"={{ $('Google Sheets-USER DATA').item.json.post_on_linkedin }}","post_on_facebook":"={{ $('Google Sheets-USER DATA').item.json.post_on_facebook }}","post_on_instagram":"={{ $('Google Sheets-USER DATA').item.json.post_on_instagram }}","post_on_youtube":"={{ $('Google Sheets-USER DATA').item.json.post_on_youtube }}","post_on_wordpress_website":"={{ $('Google Sheets-USER DATA').item.json.post_on_wordpress_website }}","post_on_blogger":"={{ $('Google Sheets-USER DATA').item.json.post_on_blogger }}","post_on_x":"={{ $('Google Sheets-USER DATA').item.json.post_on_x }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_id_unique_id","displayName":"email_id_unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"persona","displayName":"persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gender","displayName":"gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_region","displayName":"target_region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_audience","displayName":"target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_id","displayName":"facebook_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic_of_post","displayName":"topic_of_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_mode_required","displayName":"research_mode_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"include_images","displayName":"include_images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_generation_style","displayName":"image_generation_style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_height","displayName":"image_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image_width","displayName":"image_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_on_date_time","displayName":"added_on_date_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_linkedin","displayName":"post_on_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_facebook","displayName":"post_on_facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_instagram","displayName":"post_on_instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_youtube","displayName":"post_on_youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_wordpress_website","displayName":"post_on_wordpress_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_blogger","displayName":"post_on_blogger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_on_x","displayName":"post_on_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_content_generated_by_ai","displayName":"post_content_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_title_generated_by_ai","displayName":"post_title_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_image_generation_prompt_generated_by_ai","displayName":"post_image_generation_prompt_generated_by_ai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_image_url","displayName":"generated_image_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unique_google_drive_file_id","displayName":"unique_google_drive_file_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post_url","displayName":"linkedin_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_post_url","displayName":"facebook_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram_post_url","displayName":"instagram_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_post_url","displayName":"youtube_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wordpress_website_post_url","displayName":"wordpress_website_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"blogger_post_url","displayName":"blogger_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"x_post_url","displayName":"x_post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[820,-640],"id":"7c5d4e59-29e7-42a1-a572-2d608e644466","name":"Google Sheets_UPLOAD IN POSTS QUEUE","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $('Google Sheets-USER DATA').item.json.unique_telegram_id }}","text":"=🤖 Autopilot Engaged.\nPost Topic: {{ $('AI Agent1').item.json.output.keyword }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1360,-740],"id":"cd4d94bc-86fa-446b-94f3-f752315c7ad2","name":"Telegram-SendMESSAGE","webhookId":"5fbb11c0-a3cd-492c-918e-4492b752c18e","credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1060,-1080],"id":"99f2f34e-9b71-4a34-a90f-f1d07e49af23","name":"Loop Over Items"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Google Sheets_UPLOAD IN POSTS QUEUE","type":"main","index":0}]]},"Google Sheets-USER DATA":{"main":[[{"node":"If-AUTOPILOT","type":"main","index":0}]]},"GET TIME DIFFERENCE":{"main":[[{"node":"If-TIME DIFF","type":"main","index":0}]]},"CURRENT TIMESTAMP":{"main":[[{"node":"GET TIME DIFFERENCE","type":"main","index":0}]]},"If-TIME DIFF":{"main":[[{"node":"Google Sheets-USER DATA","type":"main","index":0}]]},"If-AUTOPILOT":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets_UPLOAD IN POSTS QUEUE":{"main":[[{"node":"Google Sheets-UPDATE AUTOMATION STATUS","type":"main","index":0}]]},"Google Sheets-UPDATE AUTOMATION STATUS":{"main":[[{"node":"Telegram-SendMESSAGE","type":"main","index":0}]]},"Telegram-SendMESSAGE":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"CURRENT TIMESTAMP","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8dab3826-3a16-44fb-9d26-a37a78eeaca6","triggerCount":1,"tags":[]}