workflow-error-handler-8Hy8BAUjweqnosaD.json
{"createdAt":"2025-06-02T04:20:44.715Z","updatedAt":"2025-06-02T04:37:46.000Z","id":"8Hy8BAUjweqnosaD","name":"WorkFlow Error Handler","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-420,-40],"id":"4477dbe9-d7cc-409a-a88a-a395a0797cb5","name":"Error Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s","mode":"list","cachedResultName":"ErrorLogs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13g0Igq4vNAR-I1kSJOerY43GHV4OFP5ot5-WfnSKK8s/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ERROR URL":"={{ $json.execution.url }}","UNIQUE PROCESS WORKFLOW NAME":"={{ $json.workflow.name }}","TIMESTAMP OF FAILURE":"={{ $now }}","ERROR MESSAGE":"={{ $json.execution.error.message }}","STACK":"={{ $json.execution.error.stack }}","LAST NODE EXECUTED":"={{ $json.execution.lastNodeExecuted }}"},"matchingColumns":[],"schema":[{"id":"UNIQUE PROCESS WORKFLOW NAME","displayName":"UNIQUE PROCESS WORKFLOW NAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TIMESTAMP OF FAILURE","displayName":"TIMESTAMP OF FAILURE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ERROR URL","displayName":"ERROR URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERROR MESSAGE","displayName":"ERROR MESSAGE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STACK","displayName":"STACK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LAST NODE EXECUTED","displayName":"LAST NODE EXECUTED","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RETRY ACTIVATED","displayName":"RETRY ACTIVATED","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-200,-40],"id":"dbcf6ee7-7f40-4d00-95ac-1a44fde4fea5","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"J04RjWGAX36g5zJS","name":"Google Sheets account"}}},{"parameters":{"chatId":"-4801660393","text":"=🚨 CRITICAL ALERT: ERROR TRIGGER ACTIVATED.\nDetails of the error:\nUNIQUE PROCESS WORKFLOW NAME: {{ $json['UNIQUE PROCESS WORKFLOW NAME'] }}\nTIMESTAMP: {{ $json['TIMESTAMP OF FAILURE'] }}\nERROR URL: {{ $json['ERROR URL'] }}\nERROR MESSAGE: {{ $json['ERROR MESSAGE'] }}\nLAST NODE EXECUTED: {{ $json['LAST NODE EXECUTED'] }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"b1edaea3-1e44-4e57-82cd-a9e18739d61f","name":"sendTextMessage2","type":"n8n-nodes-base.telegram","position":[20,-40],"webhookId":"1d1eee00-2306-4ac1-870f-0988e305f0d0","typeVersion":1,"credentials":{"telegramApi":{"id":"MIsHtLlXOq4xu2sv","name":"Telegram account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"sendTextMessage2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6c1c97f0-4a30-467d-918f-eae27ffdf7b0","triggerCount":0,"tags":[]}